


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 113. The Forge.</h1></header>
<p>With matted beard, and swathed in a bristling shark-skin apron, about mid-day, Perth was standing between his forge and anvil, the latter placed upon an iron-wood log, with one hand holding a pike-head in the coals, and with the other at his forge’s lungs, when Captain Ahab came along, carrying in his hand a small rusty-looking leathern bag. While yet a little distance from the forge, moody Ahab paused; till at last, Perth, withdrawing his iron from the fire, began hammering it upon the anvil—the red mass sending off the sparks in thick hovering flights, some of which flew close to Ahab.</p>
<p>“Are these thy Mother Carey’s chickens, Perth? they are always flying in thy wake; birds of good omen, too, but not to all;—look here, they burn; but thou—thou liv’st among them without a scorch.”</p>
<p>“Because I am scorched all over, Captain Ahab,” answered Perth, resting for a moment on his hammer; “I am past scorching; not easily can’st thou scorch a scar.”</p>
<p>“Well, well; no more. Thy shrunk voice sounds too calmly, sanely woeful to me. In no Paradise myself, I am impatient of all misery in others that is not mad. Thou should’st go mad, blacksmith; say, why dost thou not go mad? How can’st thou endure without being mad? Do the heavens yet hate thee, that thou can’st not go mad?—What wert thou making there?”</p>
<p>“Welding an old pike-head, sir; there were seams and dents in it.”</p>
<p>“And can’st thou make it all smooth again, blacksmith, after such hard usage as it had?”</p>
<p>“I think so, sir.”</p>
<p>“And I suppose thou can’st smoothe almost any seams and dents; never mind how hard the metal, blacksmith?”</p>
<p>“Aye, sir, I think I can; all seams and dents but one.”</p>
<p>“Look ye here, then,” cried Ahab, passionately advancing, and leaning with both hands on Perth’s shoulders; “look ye here—HERE—can ye smoothe out a seam like this, blacksmith,” sweeping one hand across his ribbed brow; “if thou could’st, blacksmith, glad enough would I lay my head upon thy anvil, and feel thy heaviest hammer between my eyes. Answer! Can’st thou smoothe this seam?”</p>
<p>“Oh! that is the one, sir! Said I not all seams and dents but one?”</p>
<p>“Aye, blacksmith, it is the one; aye, man, it is unsmoothable; for though thou only see’st it here in my flesh, it has worked down into the bone of my skull—THAT is all wrinkles! But, away with child’s play; no more gaffs and pikes to-day. Look ye here!” jingling the leathern bag, as if it were full of gold coins. “I, too, want a harpoon made; one that a thousand yoke of fiends could not part, Perth; something that will stick in a whale like his own fin-bone. There’s the stuff,” flinging the pouch upon the anvil. “Look ye, blacksmith, these are the gathered nail-stubbs of the steel shoes of racing horses.”</p>
<p>“Horse-shoe stubbs, sir? Why, Captain Ahab, thou hast here, then, the best and stubbornest stuff we blacksmiths ever work.”</p>
<p>“I know it, old man; these stubbs will weld together like glue from the melted bones of murderers. Quick! forge me the harpoon. And forge me first, twelve rods for its shank; then wind, and twist, and hammer these twelve together like the yarns and strands of a tow-line. Quick! I’ll blow the fire.”</p>
<p>When at last the twelve rods were made, Ahab tried them, one by one, by spiralling them, with his own hand, round a long, heavy iron bolt. “A flaw!” rejecting the last one. “Work that over again, Perth.”</p>
<p>This done, Perth was about to begin welding the twelve into one, when Ahab stayed his hand, and said he would weld his own iron. As, then, with regular, gasping hems, he hammered on the anvil, Perth passing to him the glowing rods, one after the other, and the hard pressed forge shooting up its intense straight flame, the Parsee passed silently, and bowing over his head towards the fire, seemed invoking some curse or some blessing on the toil. But, as Ahab looked up, he slid aside.</p>
<p>“What’s that bunch of lucifers dodging about there for?” muttered Stubb, looking on from the forecastle. “That Parsee smells fire like a fusee; and smells of it himself, like a hot musket’s powder-pan.”</p>
<p>At last the shank, in one complete rod, received its final heat; and as Perth, to temper it, plunged it all hissing into the cask of water near by, the scalding steam shot up into Ahab’s bent face.</p>
<p>“Would’st thou brand me, Perth?” wincing for a moment with the pain; “have I been but forging my own branding-iron, then?”</p>
<p>“Pray God, not that; yet I fear something, Captain Ahab. Is not this harpoon for the White Whale?”</p>
<p>“For the white fiend! But now for the barbs; thou must make them thyself, man. Here are my razors—the best of steel; here, and make the barbs sharp as the needle-sleet of the Icy Sea.”</p>
<p>For a moment, the old blacksmith eyed the razors as though he would fain not use them.</p>
<p>“Take them, man, I have no need for them; for I now neither shave, sup, nor pray till—but here—to work!”</p>
<p>Fashioned at last into an arrowy shape, and welded by Perth to the shank, the steel soon pointed the end of the iron; and as the blacksmith was about giving the barbs their final heat, prior to tempering them, he cried to Ahab to place the water-cask near.</p>
<p>“No, no—no water for that; I want it of the true death-temper. Ahoy, there! Tashtego, Queequeg, Daggoo! What say ye, pagans! Will ye give me as much blood as will cover this barb?” holding it high up. A cluster of dark nods replied, Yes. Three punctures were made in the heathen flesh, and the White Whale’s barbs were then tempered.</p>
<p>“Ego non baptizo te in nomine patris, sed in nomine diaboli!” deliriously howled Ahab, as the malignant iron scorchingly devoured the baptismal blood.</p>
<p>Now, mustering the spare poles from below, and selecting one of hickory, with the bark still investing it, Ahab fitted the end to the socket of the iron. A coil of new tow-line was then unwound, and some fathoms of it taken to the windlass, and stretched to a great tension. Pressing his foot upon it, till the rope hummed like a harp-string, then eagerly bending over it, and seeing no strandings, Ahab exclaimed, “Good! and now for the seizings.”</p>
<p>At one extremity the rope was unstranded, and the separate spread yarns were all braided and woven round the socket of the harpoon; the pole was then driven hard up into the socket; from the lower end the rope was traced half-way along the pole’s length, and firmly secured so, with intertwistings of twine. This done, pole, iron, and rope—like the Three Fates—remained inseparable, and Ahab moodily stalked away with the weapon; the sound of his ivory leg, and the sound of the hickory pole, both hollowly ringing along every plank. But ere he entered his cabin, light, unnatural, half-bantering, yet most piteous sound was heard. Oh, Pip! thy wretched laugh, thy idle but unresting eye; all thy strange mummeries not unmeaningly blended with the black tragedy of the melancholy ship, and mocked it!</p>
</section>
