


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 115. The Pequod Meets The Bachelor.</h1></header>
<p>And jolly enough were the sights and the sounds that came bearing down before the wind, some few weeks after Ahab’s harpoon had been welded.</p>
<p>It was a Nantucket ship, the Bachelor, which had just wedged in her last cask of oil, and bolted down her bursting hatches; and now, in glad holiday apparel, was joyously, though somewhat vain-gloriously, sailing round among the widely-separated ships on the ground, previous to pointing her prow for home.</p>
<p>The three men at her mast-head wore long streamers of narrow red bunting at their hats; from the stern, a whale-boat was suspended, bottom down; and hanging captive from the bowsprit was seen the long lower jaw of the last whale they had slain. Signals, ensigns, and jacks of all colours were flying from her rigging, on every side. Sideways lashed in each of her three basketed tops were two barrels of sperm; above which, in her top-mast cross-trees, you saw slender breakers of the same precious fluid; and nailed to her main truck was a brazen lamp.</p>
<p>As was afterwards learned, the Bachelor had met with the most surprising success; all the more wonderful, for that while cruising in the same seas numerous other vessels had gone entire months without securing a single fish. Not only had barrels of beef and bread been given away to make room for the far more valuable sperm, but additional supplemental casks had been bartered for, from the ships she had met; and these were stowed along the deck, and in the captain’s and officers’ state-rooms. Even the cabin table itself had been knocked into kindling-wood; and the cabin mess dined off the broad head of an oil-butt, lashed down to the floor for a centrepiece. In the forecastle, the sailors had actually caulked and pitched their chests, and filled them; it was humorously added, that the cook had clapped a head on his largest boiler, and filled it; that the steward had plugged his spare coffee-pot and filled it; that the harpooneers had headed the sockets of their irons and filled them; that indeed everything was filled with sperm, except the captain’s pantaloons pockets, and those he reserved to thrust his hands into, in self-complacent testimony of his entire satisfaction.</p>
<p>As this glad ship of good luck bore down upon the moody Pequod, the barbarian sound of enormous drums came from her forecastle; and drawing still nearer, a crowd of her men were seen standing round her huge try-pots, which, covered with the parchment-like POKE or stomach skin of the black fish, gave forth a loud roar to every stroke of the clenched hands of the crew. On the quarter-deck, the mates and harpooneers were dancing with the olive-hued girls who had eloped with them from the Polynesian Isles; while suspended in an ornamented boat, firmly secured aloft between the foremast and mainmast, three Long Island negroes, with glittering fiddle-bows of whale ivory, were presiding over the hilarious jig. Meanwhile, others of the ship’s company were tumultuously busy at the masonry of the try-works, from which the huge pots had been removed. You would have almost thought they were pulling down the cursed Bastille, such wild cries they raised, as the now useless brick and mortar were being hurled into the sea.</p>
<p>Lord and master over all this scene, the captain stood erect on the ship’s elevated quarter-deck, so that the whole rejoicing drama was full before him, and seemed merely contrived for his own individual diversion.</p>
<p>And Ahab, he too was standing on his quarter-deck, shaggy and black, with a stubborn gloom; and as the two ships crossed each other’s wakes—one all jubilations for things passed, the other all forebodings as to things to come—their two captains in themselves impersonated the whole striking contrast of the scene.</p>
<p>“Come aboard, come aboard!” cried the gay Bachelor’s commander, lifting a glass and a bottle in the air.</p>
<p>“Hast seen the White Whale?” gritted Ahab in reply.</p>
<p>“No; only heard of him; but don’t believe in him at all,” said the other good-humoredly. “Come aboard!”</p>
<p>“Thou art too damned jolly. Sail on. Hast lost any men?”</p>
<p>“Not enough to speak of—two islanders, that’s all;—but come aboard, old hearty, come along. I’ll soon take that black from your brow. Come along, will ye (merry’s the play); a full ship and homeward-bound.”</p>
<p>“How wondrous familiar is a fool!” muttered Ahab; then aloud, “Thou art a full ship and homeward bound, thou sayst; well, then, call me an empty ship, and outward-bound. So go thy ways, and I will mine. Forward there! Set all sail, and keep her to the wind!”</p>
<p>And thus, while the one ship went cheerily before the breeze, the other stubbornly fought against it; and so the two vessels parted; the crew of the Pequod looking with grave, lingering glances towards the receding Bachelor; but the Bachelor’s men never heeding their gaze for the lively revelry they were in. And as Ahab, leaning over the taffrail, eyed the homewardbound craft, he took from his pocket a small vial of sand, and then looking from the ship to the vial, seemed thereby bringing two remote associations together, for that vial was filled with Nantucket soundings.</p>
</section>
