


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 129. The Cabin.</h1></header>
<p class="direction-rw">(AHAB MOVING TO GO ON DECK; PIP CATCHES HIM BY THE HAND TO FOLLOW.)</p>
<p>“Lad, lad, I tell thee thou must not follow Ahab now. The hour is coming when Ahab would not scare thee from him, yet would not have thee by him. There is that in thee, poor lad, which I feel too curing to my malady. Like cures like; and for this hunt, my malady becomes my most desired health. Do thou abide below here, where they shall serve thee, as if thou wert the captain. Aye, lad, thou shalt sit here in my own screwed chair; another screw to it, thou must be.”</p>
<p>“No, no, no! ye have not a whole body, sir; do ye but use poor me for your one lost leg; only tread upon me, sir; I ask no more, so I remain a part of ye.”</p>
<p>“Oh! spite of million villains, this makes me a bigot in the fadeless fidelity of man!—and a black! and crazy!—but methinks like-cures-like applies to him too; he grows so sane again.”</p>
<p>“They tell me, sir, that Stubb did once desert poor little Pip, whose drowned bones now show white, for all the blackness of his living skin. But I will never desert ye, sir, as Stubb did him. Sir, I must go with ye.”</p>
<p>“If thou speakest thus to me much more, Ahab’s purpose keels up in him. I tell thee no; it cannot be.”</p>
<p>“Oh good master, master, master!</p>
<p>“Weep so, and I will murder thee! have a care, for Ahab too is mad. Listen, and thou wilt often hear my ivory foot upon the deck, and still know that I am there. And now I quit thee. Thy hand!—Met! True art thou, lad, as the circumference to its centre. So: God for ever bless thee; and if it come to that,—God for ever save thee, let what will befall.”</p>
<p class="direction-rw">(AHAB GOES; PIP STEPS ONE STEP FORWARD.)</p>
<p>“Here he this instant stood; I stand in his air,—but I’m alone. Now were even poor Pip here I could endure it, but he’s missing. Pip! Pip! Ding, dong, ding! Who’s seen Pip? He must be up here; let’s try the door. What? neither lock, nor bolt, nor bar; and yet there’s no opening it. It must be the spell; he told me to stay here: Aye, and told me this screwed chair was mine. Here, then, I’ll seat me, against the transom, in the ship’s full middle, all her keel and her three masts before me. Here, our old sailors say, in their black seventy-fours great admirals sometimes sit at table, and lord it over rows of captains and lieutenants. Ha! what’s this? epaulets! epaulets! the epaulets all come crowding! Pass round the decanters; glad to see ye; fill up, monsieurs! What an odd feeling, now, when a black boy’s host to white men with gold lace upon their coats!—Monsieurs, have ye seen one Pip?—a little negro lad, five feet high, hang-dog look, and cowardly! Jumped from a whale-boat once;—seen him? No! Well then, fill up again, captains, and let’s drink shame upon all cowards! I name no names. Shame upon them! Put one foot upon the table. Shame upon all cowards.—Hist! above there, I hear ivory—Oh, master! master! I am indeed down-hearted when you walk over me. But here I’ll stay, though this stern strikes rocks; and they bulge through; and oysters come to join me.”</p>
</section>
