


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 103. Measurement of The Whale’s Skeleton.</h1></header>
<p>In the first place, I wish to lay before you a particular, plain statement, touching the living bulk of this leviathan, whose skeleton we are briefly to exhibit. Such a statement may prove useful here.</p>
<p>According to a careful calculation I have made, and which I partly base upon Captain Scoresby’s estimate, of seventy tons for the largest sized Greenland whale of sixty feet in length; according to my careful calculation, I say, a Sperm Whale of the largest magnitude, between eighty-five and ninety feet in length, and something less than forty feet in its fullest circumference, such a whale will weigh at least ninety tons; so that, reckoning thirteen men to a ton, he would considerably outweigh the combined population of a whole village of one thousand one hundred inhabitants.</p>
<p>Think you not then that brains, like yoked cattle, should be put to this leviathan, to make him at all budge to any landsman’s imagination?</p>
<p>Having already in various ways put before you his skull, spout-hole, jaw, teeth, tail, forehead, fins, and divers other parts, I shall now simply point out what is most interesting in the general bulk of his unobstructed bones. But as the colossal skull embraces so very large a proportion of the entire extent of the skeleton; as it is by far the most complicated part; and as nothing is to be repeated concerning it in this chapter, you must not fail to carry it in your mind, or under your arm, as we proceed, otherwise you will not gain a complete notion of the general structure we are about to view.</p>
<p>In length, the Sperm Whale’s skeleton at Tranque measured seventy-two Feet; so that when fully invested and extended in life, he must have been ninety feet long; for in the whale, the skeleton loses about one fifth in length compared with the living body. Of this seventy-two feet, his skull and jaw comprised some twenty feet, leaving some fifty feet of plain back-bone. Attached to this back-bone, for something less than a third of its length, was the mighty circular basket of ribs which once enclosed his vitals.</p>
<p>To me this vast ivory-ribbed chest, with the long, unrelieved spine, extending far away from it in a straight line, not a little resembled the hull of a great ship new-laid upon the stocks, when only some twenty of her naked bow-ribs are inserted, and the keel is otherwise, for the time, but a long, disconnected timber.</p>
<p>The ribs were ten on a side. The first, to begin from the neck, was nearly six feet long; the second, third, and fourth were each successively longer, till you came to the climax of the fifth, or one of the middle ribs, which measured eight feet and some inches. From that part, the remaining ribs diminished, till the tenth and last only spanned five feet and some inches. In general thickness, they all bore a seemly correspondence to their length. The middle ribs were the most arched. In some of the Arsacides they are used for beams whereon to lay footpath bridges over small streams.</p>
<p>In considering these ribs, I could not but be struck anew with the circumstance, so variously repeated in this book, that the skeleton of the whale is by no means the mould of his invested form. The largest of the Tranque ribs, one of the middle ones, occupied that part of the fish which, in life, is greatest in depth. Now, the greatest depth of the invested body of this particular whale must have been at least sixteen feet; whereas, the corresponding rib measured but little more than eight feet. So that this rib only conveyed half of the true notion of the living magnitude of that part. Besides, for some way, where I now saw but a naked spine, all that had been once wrapped round with tons of added bulk in flesh, muscle, blood, and bowels. Still more, for the ample fins, I here saw but a few disordered joints; and in place of the weighty and majestic, but boneless flukes, an utter blank!</p>
<p>How vain and foolish, then, thought I, for timid untravelled man to try to comprehend aright this wondrous whale, by merely poring over his dead attenuated skeleton, stretched in this peaceful wood. No. Only in the heart of quickest perils; only when within the eddyings of his angry flukes; only on the profound unbounded sea, can the fully invested whale be truly and livingly found out.</p>
<p>But the spine. For that, the best way we can consider it is, with a crane, to pile its bones high up on end. No speedy enterprise. But now it’s done, it looks much like Pompey’s Pillar.</p>
<p>There are forty and odd vertebrae in all, which in the skeleton are not locked together. They mostly lie like the great knobbed blocks on a Gothic spire, forming solid courses of heavy masonry. The largest, a middle one, is in width something less than three feet, and in depth more than four. The smallest, where the spine tapers away into the tail, is only two inches in width, and looks something like a white billiard-ball. I was told that there were still smaller ones, but they had been lost by some little cannibal urchins, the priest’s children, who had stolen them to play marbles with. Thus we see how that the spine of even the hugest of living things tapers off at last into simple child’s play.</p>
</section>
