


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 40. Midnight, Forecastle.</h1></header>
<h3>HARPOONEERS AND SAILORS.</h3>
<p>(FORESAIL RISES AND DISCOVERS THE WATCH STANDING, LOUNGING, LEANING, AND LYING IN VARIOUS ATTITUDES, ALL SINGING IN CHORUS.)</p>
<div class="block-rw extract-verse-rw">
     Farewell and adieu to you, Spanish ladies!
     Farewell and adieu to you, ladies of Spain!
     Our captain’s commanded.—</div>
<p>1ST NANTUCKET SAILOR. Oh, boys, don’t be sentimental; it’s bad for the digestion! Take a tonic, follow me! (SINGS, AND ALL FOLLOW)</p>
<div class="block-rw extract-verse-rw">
    Our captain stood upon the deck,
    A spy-glass in his hand,
    A viewing of those gallant whales
    That blew at every strand.
    Oh, your tubs in your boats, my boys,
    And by your braces stand,
    And we’ll have one of those fine whales,
    Hand, boys, over hand!
    So, be cheery, my lads! may your hearts never fail!
    While the bold harpooner is striking the whale!</div>
<p>MATE’S VOICE FROM THE QUARTER-DECK. Eight bells there, forward!</p>
<p>2ND NANTUCKET SAILOR. Avast the chorus! Eight bells there! d’ye hear, bell-boy? Strike the bell eight, thou Pip! thou blackling! and let me call the watch. I’ve the sort of mouth for that—the hogshead mouth. So, so, (THRUSTS HIS HEAD DOWN THE SCUTTLE,) Star-bo-l-e-e-n-s, a-h-o-y! Eight bells there below! Tumble up!</p>
<p>DUTCH SAILOR. Grand snoozing to-night, maty; fat night for that. I mark this in our old Mogul’s wine; it’s quite as deadening to some as filliping to others. We sing; they sleep—aye, lie down there, like ground-tier butts. At ’em again! There, take this copper-pump, and hail ’em through it. Tell ’em to avast dreaming of their lasses. Tell ’em it’s the resurrection; they must kiss their last, and come to judgment. That’s the way—THAT’S it; thy throat ain’t spoiled with eating Amsterdam butter.</p>
<p>FRENCH SAILOR. Hist, boys! let’s have a jig or two before we ride to anchor in Blanket Bay. What say ye? There comes the other watch. Stand by all legs! Pip! little Pip! hurrah with your tambourine!</p>
<p>PIP. (SULKY AND SLEEPY) Don’t know where it is.</p>
<p>FRENCH SAILOR. Beat thy belly, then, and wag thy ears. Jig it, men, I say; merry’s the word; hurrah! Damn me, won’t you dance? Form, now, Indian-file, and gallop into the double-shuffle? Throw yourselves! Legs! legs!</p>
<p>ICELAND SAILOR. I don’t like your floor, maty; it’s too springy to my taste. I’m used to ice-floors. I’m sorry to throw cold water on the subject; but excuse me.</p>
<p>MALTESE SAILOR. Me too; where’s your girls? Who but a fool would take his left hand by his right, and say to himself, how d’ye do? Partners! I must have partners!</p>
<p>SICILIAN SAILOR. Aye; girls and a green!—then I’ll hop with ye; yea, turn grasshopper!</p>
<p>LONG-ISLAND SAILOR. Well, well, ye sulkies, there’s plenty more of us. Hoe corn when you may, say I. All legs go to harvest soon. Ah! here comes the music; now for it!</p>
<p>AZORE SAILOR. (ASCENDING, AND PITCHING THE TAMBOURINE UP THE SCUTTLE.) Here you are, Pip; and there’s the windlass-bitts; up you mount! Now, boys! (THE HALF OF THEM DANCE TO THE TAMBOURINE; SOME GO BELOW; SOME SLEEP OR LIE AMONG THE COILS OF RIGGING. OATHS A-PLENTY.)</p>
<p>AZORE SAILOR. (DANCING) Go it, Pip! Bang it, bell-boy! Rig it, dig it, stig it, quig it, bell-boy! Make fire-flies; break the jinglers!</p>
<p>PIP. Jinglers, you say?—there goes another, dropped off; I pound it so.</p>
<p>CHINA SAILOR. Rattle thy teeth, then, and pound away; make a pagoda of thyself.</p>
<p>FRENCH SAILOR. Merry-mad! Hold up thy hoop, Pip, till I jump through it! Split jibs! tear yourselves!</p>
<p>TASHTEGO. (QUIETLY SMOKING) That’s a white man; he calls that fun: humph! I save my sweat.</p>
<p>OLD MANX SAILOR. I wonder whether those jolly lads bethink them of what they are dancing over. I’ll dance over your grave, I will—that’s the bitterest threat of your night-women, that beat head-winds round corners. O Christ! to think of the green navies and the green-skulled crews! Well, well; belike the whole world’s a ball, as you scholars have it; and so 'tis right to make one ballroom of it. Dance on, lads, you’re young; I was once.</p>
<p>3D NANTUCKET SAILOR. Spell oh!—whew! this is worse than pulling after whales in a calm—give us a whiff, Tash.</p>
<p>(THEY CEASE DANCING, AND GATHER IN CLUSTERS. MEANTIME THE SKY DARKENS—THE WIND RISES.)</p>
<p>LASCAR SAILOR. By Brahma! boys, it’ll be douse sail soon. The sky-born, high-tide Ganges turned to wind! Thou showest thy black brow, Seeva!</p>
<p>MALTESE SAILOR. (RECLINING AND SHAKING HIS CAP.) It’s the waves—the snow’s caps turn to jig it now. They’ll shake their tassels soon. Now would all the waves were women, then I’d go drown, and chassee with them evermore! There’s naught so sweet on earth—heaven may not match it!—as those swift glances of warm, wild bosoms in the dance, when the over-arboring arms hide such ripe, bursting grapes.</p>
<p>SICILIAN SAILOR. (RECLINING.) Tell me not of it! Hark ye, lad—fleet interlacings of the limbs—lithe swayings—coyings—flutterings! lip! heart! hip! all graze: unceasing touch and go! not taste, observe ye, else come satiety. Eh, Pagan? (NUDGING.)</p>
<p>TAHITAN SAILOR. (RECLINING ON A MAT.) Hail, holy nakedness of our dancing girls!—the Heeva-Heeva! Ah! low veiled, high palmed Tahiti! I still rest me on thy mat, but the soft soil has slid! I saw thee woven in the wood, my mat! green the first day I brought ye thence; now worn and wilted quite. Ah me!—not thou nor I can bear the change! How then, if so be transplanted to yon sky? Hear I the roaring streams from Pirohitee’s peak of spears, when they leap down the crags and drown the villages?—The blast! the blast! Up, spine, and meet it! (LEAPS TO HIS FEET.)</p>
<p>PORTUGUESE SAILOR. How the sea rolls swashing 'gainst the side! Stand by for reefing, hearties! the winds are just crossing swords, pell-mell they’ll go lunging presently.</p>
<p>DANISH SAILOR. Crack, crack, old ship! so long as thou crackest, thou holdest! Well done! The mate there holds ye to it stiffly. He’s no more afraid than the isle fort at Cattegat, put there to fight the Baltic with storm-lashed guns, on which the sea-salt cakes!</p>
<p>4TH NANTUCKET SAILOR. He has his orders, mind ye that. I heard old Ahab tell him he must always kill a squall, something as they burst a waterspout with a pistol—fire your ship right into it!</p>
<p>ENGLISH SAILOR. Blood! but that old man’s a grand old cove! We are the lads to hunt him up his whale!</p>
<p>ALL. Aye! aye!</p>
<p>OLD MANX SAILOR. How the three pines shake! Pines are the hardest sort of tree to live when shifted to any other soil, and here there’s none but the crew’s cursed clay. Steady, helmsman! steady. This is the sort of weather when brave hearts snap ashore, and keeled hulls split at sea. Our captain has his birthmark; look yonder, boys, there’s another in the sky—lurid-like, ye see, all else pitch black.</p>
<p>DAGGOO. What of that? Who’s afraid of black’s afraid of me! I’m quarried out of it!</p>
<p>SPANISH SAILOR. (ASIDE.) He wants to bully, ah!—the old grudge makes me touchy (ADVANCING.) Aye, harpooneer, thy race is the undeniable dark side of mankind—devilish dark at that. No offence.</p>
<p>DAGGOO (GRIMLY). None.</p>
<p>ST. JAGO’S SAILOR. That Spaniard’s mad or drunk. But that can’t be, or else in his one case our old Mogul’s fire-waters are somewhat long in working.</p>
<p>5TH NANTUCKET SAILOR. What’s that I saw—lightning? Yes.</p>
<p>SPANISH SAILOR. No; Daggoo showing his teeth.</p>
<p>DAGGOO (SPRINGING). Swallow thine, mannikin! White skin, white liver!</p>
<p>SPANISH SAILOR (MEETING HIM). Knife thee heartily! big frame, small spirit!</p>
<p>ALL. A row! a row! a row!</p>
<p>TASHTEGO (WITH A WHIFF). A row a’low, and a row aloft—Gods and men—both brawlers! Humph!</p>
<p>BELFAST SAILOR. A row! arrah a row! The Virgin be blessed, a row! Plunge in with ye!</p>
<p>ENGLISH SAILOR. Fair play! Snatch the Spaniard’s knife! A ring, a ring!</p>
<p>OLD MANX SAILOR. Ready formed. There! the ringed horizon. In that ring Cain struck Abel. Sweet work, right work! No? Why then, God, mad’st thou the ring?</p>
<p>MATE’S VOICE FROM THE QUARTER-DECK. Hands by the halyards! in top-gallant sails! Stand by to reef topsails!</p>
<p>ALL. The squall! the squall! jump, my jollies! (THEY SCATTER.)</p>
<p>PIP (SHRINKING UNDER THE WINDLASS). Jollies? Lord help such jollies! Crish, crash! there goes the jib-stay! Blang-whang! God! Duck lower, Pip, here comes the royal yard! It’s worse than being in the whirled woods, the last day of the year! Who’d go climbing after chestnuts now? But there they go, all cursing, and here I don’t. Fine prospects to 'em; they’re on the road to heaven. Hold on hard! Jimmini, what a squall! But those chaps there are worse yet—they are your white squalls, they. White squalls? white whale, shirr! shirr! Here have I heard all their chat just now, and the white whale—shirr! shirr!—but spoken of once! and only this evening—it makes me jingle all over like my tambourine—that anaconda of an old man swore ’em in to hunt him! Oh, thou big white God aloft there somewhere in yon darkness, have mercy on this small black boy down here; preserve him from all men that have no bowels to feel fear!</p>
</section>
