


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 108. Ahab and the Carpenter.</h1></header>
<h3>The Deck—First Night Watch.</h3>
<p>(CARPENTER STANDING BEFORE HIS VICE-BENCH, AND BY THE LIGHT OF TWO LANTERNS BUSILY FILING THE IVORY JOIST FOR THE LEG, WHICH JOIST IS FIRMLY FIXED IN THE VICE. SLABS OF IVORY, LEATHER STRAPS, PADS, SCREWS, AND VARIOUS TOOLS OF ALL SORTS LYING ABOUT THE BENCH. FORWARD, THE RED FLAME OF THE FORGE IS SEEN, WHERE THE BLACKSMITH IS AT WORK.)</p>
<p>Drat the file, and drat the bone! That is hard which should be soft, and that is soft which should be hard. So we go, who file old jaws and shinbones. Let’s try another. Aye, now, this works better (SNEEZES). Halloa, this bone dust is (SNEEZES)—why it’s (SNEEZES)—yes it’s (SNEEZES)—bless my soul, it won’t let me speak! This is what an old fellow gets now for working in dead lumber. Saw a live tree, and you don’t get this dust; amputate a live bone, and you don’t get it (SNEEZES). Come, come, you old Smut, there, bear a hand, and let’s have that ferule and buckle-screw; I’ll be ready for them presently. Lucky now (SNEEZES) there’s no knee-joint to make; that might puzzle a little; but a mere shinbone—why it’s easy as making hop-poles; only I should like to put a good finish on. Time, time; if I but only had the time, I could turn him out as neat a leg now as ever (SNEEZES) scraped to a lady in a parlor. Those buckskin legs and calves of legs I’ve seen in shop windows wouldn’t compare at all. They soak water, they do; and of course get rheumatic, and have to be doctored (SNEEZES) with washes and lotions, just like live legs. There; before I saw it off, now, I must call his old Mogulship, and see whether the length will be all right; too short, if anything, I guess. Ha! that’s the heel; we are in luck; here he comes, or it’s somebody else, that’s certain.</p>
<p class="direction-rw">AHAB (ADVANCING)</p>
<p class="direction-rw">(DURING THE ENSUING SCENE, THE CARPENTER CONTINUES SNEEZING AT TIMES)</p>
<p>Well, manmaker!</p>
<p>Just in time, sir. If the captain pleases, I will now mark the length. Let me measure, sir.</p>
<p>Measured for a leg! good. Well, it’s not the first time. About it! There; keep thy finger on it. This is a cogent vice thou hast here, carpenter; let me feel its grip once. So, so; it does pinch some.</p>
<p>Oh, sir, it will break bones—beware, beware!</p>
<p>No fear; I like a good grip; I like to feel something in this slippery world that can hold, man. What’s Prometheus about there?—the blacksmith, I mean—what’s he about?</p>
<p>He must be forging the buckle-screw, sir, now.</p>
<p>Right. It’s a partnership; he supplies the muscle part. He makes a fierce red flame there!</p>
<p>Aye, sir; he must have the white heat for this kind of fine work.</p>
<p>Um-m. So he must. I do deem it now a most meaning thing, that that old Greek, Prometheus, who made men, they say, should have been a blacksmith, and animated them with fire; for what’s made in fire must properly belong to fire; and so hell’s probable. How the soot flies! This must be the remainder the Greek made the Africans of. Carpenter, when he’s through with that buckle, tell him to forge a pair of steel shoulder-blades; there’s a pedlar aboard with a crushing pack.</p>
<p>Sir?</p>
<p>Hold; while Prometheus is about it, I’ll order a complete man after a desirable pattern. Imprimis, fifty feet high in his socks; then, chest modelled after the Thames Tunnel; then, legs with roots to 'em, to stay in one place; then, arms three feet through the wrist; no heart at all, brass forehead, and about a quarter of an acre of fine brains; and let me see—shall I order eyes to see outwards? No, but put a sky-light on top of his head to illuminate inwards. There, take the order, and away.</p>
<p>Now, what’s he speaking about, and who’s he speaking to, I should like to know? Shall I keep standing here? (ASIDE).</p>
<p>‘Tis but indifferent architecture to make a blind dome; here’s one. No, no, no; I must have a lantern.</p>
<p>Ho, ho! That’s it, hey? Here are two, sir; one will serve my turn.</p>
<p>What art thou thrusting that thief-catcher into my face for, man? Thrusted light is worse than presented pistols.</p>
<p>I thought, sir, that you spoke to carpenter.</p>
<p>Carpenter? why that’s—but no;—a very tidy, and, I may say, an extremely gentlemanlike sort of business thou art in here, carpenter;—or would’st thou rather work in clay?</p>
<p>Sir?—Clay? clay, sir? That’s mud; we leave clay to ditchers, sir.</p>
<p>The fellow’s impious! What art thou sneezing about?</p>
<p>Bone is rather dusty, sir.</p>
<p>Take the hint, then; and when thou art dead, never bury thyself under living people’s noses.</p>
<p>Sir?—oh! ah!—I guess so;—yes—dear!</p>
<p>Look ye, carpenter, I dare say thou callest thyself a right good workmanlike workman, eh? Well, then, will it speak thoroughly well for thy work, if, when I come to mount this leg thou makest, I shall nevertheless feel another leg in the same identical place with it; that is, carpenter, my old lost leg; the flesh and blood one, I mean. Canst thou not drive that old Adam away?</p>
<p>Truly, sir, I begin to understand somewhat now. Yes, I have heard something curious on that score, sir; how that a dismasted man never entirely loses the feeling of his old spar, but it will be still pricking him at times. May I humbly ask if it be really so, sir?</p>
<p>It is, man. Look, put thy live leg here in the place where mine once was; so, now, here is only one distinct leg to the eye, yet two to the soul. Where thou feelest tingling life; there, exactly there, there to a hair, do I. Is’t a riddle?</p>
<p>I should humbly call it a poser, sir.</p>
<p>Hist, then. How dost thou know that some entire, living, thinking thing may not be invisibly and uninterpenetratingly standing precisely where thou now standest; aye, and standing there in thy spite? In thy most solitary hours, then, dost thou not fear eavesdroppers? Hold, don’t speak! And if I still feel the smart of my crushed leg, though it be now so long dissolved; then, why mayst not thou, carpenter, feel the fiery pains of hell for ever, and without a body? Hah!</p>
<p>Good Lord! Truly, sir, if it comes to that, I must calculate over again; I think I didn’t carry a small figure, sir.</p>
<p>Look ye, pudding-heads should never grant premises.—How long before the leg is done?</p>
<p>Perhaps an hour, sir.</p>
<p>Bungle away at it then, and bring it to me (TURNS TO GO). Oh, Life! Here I am, proud as Greek god, and yet standing debtor to this blockhead for a bone to stand on! Cursed be that mortal inter-indebtedness which will not do away with ledgers. I would be free as air; and I’m down in the whole world’s books. I am so rich, I could have given bid for bid with the wealthiest Praetorians at the auction of the Roman empire (which was the world’s); and yet I owe for the flesh in the tongue I brag with. By heavens! I’ll get a crucible, and into it, and dissolve myself down to one small, compendious vertebra. So.</p>
<p class="direction-rw">CARPENTER (RESUMING HIS WORK).</p>
<p>Well, well, well! Stubb knows him best of all, and Stubb always says he’s queer; says nothing but that one sufficient little word queer; he’s queer, says Stubb; he’s queer—queer, queer; and keeps dinning it into Mr. Starbuck all the time—queer—sir—queer, queer, very queer. And here’s his leg! Yes, now that I think of it, here’s his bedfellow! has a stick of whale’s jaw-bone for a wife! And this is his leg; he’ll stand on this. What was that now about one leg standing in three places, and all three places standing in one hell—how was that? Oh! I don’t wonder he looked so scornful at me! I’m a sort of strange-thoughted sometimes, they say; but that’s only haphazard-like. Then, a short, little old body like me, should never undertake to wade out into deep waters with tall, heron-built captains; the water chucks you under the chin pretty quick, and there’s a great cry for life-boats. And here’s the heron’s leg! long and slim, sure enough! Now, for most folks one pair of legs lasts a lifetime, and that must be because they use them mercifully, as a tender-hearted old lady uses her roly-poly old coach-horses. But Ahab; oh he’s a hard driver. Look, driven one leg to death, and spavined the other for life, and now wears out bone legs by the cord. Halloa, there, you Smut! bear a hand there with those screws, and let’s finish it before the resurrection fellow comes a-calling with his horn for all legs, true or false, as brewery-men go round collecting old beer barrels, to fill ’em up again. What a leg this is! It looks like a real live leg, filed down to nothing but the core; he’ll be standing on this to-morrow; he’ll be taking altitudes on it. Halloa! I almost forgot the little oval slate, smoothed ivory, where he figures up the latitude. So, so; chisel, file, and sand-paper, now!</p>
</section>
