


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 124. The Needle.</h1></header>
<p>Next morning the not-yet-subsided sea rolled in long slow billows of mighty bulk, and striving in the Pequod’s gurgling track, pushed her on like giants’ palms outspread. The strong, unstaggering breeze abounded so, that sky and air seemed vast outbellying sails; the whole world boomed before the wind. Muffled in the full morning light, the invisible sun was only known by the spread intensity of his place; where his bayonet rays moved on in stacks. Emblazonings, as of crowned Babylonian kings and queens, reigned over everything. The sea was as a crucible of molten gold, that bubblingly leaps with light and heat.</p>
<p>Long maintaining an enchanted silence, Ahab stood apart; and every time the tetering ship loweringly pitched down her bowsprit, he turned to eye the bright sun’s rays produced ahead; and when she profoundly settled by the stern, he turned behind, and saw the sun’s rearward place, and how the same yellow rays were blending with his undeviating wake.</p>
<p>“Ha, ha, my ship! thou mightest well be taken now for the sea-chariot of the sun. Ho, ho! all ye nations before my prow, I bring the sun to ye! Yoke on the further billows; hallo! a tandem, I drive the sea!”</p>
<p>But suddenly reined back by some counter thought, he hurried towards the helm, huskily demanding how the ship was heading.</p>
<p>“East-sou-east, sir,” said the frightened steersman.</p>
<p>“Thou liest!” smiting him with his clenched fist. “Heading East at this hour in the morning, and the sun astern?”</p>
<p>Upon this every soul was confounded; for the phenomenon just then observed by Ahab had unaccountably escaped every one else; but its very blinding palpableness must have been the cause.</p>
<p>Thrusting his head half way into the binnacle, Ahab caught one glimpse of the compasses; his uplifted arm slowly fell; for a moment he almost seemed to stagger. Standing behind him Starbuck looked, and lo! the two compasses pointed East, and the Pequod was as infallibly going West.</p>
<p>But ere the first wild alarm could get out abroad among the crew, the old man with a rigid laugh exclaimed, “I have it! It has happened before. Mr. Starbuck, last night’s thunder turned our compasses—that’s all. Thou hast before now heard of such a thing, I take it.”</p>
<p>“Aye; but never before has it happened to me, sir,” said the pale mate, gloomily.</p>
<p>Here, it must needs be said, that accidents like this have in more than one case occurred to ships in violent storms. The magnetic energy, as developed in the mariner’s needle, is, as all know, essentially one with the electricity beheld in heaven; hence it is not to be much marvelled at, that such things should be. Instances where the lightning has actually struck the vessel, so as to smite down some of the spars and rigging, the effect upon the needle has at times been still more fatal; all its loadstone virtue being annihilated, so that the before magnetic steel was of no more use than an old wife’s knitting needle. But in either case, the needle never again, of itself, recovers the original virtue thus marred or lost; and if the binnacle compasses be affected, the same fate reaches all the others that may be in the ship; even were the lowermost one inserted into the kelson.</p>
<p>Deliberately standing before the binnacle, and eyeing the transpointed compasses, the old man, with the sharp of his extended hand, now took the precise bearing of the sun, and satisfied that the needles were exactly inverted, shouted out his orders for the ship’s course to be changed accordingly. The yards were hard up; and once more the Pequod thrust her undaunted bows into the opposing wind, for the supposed fair one had only been juggling her.</p>
<p>Meanwhile, whatever were his own secret thoughts, Starbuck said nothing, but quietly he issued all requisite orders; while Stubb and Flask—who in some small degree seemed then to be sharing his feelings—likewise unmurmuringly acquiesced. As for the men, though some of them lowly rumbled, their fear of Ahab was greater than their fear of Fate. But as ever before, the pagan harpooneers remained almost wholly unimpressed; or if impressed, it was only with a certain magnetism shot into their congenial hearts from inflexible Ahab’s.</p>
<p>For a space the old man walked the deck in rolling reveries. But chancing to slip with his ivory heel, he saw the crushed copper sight-tubes of the quadrant he had the day before dashed to the deck.</p>
<p>“Thou poor, proud heaven-gazer and sun’s pilot! yesterday I wrecked thee, and to-day the compasses would fain have wrecked me. So, so. But Ahab is lord over the level loadstone yet. Mr. Starbuck—a lance without a pole; a top-maul, and the smallest of the sail-maker’s needles. Quick!”</p>
<p>Accessory, perhaps, to the impulse dictating the thing he was now about to do, were certain prudential motives, whose object might have been to revive the spirits of his crew by a stroke of his subtile skill, in a matter so wondrous as that of the inverted compasses. Besides, the old man well knew that to steer by transpointed needles, though clumsily practicable, was not a thing to be passed over by superstitious sailors, without some shudderings and evil portents.</p>
<p>“Men,” said he, steadily turning upon the crew, as the mate handed him the things he had demanded, “my men, the thunder turned old Ahab’s needles; but out of this bit of steel Ahab can make one of his own, that will point as true as any.”</p>
<p>Abashed glances of servile wonder were exchanged by the sailors, as this was said; and with fascinated eyes they awaited whatever magic might follow. But Starbuck looked away.</p>
<p>With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the mate the long iron rod remaining, bade him hold it upright, without its touching the deck. Then, with the maul, after repeatedly smiting the upper end of this iron rod, he placed the blunted needle endwise on the top of it, and less strongly hammered that, several times, the mate still holding the rod as before. Then going through some small strange motions with it—whether indispensable to the magnetizing of the steel, or merely intended to augment the awe of the crew, is uncertain—he called for linen thread; and moving to the binnacle, slipped out the two reversed needles there, and horizontally suspended the sail-needle by its middle, over one of the compass-cards. At first, the steel went round and round, quivering and vibrating at either end; but at last it settled to its place, when Ahab, who had been intently watching for this result, stepped frankly back from the binnacle, and pointing his stretched arm towards it, exclaimed,—"Look ye, for yourselves, if Ahab be not lord of the level loadstone! The sun is East, and that compass swears it!”</p>
<p>One after another they peered in, for nothing but their own eyes could persuade such ignorance as theirs, and one after another they slunk away.</p>
<p>In his fiery eyes of scorn and triumph, you then saw Ahab in all his fatal pride.</p>
</section>
