


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 117. The Whale Watch.</h1></header>
<p>The four whales slain that evening had died wide apart; one, far to windward; one, less distant, to leeward; one ahead; one astern. These last three were brought alongside ere nightfall; but the windward one could not be reached till morning; and the boat that had killed it lay by its side all night; and that boat was Ahab’s.</p>
<p>The waif-pole was thrust upright into the dead whale’s spout-hole; and the lantern hanging from its top, cast a troubled flickering glare upon the black, glossy back, and far out upon the midnight waves, which gently chafed the whale’s broad flank, like soft surf upon a beach.</p>
<p>Ahab and all his boat’s crew seemed asleep but the Parsee; who crouching in the bow, sat watching the sharks, that spectrally played round the whale, and tapped the light cedar planks with their tails. A sound like the moaning in squadrons over Asphaltites of unforgiven ghosts of Gomorrah, ran shuddering through the air.</p>
<p>Started from his slumbers, Ahab, face to face, saw the Parsee; and hooped round by the gloom of the night they seemed the last men in a flooded world. “I have dreamed it again,” said he.</p>
<p>“Of the hearses? Have I not said, old man, that neither hearse nor coffin can be thine?”</p>
<p>“And who are hearsed that die on the sea?”</p>
<p>“But I said, old man, that ere thou couldst die on this voyage, two hearses must verily be seen by thee on the sea; the first not made by mortal hands; and the visible wood of the last one must be grown in America.”</p>
<p>“Aye, aye! a strange sight that, Parsee:—a hearse and its plumes floating over the ocean with the waves for the pall-bearers. Ha! Such a sight we shall not soon see.”</p>
<p>“Believe it or not, thou canst not die till it be seen, old man.”</p>
<p>“And what was that saying about thyself?”</p>
<p>“Though it come to the last, I shall still go before thee thy pilot.”</p>
<p>“And when thou art so gone before—if that ever befall—then ere I can follow, thou must still appear to me, to pilot me still?—Was it not so? Well, then, did I believe all ye say, oh my pilot! I have here two pledges that I shall yet slay Moby Dick and survive it.”</p>
<p>“Take another pledge, old man,” said the Parsee, as his eyes lighted up like fire-flies in the gloom—"Hemp only can kill thee.”</p>
<p>“The gallows, ye mean.—I am immortal then, on land and on sea,” cried Ahab, with a laugh of derision;—"Immortal on land and on sea!”</p>
<p>Both were silent again, as one man. The grey dawn came on, and the slumbering crew arose from the boat’s bottom, and ere noon the dead whale was brought to the ship.</p>
</section>
