


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 109. Ahab and Starbuck in the Cabin.</h1></header>
<p>According to usage they were pumping the ship next morning; and lo! no inconsiderable oil came up with the water; the casks below must have sprung a bad leak. Much concern was shown; and Starbuck went down into the cabin to report this unfavourable affair.*</p>
<p>*In Sperm-whalemen with any considerable quantity of oil on board, it is a regular semiweekly duty to conduct a hose into the hold, and drench the casks with sea-water; which afterwards, at varying intervals, is removed by the ship’s pumps. Hereby the casks are sought to be kept damply tight; while by the changed character of the withdrawn water, the mariners readily detect any serious leakage in the precious cargo.</p>
<p>Now, from the South and West the Pequod was drawing nigh to Formosa and the Bashee Isles, between which lies one of the tropical outlets from the China waters into the Pacific. And so Starbuck found Ahab with a general chart of the oriental archipelagoes spread before him; and another separate one representing the long eastern coasts of the Japanese islands—Niphon, Matsmai, and Sikoke. With his snow-white new ivory leg braced against the screwed leg of his table, and with a long pruning-hook of a jack-knife in his hand, the wondrous old man, with his back to the gangway door, was wrinkling his brow, and tracing his old courses again.</p>
<p>“Who’s there?” hearing the footstep at the door, but not turning round to it. “On deck! Begone!”</p>
<p>“Captain Ahab mistakes; it is I. The oil in the hold is leaking, sir. We must up Burtons and break out.”</p>
<p>“Up Burtons and break out? Now that we are nearing Japan; heave-to here for a week to tinker a parcel of old hoops?”</p>
<p>“Either do that, sir, or waste in one day more oil than we may make good in a year. What we come twenty thousand miles to get is worth saving, sir.”</p>
<p>“So it is, so it is; if we get it.”</p>
<p>“I was speaking of the oil in the hold, sir.”</p>
<p>“And I was not speaking or thinking of that at all. Begone! Let it leak! I’m all aleak myself. Aye! leaks in leaks! not only full of leaky casks, but those leaky casks are in a leaky ship; and that’s a far worse plight than the Pequod’s, man. Yet I don’t stop to plug my leak; for who can find it in the deep-loaded hull; or how hope to plug it, even if found, in this life’s howling gale? Starbuck! I’ll not have the Burtons hoisted.”</p>
<p>“What will the owners say, sir?”</p>
<p>“Let the owners stand on Nantucket beach and outyell the Typhoons. What cares Ahab? Owners, owners? Thou art always prating to me, Starbuck, about those miserly owners, as if the owners were my conscience. But look ye, the only real owner of anything is its commander; and hark ye, my conscience is in this ship’s keel.—On deck!”</p>
<p>“Captain Ahab,” said the reddening mate, moving further into the cabin, with a daring so strangely respectful and cautious that it almost seemed not only every way seeking to avoid the slightest outward manifestation of itself, but within also seemed more than half distrustful of itself; “A better man than I might well pass over in thee what he would quickly enough resent in a younger man; aye, and in a happier, Captain Ahab.”</p>
<p>“Devils! Dost thou then so much as dare to critically think of me?—On deck!”</p>
<p>“Nay, sir, not yet; I do entreat. And I do dare, sir—to be forbearing! Shall we not understand each other better than hitherto, Captain Ahab?”</p>
<p>Ahab seized a loaded musket from the rack (forming part of most South-Sea-men’s cabin furniture), and pointing it towards Starbuck, exclaimed: “There is one God that is Lord over the earth, and one Captain that is lord over the Pequod.—On deck!”</p>
<p>For an instant in the flashing eyes of the mate, and his fiery cheeks, you would have almost thought that he had really received the blaze of the levelled tube. But, mastering his emotion, he half calmly rose, and as he quitted the cabin, paused for an instant and said: “Thou hast outraged, not insulted me, sir; but for that I ask thee not to beware of Starbuck; thou wouldst but laugh; but let Ahab beware of Ahab; beware of thyself, old man.”</p>
<p>“He waxes brave, but nevertheless obeys; most careful bravery that!” murmured Ahab, as Starbuck disappeared. “What’s that he said—Ahab beware of Ahab—there’s something there!” Then unconsciously using the musket for a staff, with an iron brow he paced to and fro in the little cabin; but presently the thick plaits of his forehead relaxed, and returning the gun to the rack, he went to the deck.</p>
<p>“Thou art but too good a fellow, Starbuck,” he said lowly to the mate; then raising his voice to the crew: “Furl the t’gallant-sails, and close-reef the top-sails, fore and aft; back the main-yard; up Burton, and break out in the main-hold.”</p>
<p>It were perhaps vain to surmise exactly why it was, that as respecting Starbuck, Ahab thus acted. It may have been a flash of honesty in him; or mere prudential policy which, under the circumstance, imperiously forbade the slightest symptom of open disaffection, however transient, in the important chief officer of his ship. However it was, his orders were executed; and the Burtons were hoisted.</p>
</section>
