


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 131. The Pequod Meets The Delight.</h1></header>
<p>The intense Pequod sailed on; the rolling waves and days went by; the life-buoy-coffin still lightly swung; and another ship, most miserably misnamed the Delight, was descried. As she drew nigh, all eyes were fixed upon her broad beams, called shears, which, in some whaling-ships, cross the quarter-deck at the height of eight or nine feet; serving to carry the spare, unrigged, or disabled boats.</p>
<p>Upon the stranger’s shears were beheld the shattered, white ribs, and some few splintered planks, of what had once been a whale-boat; but you now saw through this wreck, as plainly as you see through the peeled, half-unhinged, and bleaching skeleton of a horse.</p>
<p>“Hast seen the White Whale?”</p>
<p>“Look!” replied the hollow-cheeked captain from his taffrail; and with his trumpet he pointed to the wreck.</p>
<p>“Hast killed him?”</p>
<p>“The harpoon is not yet forged that ever will do that,” answered the other, sadly glancing upon a rounded hammock on the deck, whose gathered sides some noiseless sailors were busy in sewing together.</p>
<p>“Not forged!” and snatching Perth’s levelled iron from the crotch, Ahab held it out, exclaiming—"Look ye, Nantucketer; here in this hand I hold his death! Tempered in blood, and tempered by lightning are these barbs; and I swear to temper them triply in that hot place behind the fin, where the White Whale most feels his accursed life!”</p>
<p>“Then God keep thee, old man—see’st thou that"—pointing to the hammock—"I bury but one of five stout men, who were alive only yesterday; but were dead ere night. Only THAT one I bury; the rest were buried before they died; you sail upon their tomb.” Then turning to his crew—"Are ye ready there? place the plank then on the rail, and lift the body; so, then—Oh! God"—advancing towards the hammock with uplifted hands—"may the resurrection and the life—”</p>
<p>“Brace forward! Up helm!” cried Ahab like lightning to his men.</p>
<p>But the suddenly started Pequod was not quick enough to escape the sound of the splash that the corpse soon made as it struck the sea; not so quick, indeed, but that some of the flying bubbles might have sprinkled her hull with their ghostly baptism.</p>
<p>As Ahab now glided from the dejected Delight, the strange life-buoy hanging at the Pequod’s stern came into conspicuous relief.</p>
<p>“Ha! yonder! look yonder, men!” cried a foreboding voice in her wake. “In vain, oh, ye strangers, ye fly our sad burial; ye but turn us your taffrail to show us your coffin!”</p>
</section>
