


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 114. The Gilder.</h1></header>
<p>Penetrating further and further into the heart of the Japanese cruising ground, the Pequod was soon all astir in the fishery. Often, in mild, pleasant weather, for twelve, fifteen, eighteen, and twenty hours on the stretch, they were engaged in the boats, steadily pulling, or sailing, or paddling after the whales, or for an interlude of sixty or seventy minutes calmly awaiting their uprising; though with but small success for their pains.</p>
<p>At such times, under an abated sun; afloat all day upon smooth, slow heaving swells; seated in his boat, light as a birch canoe; and so sociably mixing with the soft waves themselves, that like hearth-stone cats they purr against the gunwale; these are the times of dreamy quietude, when beholding the tranquil beauty and brilliancy of the ocean’s skin, one forgets the tiger heart that pants beneath it; and would not willingly remember, that this velvet paw but conceals a remorseless fang.</p>
<p>These are the times, when in his whale-boat the rover softly feels a certain filial, confident, land-like feeling towards the sea; that he regards it as so much flowery earth; and the distant ship revealing only the tops of her masts, seems struggling forward, not through high rolling waves, but through the tall grass of a rolling prairie: as when the western emigrants’ horses only show their erected ears, while their hidden bodies widely wade through the amazing verdure.</p>
<p>The long-drawn virgin vales; the mild blue hill-sides; as over these there steals the hush, the hum; you almost swear that play-wearied children lie sleeping in these solitudes, in some glad May-time, when the flowers of the woods are plucked. And all this mixes with your most mystic mood; so that fact and fancy, half-way meeting, interpenetrate, and form one seamless whole.</p>
<p>Nor did such soothing scenes, however temporary, fail of at least as temporary an effect on Ahab. But if these secret golden keys did seem to open in him his own secret golden treasuries, yet did his breath upon them prove but tarnishing.</p>
<p>Oh, grassy glades! oh, ever vernal endless landscapes in the soul; in ye,—though long parched by the dead drought of the earthy life,—in ye, men yet may roll, like young horses in new morning clover; and for some few fleeting moments, feel the cool dew of the life immortal on them. Would to God these blessed calms would last. But the mingled, mingling threads of life are woven by warp and woof: calms crossed by storms, a storm for every calm. There is no steady unretracing progress in this life; we do not advance through fixed gradations, and at the last one pause:—through infancy’s unconscious spell, boyhood’s thoughtless faith, adolescence’ doubt (the common doom), then scepticism, then disbelief, resting at last in manhood’s pondering repose of If. But once gone through, we trace the round again; and are infants, boys, and men, and Ifs eternally. Where lies the final harbor, whence we unmoor no more? In what rapt ether sails the world, of which the weariest will never weary? Where is the foundling’s father hidden? Our souls are like those orphans whose unwedded mothers die in bearing them: the secret of our paternity lies in their grave, and we must there to learn it.</p>
<p>And that same day, too, gazing far down from his boat’s side into that same golden sea, Starbuck lowly murmured:—</p>
<p>“Loveliness unfathomable, as ever lover saw in his young bride’s eye!—Tell me not of thy teeth-tiered sharks, and thy kidnapping cannibal ways. Let faith oust fact; let fancy oust memory; I look deep down and do believe.”</p>
<p>And Stubb, fish-like, with sparkling scales, leaped up in that same golden light:—</p>
<p>“I am Stubb, and Stubb has his history; but here Stubb takes oaths that he has always been jolly!”</p>
</section>
