


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 116. The Dying Whale.</h1></header>
<p>Not seldom in this life, when, on the right side, fortune’s favourites sail close by us, we, though all adroop before, catch somewhat of the rushing breeze, and joyfully feel our bagging sails fill out. So seemed it with the Pequod. For next day after encountering the gay Bachelor, whales were seen and four were slain; and one of them by Ahab.</p>
<p>It was far down the afternoon; and when all the spearings of the crimson fight were done: and floating in the lovely sunset sea and sky, sun and whale both stilly died together; then, such a sweetness and such plaintiveness, such inwreathing orisons curled up in that rosy air, that it almost seemed as if far over from the deep green convent valleys of the Manilla isles, the Spanish land-breeze, wantonly turned sailor, had gone to sea, freighted with these vesper hymns.</p>
<p>Soothed again, but only soothed to deeper gloom, Ahab, who had sterned off from the whale, sat intently watching his final wanings from the now tranquil boat. For that strange spectacle observable in all sperm whales dying—the turning sunwards of the head, and so expiring—that strange spectacle, beheld of such a placid evening, somehow to Ahab conveyed a wondrousness unknown before.</p>
<p>“He turns and turns him to it,—how slowly, but how steadfastly, his homage-rendering and invoking brow, with his last dying motions. He too worships fire; most faithful, broad, baronial vassal of the sun!—Oh that these too-favouring eyes should see these too-favouring sights. Look! here, far water-locked; beyond all hum of human weal or woe; in these most candid and impartial seas; where to traditions no rocks furnish tablets; where for long Chinese ages, the billows have still rolled on speechless and unspoken to, as stars that shine upon the Niger’s unknown source; here, too, life dies sunwards full of faith; but see! no sooner dead, than death whirls round the corpse, and it heads some other way.</p>
<p>“Oh, thou dark Hindoo half of nature, who of drowned bones hast builded thy separate throne somewhere in the heart of these unverdured seas; thou art an infidel, thou queen, and too truly speakest to me in the wide-slaughtering Typhoon, and the hushed burial of its after calm. Nor has this thy whale sunwards turned his dying head, and then gone round again, without a lesson to me.</p>
<p>“Oh, trebly hooped and welded hip of power! Oh, high aspiring, rainbowed jet!—that one strivest, this one jettest all in vain! In vain, oh whale, dost thou seek intercedings with yon all-quickening sun, that only calls forth life, but gives it not again. Yet dost thou, darker half, rock me with a prouder, if a darker faith. All thy unnamable imminglings float beneath me here; I am buoyed by breaths of once living things, exhaled as air, but water now.</p>
<p>“Then hail, for ever hail, O sea, in whose eternal tossings the wild fowl finds his only rest. Born of earth, yet suckled by the sea; though hill and valley mothered me, ye billows are my foster-brothers!”</p>
</section>
