


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 19. The Prophet.</h1></header>
<p>“Shipmates, have ye shipped in that ship?”</p>
<p>Queequeg and I had just left the Pequod, and were sauntering away from the water, for the moment each occupied with his own thoughts, when the above words were put to us by a stranger, who, pausing before us, levelled his massive forefinger at the vessel in question. He was but shabbily apparelled in faded jacket and patched trowsers; a rag of a black handkerchief investing his neck. A confluent small-pox had in all directions flowed over his face, and left it like the complicated ribbed bed of a torrent, when the rushing waters have been dried up.</p>
<p>“Have ye shipped in her?” he repeated.</p>
<p>“You mean the ship Pequod, I suppose,” said I, trying to gain a little more time for an uninterrupted look at him.</p>
<p>“Aye, the Pequod—that ship there,” he said, drawing back his whole arm, and then rapidly shoving it straight out from him, with the fixed bayonet of his pointed finger darted full at the object.</p>
<p>“Yes,” said I, “we have just signed the articles.”</p>
<p>“Anything down there about your souls?”</p>
<p>“About what?”</p>
<p>“Oh, perhaps you hav’n't got any,” he said quickly. “No matter though, I know many chaps that hav’n't got any,—good luck to 'em; and they are all the better off for it. A soul’s a sort of a fifth wheel to a wagon.”</p>
<p>“What are you jabbering about, shipmate?” said I.</p>
<p>“HE’S got enough, though, to make up for all deficiencies of that sort in other chaps,” abruptly said the stranger, placing a nervous emphasis upon the word HE.</p>
<p>“Queequeg,” said I, “let’s go; this fellow has broken loose from somewhere; he’s talking about something and somebody we don’t know.”</p>
<p>“Stop!” cried the stranger. “Ye said true—ye hav’n't seen Old Thunder yet, have ye?”</p>
<p>“Who’s Old Thunder?” said I, again riveted with the insane earnestness of his manner.</p>
<p>“Captain Ahab.”</p>
<p>“What! the captain of our ship, the Pequod?”</p>
<p>“Aye, among some of us old sailor chaps, he goes by that name. Ye hav’n't seen him yet, have ye?”</p>
<p>“No, we hav’n't. He’s sick they say, but is getting better, and will be all right again before long.”</p>
<p>“All right again before long!” laughed the stranger, with a solemnly derisive sort of laugh. “Look ye; when Captain Ahab is all right, then this left arm of mine will be all right; not before.”</p>
<p>“What do you know about him?”</p>
<p>“What did they TELL you about him? Say that!”</p>
<p>“They didn’t tell much of anything about him; only I’ve heard that he’s a good whale-hunter, and a good captain to his crew.”</p>
<p>“That’s true, that’s true—yes, both true enough. But you must jump when he gives an order. Step and growl; growl and go—that’s the word with Captain Ahab. But nothing about that thing that happened to him off Cape Horn, long ago, when he lay like dead for three days and nights; nothing about that deadly skrimmage with the Spaniard afore the altar in Santa?—heard nothing about that, eh? Nothing about the silver calabash he spat into? And nothing about his losing his leg last voyage, according to the prophecy. Didn’t ye hear a word about them matters and something more, eh? No, I don’t think ye did; how could ye? Who knows it? Not all Nantucket, I guess. But hows’ever, mayhap, ye’ve heard tell about the leg, and how he lost it; aye, ye have heard of that, I dare say. Oh yes, THAT every one knows a’most—I mean they know he’s only one leg; and that a parmacetti took the other off.”</p>
<p>“My friend,” said I, “what all this gibberish of yours is about, I don’t know, and I don’t much care; for it seems to me that you must be a little damaged in the head. But if you are speaking of Captain Ahab, of that ship there, the Pequod, then let me tell you, that I know all about the loss of his leg.”</p>
<p>“ALL about it, eh—sure you do?—all?”</p>
<p>“Pretty sure.”</p>
<p>With finger pointed and eye levelled at the Pequod, the beggar-like stranger stood a moment, as if in a troubled reverie; then starting a little, turned and said:—“Ye’ve shipped, have ye? Names down on the papers? Well, well, what’s signed, is signed; and what’s to be, will be; and then again, perhaps it won’t be, after all. Anyhow, it’s all fixed and arranged a’ready; and some sailors or other must go with him, I suppose; as well these as any other men, God pity 'em! Morning to ye, shipmates, morning; the ineffable heavens bless ye; I’m sorry I stopped ye.”</p>
<p>“Look here, friend,” said I, “if you have anything important to tell us, out with it; but if you are only trying to bamboozle us, you are mistaken in your game; that’s all I have to say.”</p>
<p>“And it’s said very well, and I like to hear a chap talk up that way; you are just the man for him—the likes of ye. Morning to ye, shipmates, morning! Oh! when ye get there, tell ’em I’ve concluded not to make one of 'em.”</p>
<p>“Ah, my dear fellow, you can’t fool us that way—you can’t fool us. It is the easiest thing in the world for a man to look as if he had a great secret in him.”</p>
<p>“Morning to ye, shipmates, morning.”</p>
<p>“Morning it is,” said I. “Come along, Queequeg, let’s leave this crazy man. But stop, tell me your name, will you?”</p>
<p>“Elijah.”</p>
<p>Elijah! thought I, and we walked away, both commenting, after each other’s fashion, upon this ragged old sailor; and agreed that he was nothing but a humbug, trying to be a bugbear. But we had not gone perhaps above a hundred yards, when chancing to turn a corner, and looking back as I did so, who should be seen but Elijah following us, though at a distance. Somehow, the sight of him struck me so, that I said nothing to Queequeg of his being behind, but passed on with my comrade, anxious to see whether the stranger would turn the same corner that we did. He did; and then it seemed to me that he was dogging us, but with what intent I could not for the life of me imagine. This circumstance, coupled with his ambiguous, half-hinting, half-revealing, shrouded sort of talk, now begat in me all kinds of vague wonderments and half-apprehensions, and all connected with the Pequod; and Captain Ahab; and the leg he had lost; and the Cape Horn fit; and the silver calabash; and what Captain Peleg had said of him, when I left the ship the day previous; and the prediction of the squaw Tistig; and the voyage we had bound ourselves to sail; and a hundred other shadowy things.</p>
<p>I was resolved to satisfy myself whether this ragged Elijah was really dogging us or not, and with that intent crossed the way with Queequeg, and on that side of it retraced our steps. But Elijah passed on, without seeming to notice us. This relieved me; and once more, and finally as it seemed to me, I pronounced him in my heart, a humbug.</p>
</section>
