


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 125. The Log and Line.</h1></header>
<p>While now the fated Pequod had been so long afloat this voyage, the log and line had but very seldom been in use. Owing to a confident reliance upon other means of determining the vessel’s place, some merchantmen, and many whalemen, especially when cruising, wholly neglect to heave the log; though at the same time, and frequently more for form’s sake than anything else, regularly putting down upon the customary slate the course steered by the ship, as well as the presumed average rate of progression every hour. It had been thus with the Pequod. The wooden reel and angular log attached hung, long untouched, just beneath the railing of the after bulwarks. Rains and spray had damped it; sun and wind had warped it; all the elements had combined to rot a thing that hung so idly. But heedless of all this, his mood seized Ahab, as he happened to glance upon the reel, not many hours after the magnet scene, and he remembered how his quadrant was no more, and recalled his frantic oath about the level log and line. The ship was sailing plungingly; astern the billows rolled in riots.</p>
<p>“Forward, there! Heave the log!”</p>
<p>Two seamen came. The golden-hued Tahitian and the grizzly Manxman. “Take the reel, one of ye, I’ll heave.”</p>
<p>They went towards the extreme stern, on the ship’s lee side, where the deck, with the oblique energy of the wind, was now almost dipping into the creamy, sidelong-rushing sea.</p>
<p>The Manxman took the reel, and holding it high up, by the projecting handle-ends of the spindle, round which the spool of line revolved, so stood with the angular log hanging downwards, till Ahab advanced to him.</p>
<p>Ahab stood before him, and was lightly unwinding some thirty or forty turns to form a preliminary hand-coil to toss overboard, when the old Manxman, who was intently eyeing both him and the line, made bold to speak.</p>
<p>“Sir, I mistrust it; this line looks far gone, long heat and wet have spoiled it.”</p>
<p>“‘Twill hold, old gentleman. Long heat and wet, have they spoiled thee? Thou seem’st to hold. Or, truer perhaps, life holds thee; not thou it.”</p>
<p>“I hold the spool, sir. But just as my captain says. With these grey hairs of mine 'tis not worth while disputing, ‘specially with a superior, who’ll ne’er confess.”</p>
<p>“What’s that? There now’s a patched professor in Queen Nature’s granite-founded College; but methinks he’s too subservient. Where wert thou born?”</p>
<p>“In the little rocky Isle of Man, sir.”</p>
<p>“Excellent! Thou’st hit the world by that.”</p>
<p>“I know not, sir, but I was born there.”</p>
<p>“In the Isle of Man, hey? Well, the other way, it’s good. Here’s a man from Man; a man born in once independent Man, and now unmanned of Man; which is sucked in—by what? Up with the reel! The dead, blind wall butts all inquiring heads at last. Up with it! So.”</p>
<p>The log was heaved. The loose coils rapidly straightened out in a long dragging line astern, and then, instantly, the reel began to whirl. In turn, jerkingly raised and lowered by the rolling billows, the towing resistance of the log caused the old reelman to stagger strangely.</p>
<p>“Hold hard!”</p>
<p>Snap! the overstrained line sagged down in one long festoon; the tugging log was gone.</p>
<p>“I crush the quadrant, the thunder turns the needles, and now the mad sea parts the log-line. But Ahab can mend all. Haul in here, Tahitian; reel up, Manxman. And look ye, let the carpenter make another log, and mend thou the line. See to it.”</p>
<p>“There he goes now; to him nothing’s happened; but to me, the skewer seems loosening out of the middle of the world. Haul in, haul in, Tahitian! These lines run whole, and whirling out: come in broken, and dragging slow. Ha, Pip? come to help; eh, Pip?”</p>
<p>“Pip? whom call ye Pip? Pip jumped from the whale-boat. Pip’s missing. Let’s see now if ye haven’t fished him up here, fisherman. It drags hard; I guess he’s holding on. Jerk him, Tahiti! Jerk him off; we haul in no cowards here. Ho! there’s his arm just breaking water. A hatchet! a hatchet! cut it off—we haul in no cowards here. Captain Ahab! sir, sir! here’s Pip, trying to get on board again.”</p>
<p>“Peace, thou crazy loon,” cried the Manxman, seizing him by the arm. “Away from the quarter-deck!”</p>
<p>“The greater idiot ever scolds the lesser,” muttered Ahab, advancing. “Hands off from that holiness! Where sayest thou Pip was, boy?</p>
<p>“Astern there, sir, astern! Lo! lo!”</p>
<p>“And who art thou, boy? I see not my reflection in the vacant pupils of thy eyes. Oh God! that man should be a thing for immortal souls to sieve through! Who art thou, boy?”</p>
<p>“Bell-boy, sir; ship’s-crier; ding, dong, ding! Pip! Pip! Pip! One hundred pounds of clay reward for Pip; five feet high—looks cowardly—quickest known by that! Ding, dong, ding! Who’s seen Pip the coward?”</p>
<p>“There can be no hearts above the snow-line. Oh, ye frozen heavens! look down here. Ye did beget this luckless child, and have abandoned him, ye creative libertines. Here, boy; Ahab’s cabin shall be Pip’s home henceforth, while Ahab lives. Thou touchest my inmost centre, boy; thou art tied to me by cords woven of my heart-strings. Come, let’s down.”</p>
<p>“What’s this? here’s velvet shark-skin,” intently gazing at Ahab’s hand, and feeling it. “Ah, now, had poor Pip but felt so kind a thing as this, perhaps he had ne’er been lost! This seems to me, sir, as a man-rope; something that weak souls may hold by. Oh, sir, let old Perth now come and rivet these two hands together; the black one with the white, for I will not let this go.”</p>
<p>“Oh, boy, nor will I thee, unless I should thereby drag thee to worse horrors than are here. Come, then, to my cabin. Lo! ye believers in gods all goodness, and in man all ill, lo you! see the omniscient gods oblivious of suffering man; and man, though idiotic, and knowing not what he does, yet full of the sweet things of love and gratitude. Come! I feel prouder leading thee by thy black hand, than though I grasped an Emperor’s!”</p>
<p>“There go two daft ones now,” muttered the old Manxman. “One daft with strength, the other daft with weakness. But here’s the end of the rotten line—all dripping, too. Mend it, eh? I think we had best have a new line altogether. I’ll see Mr. Stubb about it.”</p>
</section>
