


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 100. Leg and Arm.</h1></header>
<h3>The Pequod, of Nantucket, Meets the Samuel Enderby, of London.</h3>
<p>“Ship, ahoy! Hast seen the White Whale?”</p>
<p>So cried Ahab, once more hailing a ship showing English colours, bearing down under the stern. Trumpet to mouth, the old man was standing in his hoisted quarter-boat, his ivory leg plainly revealed to the stranger captain, who was carelessly reclining in his own boat’s bow. He was a darkly-tanned, burly, good-natured, fine-looking man, of sixty or thereabouts, dressed in a spacious roundabout, that hung round him in festoons of blue pilot-cloth; and one empty arm of this jacket streamed behind him like the broidered arm of a hussar’s surcoat.</p>
<p>“Hast seen the White Whale!”</p>
<p>“See you this?” and withdrawing it from the folds that had hidden it, he held up a white arm of sperm whale bone, terminating in a wooden head like a mallet.</p>
<p>“Man my boat!” cried Ahab, impetuously, and tossing about the oars near him—"Stand by to lower!”</p>
<p>In less than a minute, without quitting his little craft, he and his crew were dropped to the water, and were soon alongside of the stranger. But here a curious difficulty presented itself. In the excitement of the moment, Ahab had forgotten that since the loss of his leg he had never once stepped on board of any vessel at sea but his own, and then it was always by an ingenious and very handy mechanical contrivance peculiar to the Pequod, and a thing not to be rigged and shipped in any other vessel at a moment’s warning. Now, it is no very easy matter for anybody—except those who are almost hourly used to it, like whalemen—to clamber up a ship’s side from a boat on the open sea; for the great swells now lift the boat high up towards the bulwarks, and then instantaneously drop it half way down to the kelson. So, deprived of one leg, and the strange ship of course being altogether unsupplied with the kindly invention, Ahab now found himself abjectly reduced to a clumsy landsman again; hopelessly eyeing the uncertain changeful height he could hardly hope to attain.</p>
<p>It has before been hinted, perhaps, that every little untoward circumstance that befell him, and which indirectly sprang from his luckless mishap, almost invariably irritated or exasperated Ahab. And in the present instance, all this was heightened by the sight of the two officers of the strange ship, leaning over the side, by the perpendicular ladder of nailed cleets there, and swinging towards him a pair of tastefully-ornamented man-ropes; for at first they did not seem to bethink them that a one-legged man must be too much of a cripple to use their sea bannisters. But this awkwardness only lasted a minute, because the strange captain, observing at a glance how affairs stood, cried out, “I see, I see!—avast heaving there! Jump, boys, and swing over the cutting-tackle.”</p>
<p>As good luck would have it, they had had a whale alongside a day or two previous, and the great tackles were still aloft, and the massive curved blubber-hook, now clean and dry, was still attached to the end. This was quickly lowered to Ahab, who at once comprehending it all, slid his solitary thigh into the curve of the hook (it was like sitting in the fluke of an anchor, or the crotch of an apple tree), and then giving the word, held himself fast, and at the same time also helped to hoist his own weight, by pulling hand-over-hand upon one of the running parts of the tackle. Soon he was carefully swung inside the high bulwarks, and gently landed upon the capstan head. With his ivory arm frankly thrust forth in welcome, the other captain advanced, and Ahab, putting out his ivory leg, and crossing the ivory arm (like two sword-fish blades) cried out in his walrus way, “Aye, aye, hearty! let us shake bones together!—an arm and a leg!—an arm that never can shrink, d’ye see; and a leg that never can run. Where did’st thou see the White Whale?—how long ago?”</p>
<p>“The White Whale,” said the Englishman, pointing his ivory arm towards the East, and taking a rueful sight along it, as if it had been a telescope; “there I saw him, on the Line, last season.”</p>
<p>“And he took that arm off, did he?” asked Ahab, now sliding down from the capstan, and resting on the Englishman’s shoulder, as he did so.</p>
<p>“Aye, he was the cause of it, at least; and that leg, too?”</p>
<p>“Spin me the yarn,” said Ahab; “how was it?”</p>
<p>“It was the first time in my life that I ever cruised on the Line,” began the Englishman. “I was ignorant of the White Whale at that time. Well, one day we lowered for a pod of four or five whales, and my boat fastened to one of them; a regular circus horse he was, too, that went milling and milling round so, that my boat’s crew could only trim dish, by sitting all their sterns on the outer gunwale. Presently up breaches from the bottom of the sea a bouncing great whale, with a milky-white head and hump, all crows’ feet and wrinkles.”</p>
<p>“It was he, it was he!” cried Ahab, suddenly letting out his suspended breath.</p>
<p>“And harpoons sticking in near his starboard fin.”</p>
<p>“Aye, aye—they were mine—MY irons,” cried Ahab, exultingly—"but on!”</p>
<p>“Give me a chance, then,” said the Englishman, good-humoredly. “Well, this old great-grandfather, with the white head and hump, runs all afoam into the pod, and goes to snapping furiously at my fast-line!</p>
<p>“Aye, I see!—wanted to part it; free the fast-fish—an old trick—I know him.”</p>
<p>“How it was exactly,” continued the one-armed commander, “I do not know; but in biting the line, it got foul of his teeth, caught there somehow; but we didn’t know it then; so that when we afterwards pulled on the line, bounce we came plump on to his hump! instead of the other whale’s; that went off to windward, all fluking. Seeing how matters stood, and what a noble great whale it was—the noblest and biggest I ever saw, sir, in my life—I resolved to capture him, spite of the boiling rage he seemed to be in. And thinking the hap-hazard line would get loose, or the tooth it was tangled to might draw (for I have a devil of a boat’s crew for a pull on a whale-line); seeing all this, I say, I jumped into my first mate’s boat—Mr. Mounttop’s here (by the way, Captain—Mounttop; Mounttop—the captain);—as I was saying, I jumped into Mounttop’s boat, which, d’ye see, was gunwale and gunwale with mine, then; and snatching the first harpoon, let this old great-grandfather have it. But, Lord, look you, sir—hearts and souls alive, man—the next instant, in a jiff, I was blind as a bat—both eyes out—all befogged and bedeadened with black foam—the whale’s tail looming straight up out of it, perpendicular in the air, like a marble steeple. No use sterning all, then; but as I was groping at midday, with a blinding sun, all crown-jewels; as I was groping, I say, after the second iron, to toss it overboard—down comes the tail like a Lima tower, cutting my boat in two, leaving each half in splinters; and, flukes first, the white hump backed through the wreck, as though it was all chips. We all struck out. To escape his terrible flailings, I seized hold of my harpoon-pole sticking in him, and for a moment clung to that like a sucking fish. But a combing sea dashed me off, and at the same instant, the fish, taking one good dart forwards, went down like a flash; and the barb of that cursed second iron towing along near me caught me here" (clapping his hand just below his shoulder); “yes, caught me just here, I say, and bore me down to Hell’s flames, I was thinking; when, when, all of a sudden, thank the good God, the barb ript its way along the flesh—clear along the whole length of my arm—came out nigh my wrist, and up I floated;—and that gentleman there will tell you the rest (by the way, captain—Dr. Bunger, ship’s surgeon: Bunger, my lad,—the captain). Now, Bunger boy, spin your part of the yarn.”</p>
<p>The professional gentleman thus familiarly pointed out, had been all the time standing near them, with nothing specific visible, to denote his gentlemanly rank on board. His face was an exceedingly round but sober one; he was dressed in a faded blue woollen frock or shirt, and patched trowsers; and had thus far been dividing his attention between a marlingspike he held in one hand, and a pill-box held in the other, occasionally casting a critical glance at the ivory limbs of the two crippled captains. But, at his superior’s introduction of him to Ahab, he politely bowed, and straightway went on to do his captain’s bidding.</p>
<p>“It was a shocking bad wound,” began the whale-surgeon; “and, taking my advice, Captain Boomer here, stood our old Sammy—”</p>
<p>“Samuel Enderby is the name of my ship,” interrupted the one-armed captain, addressing Ahab; “go on, boy.”</p>
<p>“Stood our old Sammy off to the northward, to get out of the blazing hot weather there on the Line. But it was no use—I did all I could; sat up with him nights; was very severe with him in the matter of diet—”</p>
<p>“Oh, very severe!” chimed in the patient himself; then suddenly altering his voice, “Drinking hot rum toddies with me every night, till he couldn’t see to put on the bandages; and sending me to bed, half seas over, about three o’clock in the morning. Oh, ye stars! he sat up with me indeed, and was very severe in my diet. Oh! a great watcher, and very dietetically severe, is Dr. Bunger. (Bunger, you dog, laugh out! why don’t ye? You know you’re a precious jolly rascal.) But, heave ahead, boy, I’d rather be killed by you than kept alive by any other man.”</p>
<p>“My captain, you must have ere this perceived, respected sir"—said the imperturbable godly-looking Bunger, slightly bowing to Ahab—"is apt to be facetious at times; he spins us many clever things of that sort. But I may as well say—en passant, as the French remark—that I myself—that is to say, Jack Bunger, late of the reverend clergy—am a strict total abstinence man; I never drink—”</p>
<p>“Water!” cried the captain; “he never drinks it; it’s a sort of fits to him; fresh water throws him into the hydrophobia; but go on—go on with the arm story.”</p>
<p>“Yes, I may as well,” said the surgeon, coolly. “I was about observing, sir, before Captain Boomer’s facetious interruption, that spite of my best and severest endeavors, the wound kept getting worse and worse; the truth was, sir, it was as ugly gaping wound as surgeon ever saw; more than two feet and several inches long. I measured it with the lead line. In short, it grew black; I knew what was threatened, and off it came. But I had no hand in shipping that ivory arm there; that thing is against all rule"—pointing at it with the marlingspike—"that is the captain’s work, not mine; he ordered the carpenter to make it; he had that club-hammer there put to the end, to knock some one’s brains out with, I suppose, as he tried mine once. He flies into diabolical passions sometimes. Do ye see this dent, sir"—removing his hat, and brushing aside his hair, and exposing a bowl-like cavity in his skull, but which bore not the slightest scarry trace, or any token of ever having been a wound—"Well, the captain there will tell you how that came here; he knows.”</p>
<p>“No, I don’t,” said the captain, “but his mother did; he was born with it. Oh, you solemn rogue, you—you Bunger! was there ever such another Bunger in the watery world? Bunger, when you die, you ought to die in pickle, you dog; you should be preserved to future ages, you rascal.”</p>
<p>“What became of the White Whale?” now cried Ahab, who thus far had been impatiently listening to this by-play between the two Englishmen.</p>
<p>“Oh!” cried the one-armed captain, “oh, yes! Well; after he sounded, we didn’t see him again for some time; in fact, as I before hinted, I didn’t then know what whale it was that had served me such a trick, till some time afterwards, when coming back to the Line, we heard about Moby Dick—as some call him—and then I knew it was he.”</p>
<p>“Did’st thou cross his wake again?”</p>
<p>“Twice.”</p>
<p>“But could not fasten?”</p>
<p>“Didn’t want to try to: ain’t one limb enough? What should I do without this other arm? And I’m thinking Moby Dick doesn’t bite so much as he swallows.”</p>
<p>“Well, then,” interrupted Bunger, “give him your left arm for bait to get the right. Do you know, gentlemen"—very gravely and mathematically bowing to each Captain in succession—"Do you know, gentlemen, that the digestive organs of the whale are so inscrutably constructed by Divine Providence, that it is quite impossible for him to completely digest even a man’s arm? And he knows it too. So that what you take for the White Whale’s malice is only his awkwardness. For he never means to swallow a single limb; he only thinks to terrify by feints. But sometimes he is like the old juggling fellow, formerly a patient of mine in Ceylon, that making believe swallow jack-knives, once upon a time let one drop into him in good earnest, and there it stayed for a twelvemonth or more; when I gave him an emetic, and he heaved it up in small tacks, d’ye see. No possible way for him to digest that jack-knife, and fully incorporate it into his general bodily system. Yes, Captain Boomer, if you are quick enough about it, and have a mind to pawn one arm for the sake of the privilege of giving decent burial to the other, why in that case the arm is yours; only let the whale have another chance at you shortly, that’s all.”</p>
<p>“No, thank ye, Bunger,” said the English Captain, “he’s welcome to the arm he has, since I can’t help it, and didn’t know him then; but not to another one. No more White Whales for me; I’ve lowered for him once, and that has satisfied me. There would be great glory in killing him, I know that; and there is a ship-load of precious sperm in him, but, hark ye, he’s best let alone; don’t you think so, Captain?"—glancing at the ivory leg.</p>
<p>“He is. But he will still be hunted, for all that. What is best let alone, that accursed thing is not always what least allures. He’s all a magnet! How long since thou saw’st him last? Which way heading?”</p>
<p>“Bless my soul, and curse the foul fiend’s,” cried Bunger, stoopingly walking round Ahab, and like a dog, strangely snuffing; “this man’s blood—bring the thermometer!—it’s at the boiling point!—his pulse makes these planks beat!—sir!”—taking a lancet from his pocket, and drawing near to Ahab’s arm.</p>
<p>“Avast!” roared Ahab, dashing him against the bulwarks—"Man the boat! Which way heading?”</p>
<p>“Good God!” cried the English Captain, to whom the question was put. “What’s the matter? He was heading east, I think.—Is your Captain crazy?” whispering Fedallah.</p>
<p>But Fedallah, putting a finger on his lip, slid over the bulwarks to take the boat’s steering oar, and Ahab, swinging the cutting-tackle towards him, commanded the ship’s sailors to stand by to lower.</p>
<p>In a moment he was standing in the boat’s stern, and the Manilla men were springing to their oars. In vain the English Captain hailed him. With back to the stranger ship, and face set like a flint to his own, Ahab stood upright till alongside of the Pequod.</p>
</section>
