


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 21. Going Aboard.</h1></header>
<p>It was nearly six o’clock, but only grey imperfect misty dawn, when we drew nigh the wharf.</p>
<p>“There are some sailors running ahead there, if I see right,” said I to Queequeg, “it can’t be shadows; she’s off by sunrise, I guess; come on!”</p>
<p>“Avast!” cried a voice, whose owner at the same time coming close behind us, laid a hand upon both our shoulders, and then insinuating himself between us, stood stooping forward a little, in the uncertain twilight, strangely peering from Queequeg to me. It was Elijah.</p>
<p>“Going aboard?”</p>
<p>“Hands off, will you,” said I.</p>
<p>“Lookee here,” said Queequeg, shaking himself, “go 'way!”</p>
<p>“Ain’t going aboard, then?”</p>
<p>“Yes, we are,” said I, “but what business is that of yours? Do you know, Mr. Elijah, that I consider you a little impertinent?”</p>
<p>“No, no, no; I wasn’t aware of that,” said Elijah, slowly and wonderingly looking from me to Queequeg, with the most unaccountable glances.</p>
<p>“Elijah,” said I, “you will oblige my friend and me by withdrawing. We are going to the Indian and Pacific Oceans, and would prefer not to be detained.”</p>
<p>“Ye be, be ye? Coming back afore breakfast?”</p>
<p>“He’s cracked, Queequeg,” said I, “come on.”</p>
<p>“Holloa!” cried stationary Elijah, hailing us when we had removed a few paces.</p>
<p>“Never mind him,” said I, “Queequeg, come on.”</p>
<p>But he stole up to us again, and suddenly clapping his hand on my shoulder, said—“Did ye see anything looking like men going towards that ship a while ago?”</p>
<p>Struck by this plain matter-of-fact question, I answered, saying, “Yes, I thought I did see four or five men; but it was too dim to be sure.”</p>
<p>“Very dim, very dim,” said Elijah. “Morning to ye.”</p>
<p>Once more we quitted him; but once more he came softly after us; and touching my shoulder again, said, “See if you can find ’em now, will ye?</p>
<p>“Find who?”</p>
<p>“Morning to ye! morning to ye!” he rejoined, again moving off. “Oh! I was going to warn ye against—but never mind, never mind—it’s all one, all in the family too;—sharp frost this morning, ain’t it? Good-bye to ye. Shan’t see ye again very soon, I guess; unless it’s before the Grand Jury.” And with these cracked words he finally departed, leaving me, for the moment, in no small wonderment at his frantic impudence.</p>
<p>At last, stepping on board the Pequod, we found everything in profound quiet, not a soul moving. The cabin entrance was locked within; the hatches were all on, and lumbered with coils of rigging. Going forward to the forecastle, we found the slide of the scuttle open. Seeing a light, we went down, and found only an old rigger there, wrapped in a tattered pea-jacket. He was thrown at whole length upon two chests, his face downwards and inclosed in his folded arms. The profoundest slumber slept upon him.</p>
<p>“Those sailors we saw, Queequeg, where can they have gone to?” said I, looking dubiously at the sleeper. But it seemed that, when on the wharf, Queequeg had not at all noticed what I now alluded to; hence I would have thought myself to have been optically deceived in that matter, were it not for Elijah’s otherwise inexplicable question. But I beat the thing down; and again marking the sleeper, jocularly hinted to Queequeg that perhaps we had best sit up with the body; telling him to establish himself accordingly. He put his hand upon the sleeper’s rear, as though feeling if it was soft enough; and then, without more ado, sat quietly down there.</p>
<p>“Gracious! Queequeg, don’t sit there,” said I.</p>
<p>“Oh! perry dood seat,” said Queequeg, “my country way; won’t hurt him face.”</p>
<p>“Face!” said I, “call that his face? very benevolent countenance then; but how hard he breathes, he’s heaving himself; get off, Queequeg, you are heavy, it’s grinding the face of the poor. Get off, Queequeg! Look, he’ll twitch you off soon. I wonder he don’t wake.”</p>
<p>Queequeg removed himself to just beyond the head of the sleeper, and lighted his tomahawk pipe. I sat at the feet. We kept the pipe passing over the sleeper, from one to the other. Meanwhile, upon questioning him in his broken fashion, Queequeg gave me to understand that, in his land, owing to the absence of settees and sofas of all sorts, the king, chiefs, and great people generally, were in the custom of fattening some of the lower orders for ottomans; and to furnish a house comfortably in that respect, you had only to buy up eight or ten lazy fellows, and lay them round in the piers and alcoves. Besides, it was very convenient on an excursion; much better than those garden-chairs which are convertible into walking-sticks; upon occasion, a chief calling his attendant, and desiring him to make a settee of himself under a spreading tree, perhaps in some damp marshy place.</p>
<p>While narrating these things, every time Queequeg received the tomahawk from me, he flourished the hatchet-side of it over the sleeper’s head.</p>
<p>“What’s that for, Queequeg?”</p>
<p>“Perry easy, kill-e; oh! perry easy!”</p>
<p>He was going on with some wild reminiscences about his tomahawk-pipe, which, it seemed, had in its two uses both brained his foes and soothed his soul, when we were directly attracted to the sleeping rigger. The strong vapour now completely filling the contracted hole, it began to tell upon him. He breathed with a sort of muffledness; then seemed troubled in the nose; then revolved over once or twice; then sat up and rubbed his eyes.</p>
<p>“Holloa!” he breathed at last, “who be ye smokers?”</p>
<p>“Shipped men,” answered I, “when does she sail?”</p>
<p>“Aye, aye, ye are going in her, be ye? She sails to-day. The Captain came aboard last night.”</p>
<p>“What Captain?—Ahab?”</p>
<p>“Who but him indeed?”</p>
<p>I was going to ask him some further questions concerning Ahab, when we heard a noise on deck.</p>
<p>“Holloa! Starbuck’s astir,” said the rigger. “He’s a lively chief mate, that; good man, and a pious; but all alive now, I must turn to.” And so saying he went on deck, and we followed.</p>
<p>It was now clear sunrise. Soon the crew came on board in twos and threes; the riggers bestirred themselves; the mates were actively engaged; and several of the shore people were busy in bringing various last things on board. Meanwhile Captain Ahab remained invisibly enshrined within his cabin.</p>
</section>
