


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 91. The Pequod Meets The Rose-Bud.</h1></header>
<p>“In vain it was to rake for Ambergriese in the paunch of this Leviathan, insufferable fetor denying not inquiry.” SIR T. BROWNE, V.E.</p>
<p>It was a week or two after the last whaling scene recounted, and when we were slowly sailing over a sleepy, vapoury, mid-day sea, that the many noses on the Pequod’s deck proved more vigilant discoverers than the three pairs of eyes aloft. A peculiar and not very pleasant smell was smelt in the sea.</p>
<p>“I will bet something now,” said Stubb, “that somewhere hereabouts are some of those drugged whales we tickled the other day. I thought they would keel up before long.”</p>
<p>Presently, the vapours in advance slid aside; and there in the distance lay a ship, whose furled sails betokened that some sort of whale must be alongside. As we glided nearer, the stranger showed French colours from his peak; and by the eddying cloud of vulture sea-fowl that circled, and hovered, and swooped around him, it was plain that the whale alongside must be what the fishermen call a blasted whale, that is, a whale that has died unmolested on the sea, and so floated an unappropriated corpse. It may well be conceived, what an unsavory odor such a mass must exhale; worse than an Assyrian city in the plague, when the living are incompetent to bury the departed. So intolerable indeed is it regarded by some, that no cupidity could persuade them to moor alongside of it. Yet are there those who will still do it; notwithstanding the fact that the oil obtained from such subjects is of a very inferior quality, and by no means of the nature of attar-of-rose.</p>
<p>Coming still nearer with the expiring breeze, we saw that the Frenchman had a second whale alongside; and this second whale seemed even more of a nosegay than the first. In truth, it turned out to be one of those problematical whales that seem to dry up and die with a sort of prodigious dyspepsia, or indigestion; leaving their defunct bodies almost entirely bankrupt of anything like oil. Nevertheless, in the proper place we shall see that no knowing fisherman will ever turn up his nose at such a whale as this, however much he may shun blasted whales in general.</p>
<p>The Pequod had now swept so nigh to the stranger, that Stubb vowed he recognised his cutting spade-pole entangled in the lines that were knotted round the tail of one of these whales.</p>
<p>“There’s a pretty fellow, now,” he banteringly laughed, standing in the ship’s bows, “there’s a jackal for ye! I well know that these Crappoes of Frenchmen are but poor devils in the fishery; sometimes lowering their boats for breakers, mistaking them for Sperm Whale spouts; yes, and sometimes sailing from their port with their hold full of boxes of tallow candles, and cases of snuffers, foreseeing that all the oil they will get won’t be enough to dip the Captain’s wick into; aye, we all know these things; but look ye, here’s a Crappo that is content with our leavings, the drugged whale there, I mean; aye, and is content too with scraping the dry bones of that other precious fish he has there. Poor devil! I say, pass round a hat, some one, and let’s make him a present of a little oil for dear charity’s sake. For what oil he’ll get from that drugged whale there, wouldn’t be fit to burn in a jail; no, not in a condemned cell. And as for the other whale, why, I’ll agree to get more oil by chopping up and trying out these three masts of ours, than he’ll get from that bundle of bones; though, now that I think of it, it may contain something worth a good deal more than oil; yes, ambergris. I wonder now if our old man has thought of that. It’s worth trying. Yes, I’m for it;" and so saying he started for the quarter-deck.</p>
<p>By this time the faint air had become a complete calm; so that whether or no, the Pequod was now fairly entrapped in the smell, with no hope of escaping except by its breezing up again. Issuing from the cabin, Stubb now called his boat’s crew, and pulled off for the stranger. Drawing across her bow, he perceived that in accordance with the fanciful French taste, the upper part of her stem-piece was carved in the likeness of a huge drooping stalk, was painted green, and for thorns had copper spikes projecting from it here and there; the whole terminating in a symmetrical folded bulb of a bright red colour. Upon her head boards, in large gilt letters, he read “Bouton de Rose,”—Rose-button, or Rose-bud; and this was the romantic name of this aromatic ship.</p>
<p>Though Stubb did not understand the BOUTON part of the inscription, yet the word ROSE, and the bulbous figure-head put together, sufficiently explained the whole to him.</p>
<p>“A wooden rose-bud, eh?” he cried with his hand to his nose, “that will do very well; but how like all creation it smells!”</p>
<p>Now in order to hold direct communication with the people on deck, he had to pull round the bows to the starboard side, and thus come close to the blasted whale; and so talk over it.</p>
<p>Arrived then at this spot, with one hand still to his nose, he bawled—"Bouton-de-Rose, ahoy! are there any of you Bouton-de-Roses that speak English?”</p>
<p>“Yes,” rejoined a Guernsey-man from the bulwarks, who turned out to be the chief-mate.</p>
<p>“Well, then, my Bouton-de-Rose-bud, have you seen the White Whale?”</p>
<p>“WHAT whale?”</p>
<p>“The WHITE Whale—a Sperm Whale—Moby Dick, have ye seen him?</p>
<p>“Never heard of such a whale. Cachalot Blanche! White Whale—no.”</p>
<p>“Very good, then; good bye now, and I’ll call again in a minute.”</p>
<p>Then rapidly pulling back towards the Pequod, and seeing Ahab leaning over the quarter-deck rail awaiting his report, he moulded his two hands into a trumpet and shouted—"No, Sir! No!” Upon which Ahab retired, and Stubb returned to the Frenchman.</p>
<p>He now perceived that the Guernsey-man, who had just got into the chains, and was using a cutting-spade, had slung his nose in a sort of bag.</p>
<p>“What’s the matter with your nose, there?” said Stubb. “Broke it?”</p>
<p>“I wish it was broken, or that I didn’t have any nose at all!” answered the Guernsey-man, who did not seem to relish the job he was at very much. “But what are you holding YOURS for?”</p>
<p>“Oh, nothing! It’s a wax nose; I have to hold it on. Fine day, ain’t it? Air rather gardenny, I should say; throw us a bunch of posies, will ye, Bouton-de-Rose?”</p>
<p>“What in the devil’s name do you want here?” roared the Guernseyman, flying into a sudden passion.</p>
<p>“Oh! keep cool—cool? yes, that’s the word! why don’t you pack those whales in ice while you’re working at 'em? But joking aside, though; do you know, Rose-bud, that it’s all nonsense trying to get any oil out of such whales? As for that dried up one, there, he hasn’t a gill in his whole carcase.”</p>
<p>“I know that well enough; but, d’ye see, the Captain here won’t believe it; this is his first voyage; he was a Cologne manufacturer before. But come aboard, and mayhap he’ll believe you, if he won’t me; and so I’ll get out of this dirty scrape.”</p>
<p>“Anything to oblige ye, my sweet and pleasant fellow,” rejoined Stubb, and with that he soon mounted to the deck. There a queer scene presented itself. The sailors, in tasselled caps of red worsted, were getting the heavy tackles in readiness for the whales. But they worked rather slow and talked very fast, and seemed in anything but a good humor. All their noses upwardly projected from their faces like so many jib-booms. Now and then pairs of them would drop their work, and run up to the mast-head to get some fresh air. Some thinking they would catch the plague, dipped oakum in coal-tar, and at intervals held it to their nostrils. Others having broken the stems of their pipes almost short off at the bowl, were vigorously puffing tobacco-smoke, so that it constantly filled their olfactories.</p>
<p>Stubb was struck by a shower of outcries and anathemas proceeding from the Captain’s round-house abaft; and looking in that direction saw a fiery face thrust from behind the door, which was held ajar from within. This was the tormented surgeon, who, after in vain remonstrating against the proceedings of the day, had betaken himself to the Captain’s round-house (CABINET he called it) to avoid the pest; but still, could not help yelling out his entreaties and indignations at times.</p>
<p>Marking all this, Stubb argued well for his scheme, and turning to the Guernsey-man had a little chat with him, during which the stranger mate expressed his detestation of his Captain as a conceited ignoramus, who had brought them all into so unsavory and unprofitable a pickle. Sounding him carefully, Stubb further perceived that the Guernsey-man had not the slightest suspicion concerning the ambergris. He therefore held his peace on that head, but otherwise was quite frank and confidential with him, so that the two quickly concocted a little plan for both circumventing and satirizing the Captain, without his at all dreaming of distrusting their sincerity. According to this little plan of theirs, the Guernsey-man, under cover of an interpreter’s office, was to tell the Captain what he pleased, but as coming from Stubb; and as for Stubb, he was to utter any nonsense that should come uppermost in him during the interview.</p>
<p>By this time their destined victim appeared from his cabin. He was a small and dark, but rather delicate looking man for a sea-captain, with large whiskers and moustache, however; and wore a red cotton velvet vest with watch-seals at his side. To this gentleman, Stubb was now politely introduced by the Guernsey-man, who at once ostentatiously put on the aspect of interpreting between them.</p>
<p>“What shall I say to him first?” said he.</p>
<p>“Why,” said Stubb, eyeing the velvet vest and the watch and seals, “you may as well begin by telling him that he looks a sort of babyish to me, though I don’t pretend to be a judge.”</p>
<p>“He says, Monsieur,” said the Guernsey-man, in French, turning to his captain, “that only yesterday his ship spoke a vessel, whose captain and chief-mate, with six sailors, had all died of a fever caught from a blasted whale they had brought alongside.”</p>
<p>Upon this the captain started, and eagerly desired to know more.</p>
<p>“What now?” said the Guernsey-man to Stubb.</p>
<p>“Why, since he takes it so easy, tell him that now I have eyed him carefully, I’m quite certain that he’s no more fit to command a whale-ship than a St. Jago monkey. In fact, tell him from me he’s a baboon.”</p>
<p>“He vows and declares, Monsieur, that the other whale, the dried one, is far more deadly than the blasted one; in fine, Monsieur, he conjures us, as we value our lives, to cut loose from these fish.”</p>
<p>Instantly the captain ran forward, and in a loud voice commanded his crew to desist from hoisting the cutting-tackles, and at once cast loose the cables and chains confining the whales to the ship.</p>
<p>“What now?” said the Guernsey-man, when the Captain had returned to them.</p>
<p>“Why, let me see; yes, you may as well tell him now that—that—in fact, tell him I’ve diddled him, and (aside to himself) perhaps somebody else.”</p>
<p>“He says, Monsieur, that he’s very happy to have been of any service to us.”</p>
<p>Hearing this, the captain vowed that they were the grateful parties (meaning himself and mate) and concluded by inviting Stubb down into his cabin to drink a bottle of Bordeaux.</p>
<p>“He wants you to take a glass of wine with him,” said the interpreter.</p>
<p>“Thank him heartily; but tell him it’s against my principles to drink with the man I’ve diddled. In fact, tell him I must go.”</p>
<p>“He says, Monsieur, that his principles won’t admit of his drinking; but that if Monsieur wants to live another day to drink, then Monsieur had best drop all four boats, and pull the ship away from these whales, for it’s so calm they won’t drift.”</p>
<p>By this time Stubb was over the side, and getting into his boat, hailed the Guernsey-man to this effect,—that having a long tow-line in his boat, he would do what he could to help them, by pulling out the lighter whale of the two from the ship’s side. While the Frenchman’s boats, then, were engaged in towing the ship one way, Stubb benevolently towed away at his whale the other way, ostentatiously slacking out a most unusually long tow-line.</p>
<p>Presently a breeze sprang up; Stubb feigned to cast off from the whale; hoisting his boats, the Frenchman soon increased his distance, while the Pequod slid in between him and Stubb’s whale. Whereupon Stubb quickly pulled to the floating body, and hailing the Pequod to give notice of his intentions, at once proceeded to reap the fruit of his unrighteous cunning. Seizing his sharp boat-spade, he commenced an excavation in the body, a little behind the side fin. You would almost have thought he was digging a cellar there in the sea; and when at length his spade struck against the gaunt ribs, it was like turning up old Roman tiles and pottery buried in fat English loam. His boat’s crew were all in high excitement, eagerly helping their chief, and looking as anxious as gold-hunters.</p>
<p>And all the time numberless fowls were diving, and ducking, and screaming, and yelling, and fighting around them. Stubb was beginning to look disappointed, especially as the horrible nosegay increased, when suddenly from out the very heart of this plague, there stole a faint stream of perfume, which flowed through the tide of bad smells without being absorbed by it, as one river will flow into and then along with another, without at all blending with it for a time.</p>
<p>“I have it, I have it,” cried Stubb, with delight, striking something in the subterranean regions, “a purse! a purse!”</p>
<p>Dropping his spade, he thrust both hands in, and drew out handfuls of something that looked like ripe Windsor soap, or rich mottled old cheese; very unctuous and savory withal. You might easily dent it with your thumb; it is of a hue between yellow and ash colour. And this, good friends, is ambergris, worth a gold guinea an ounce to any druggist. Some six handfuls were obtained; but more was unavoidably lost in the sea, and still more, perhaps, might have been secured were it not for impatient Ahab’s loud command to Stubb to desist, and come on board, else the ship would bid them good bye.</p>
</section>
