


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 134. The Chase—Second Day.</h1></header>
<p>At day-break, the three mast-heads were punctually manned afresh.</p>
<p>“D’ye see him?” cried Ahab after allowing a little space for the light to spread.</p>
<p>“See nothing, sir.”</p>
<p>“Turn up all hands and make sail! he travels faster than I thought for;—the top-gallant sails!—aye, they should have been kept on her all night. But no matter—’tis but resting for the rush.”</p>
<p>Here be it said, that this pertinacious pursuit of one particular whale, continued through day into night, and through night into day, is a thing by no means unprecedented in the South sea fishery. For such is the wonderful skill, prescience of experience, and invincible confidence acquired by some great natural geniuses among the Nantucket commanders; that from the simple observation of a whale when last descried, they will, under certain given circumstances, pretty accurately foretell both the direction in which he will continue to swim for a time, while out of sight, as well as his probable rate of progression during that period. And, in these cases, somewhat as a pilot, when about losing sight of a coast, whose general trending he well knows, and which he desires shortly to return to again, but at some further point; like as this pilot stands by his compass, and takes the precise bearing of the cape at present visible, in order the more certainly to hit aright the remote, unseen headland, eventually to be visited: so does the fisherman, at his compass, with the whale; for after being chased, and diligently marked, through several hours of daylight, then, when night obscures the fish, the creature’s future wake through the darkness is almost as established to the sagacious mind of the hunter, as the pilot’s coast is to him. So that to this hunter’s wondrous skill, the proverbial evanescence of a thing writ in water, a wake, is to all desired purposes well nigh as reliable as the steadfast land. And as the mighty iron Leviathan of the modern railway is so familiarly known in its every pace, that, with watches in their hands, men time his rate as doctors that of a baby’s pulse; and lightly say of it, the up train or the down train will reach such or such a spot, at such or such an hour; even so, almost, there are occasions when these Nantucketers time that other Leviathan of the deep, according to the observed humor of his speed; and say to themselves, so many hours hence this whale will have gone two hundred miles, will have about reached this or that degree of latitude or longitude. But to render this acuteness at all successful in the end, the wind and the sea must be the whaleman’s allies; for of what present avail to the becalmed or windbound mariner is the skill that assures him he is exactly ninety-three leagues and a quarter from his port? Inferable from these statements, are many collateral subtile matters touching the chase of whales.</p>
<p>The ship tore on; leaving such a furrow in the sea as when a cannon-ball, missent, becomes a plough-share and turns up the level field.</p>
<p>“By salt and hemp!” cried Stubb, “but this swift motion of the deck creeps up one’s legs and tingles at the heart. This ship and I are two brave fellows!—Ha, ha! Some one take me up, and launch me, spine-wise, on the sea,—for by live-oaks! my spine’s a keel. Ha, ha! we go the gait that leaves no dust behind!”</p>
<p>“There she blows—she blows!—she blows!—right ahead!” was now the mast-head cry.</p>
<p>“Aye, aye!” cried Stubb, “I knew it—ye can’t escape—blow on and split your spout, O whale! the mad fiend himself is after ye! blow your trump—blister your lungs!—Ahab will dam off your blood, as a miller shuts his watergate upon the stream!”</p>
<p>And Stubb did but speak out for well nigh all that crew. The frenzies of the chase had by this time worked them bubblingly up, like old wine worked anew. Whatever pale fears and forebodings some of them might have felt before; these were not only now kept out of sight through the growing awe of Ahab, but they were broken up, and on all sides routed, as timid prairie hares that scatter before the bounding bison. The hand of Fate had snatched all their souls; and by the stirring perils of the previous day; the rack of the past night’s suspense; the fixed, unfearing, blind, reckless way in which their wild craft went plunging towards its flying mark; by all these things, their hearts were bowled along. The wind that made great bellies of their sails, and rushed the vessel on by arms invisible as irresistible; this seemed the symbol of that unseen agency which so enslaved them to the race.</p>
<p>They were one man, not thirty. For as the one ship that held them all; though it was put together of all contrasting things—oak, and maple, and pine wood; iron, and pitch, and hemp—yet all these ran into each other in the one concrete hull, which shot on its way, both balanced and directed by the long central keel; even so, all the individualities of the crew, this man’s valor, that man’s fear; guilt and guiltiness, all varieties were welded into oneness, and were all directed to that fatal goal which Ahab their one lord and keel did point to.</p>
<p>The rigging lived. The mast-heads, like the tops of tall palms, were outspreadingly tufted with arms and legs. Clinging to a spar with one hand, some reached forth the other with impatient wavings; others, shading their eyes from the vivid sunlight, sat far out on the rocking yards; all the spars in full bearing of mortals, ready and ripe for their fate. Ah! how they still strove through that infinite blueness to seek out the thing that might destroy them!</p>
<p>“Why sing ye not out for him, if ye see him?” cried Ahab, when, after the lapse of some minutes since the first cry, no more had been heard. “Sway me up, men; ye have been deceived; not Moby Dick casts one odd jet that way, and then disappears.”</p>
<p>It was even so; in their headlong eagerness, the men had mistaken some other thing for the whale-spout, as the event itself soon proved; for hardly had Ahab reached his perch; hardly was the rope belayed to its pin on deck, when he struck the key-note to an orchestra, that made the air vibrate as with the combined discharges of rifles. The triumphant halloo of thirty buckskin lungs was heard, as—much nearer to the ship than the place of the imaginary jet, less than a mile ahead—Moby Dick bodily burst into view! For not by any calm and indolent spoutings; not by the peaceable gush of that mystic fountain in his head, did the White Whale now reveal his vicinity; but by the far more wondrous phenomenon of breaching. Rising with his utmost velocity from the furthest depths, the Sperm Whale thus booms his entire bulk into the pure element of air, and piling up a mountain of dazzling foam, shows his place to the distance of seven miles and more. In those moments, the torn, enraged waves he shakes off, seem his mane; in some cases, this breaching is his act of defiance.</p>
<p>“There she breaches! there she breaches!” was the cry, as in his immeasurable bravadoes the White Whale tossed himself salmon-like to Heaven. So suddenly seen in the blue plain of the sea, and relieved against the still bluer margin of the sky, the spray that he raised, for the moment, intolerably glittered and glared like a glacier; and stood there gradually fading and fading away from its first sparkling intensity, to the dim mistiness of an advancing shower in a vale.</p>
<p>“Aye, breach your last to the sun, Moby Dick!” cried Ahab, “thy hour and thy harpoon are at hand!—Down! down all of ye, but one man at the fore. The boats!—stand by!”</p>
<p>Unmindful of the tedious rope-ladders of the shrouds, the men, like shooting stars, slid to the deck, by the isolated backstays and halyards; while Ahab, less dartingly, but still rapidly was dropped from his perch.</p>
<p>“Lower away,” he cried, so soon as he had reached his boat—a spare one, rigged the afternoon previous. “Mr. Starbuck, the ship is thine—keep away from the boats, but keep near them. Lower, all!”</p>
<p>As if to strike a quick terror into them, by this time being the first assailant himself, Moby Dick had turned, and was now coming for the three crews. Ahab’s boat was central; and cheering his men, he told them he would take the whale head-and-head,—that is, pull straight up to his forehead,—a not uncommon thing; for when within a certain limit, such a course excludes the coming onset from the whale’s sidelong vision. But ere that close limit was gained, and while yet all three boats were plain as the ship’s three masts to his eye; the White Whale churning himself into furious speed, almost in an instant as it were, rushing among the boats with open jaws, and a lashing tail, offered appalling battle on every side; and heedless of the irons darted at him from every boat, seemed only intent on annihilating each separate plank of which those boats were made. But skilfully manoeuvred, incessantly wheeling like trained chargers in the field; the boats for a while eluded him; though, at times, but by a plank’s breadth; while all the time, Ahab’s unearthly slogan tore every other cry but his to shreds.</p>
<p>But at last in his untraceable evolutions, the White Whale so crossed and recrossed, and in a thousand ways entangled the slack of the three lines now fast to him, that they foreshortened, and, of themselves, warped the devoted boats towards the planted irons in him; though now for a moment the whale drew aside a little, as if to rally for a more tremendous charge. Seizing that opportunity, Ahab first paid out more line: and then was rapidly hauling and jerking in upon it again—hoping that way to disencumber it of some snarls—when lo!—a sight more savage than the embattled teeth of sharks!</p>
<p>Caught and twisted—corkscrewed in the mazes of the line, loose harpoons and lances, with all their bristling barbs and points, came flashing and dripping up to the chocks in the bows of Ahab’s boat. Only one thing could be done. Seizing the boat-knife, he critically reached within—through—and then, without—the rays of steel; dragged in the line beyond, passed it, inboard, to the bowsman, and then, twice sundering the rope near the chocks—dropped the intercepted fagot of steel into the sea; and was all fast again. That instant, the White Whale made a sudden rush among the remaining tangles of the other lines; by so doing, irresistibly dragged the more involved boats of Stubb and Flask towards his flukes; dashed them together like two rolling husks on a surf-beaten beach, and then, diving down into the sea, disappeared in a boiling maelstrom, in which, for a space, the odorous cedar chips of the wrecks danced round and round, like the grated nutmeg in a swiftly stirred bowl of punch.</p>
<p>While the two crews were yet circling in the waters, reaching out after the revolving line-tubs, oars, and other floating furniture, while aslope little Flask bobbed up and down like an empty vial, twitching his legs upwards to escape the dreaded jaws of sharks; and Stubb was lustily singing out for some one to ladle him up; and while the old man’s line—now parting—admitted of his pulling into the creamy pool to rescue whom he could;—in that wild simultaneousness of a thousand concreted perils,—Ahab’s yet unstricken boat seemed drawn up towards Heaven by invisible wires,—as, arrow-like, shooting perpendicularly from the sea, the White Whale dashed his broad forehead against its bottom, and sent it, turning over and over, into the air; till it fell again—gunwale downwards—and Ahab and his men struggled out from under it, like seals from a sea-side cave.</p>
<p>The first uprising momentum of the whale—modifying its direction as he struck the surface—involuntarily launched him along it, to a little distance from the centre of the destruction he had made; and with his back to it, he now lay for a moment slowly feeling with his flukes from side to side; and whenever a stray oar, bit of plank, the least chip or crumb of the boats touched his skin, his tail swiftly drew back, and came sideways smiting the sea. But soon, as if satisfied that his work for that time was done, he pushed his pleated forehead through the ocean, and trailing after him the intertangled lines, continued his leeward way at a traveller’s methodic pace.</p>
<p>As before, the attentive ship having descried the whole fight, again came bearing down to the rescue, and dropping a boat, picked up the floating mariners, tubs, oars, and whatever else could be caught at, and safely landed them on her decks. Some sprained shoulders, wrists, and ankles; livid contusions; wrenched harpoons and lances; inextricable intricacies of rope; shattered oars and planks; all these were there; but no fatal or even serious ill seemed to have befallen any one. As with Fedallah the day before, so Ahab was now found grimly clinging to his boat’s broken half, which afforded a comparatively easy float; nor did it so exhaust him as the previous day’s mishap.</p>
<p>But when he was helped to the deck, all eyes were fastened upon him; as instead of standing by himself he still half-hung upon the shoulder of Starbuck, who had thus far been the foremost to assist him. His ivory leg had been snapped off, leaving but one short sharp splinter.</p>
<p>“Aye, aye, Starbuck, ‘tis sweet to lean sometimes, be the leaner who he will; and would old Ahab had leaned oftener than he has.”</p>
<p>“The ferrule has not stood, sir,” said the carpenter, now coming up; “I put good work into that leg.”</p>
<p>“But no bones broken, sir, I hope,” said Stubb with true concern.</p>
<p>“Aye! and all splintered to pieces, Stubb!—d’ye see it.—But even with a broken bone, old Ahab is untouched; and I account no living bone of mine one jot more me, than this dead one that’s lost. Nor white whale, nor man, nor fiend, can so much as graze old Ahab in his own proper and inaccessible being. Can any lead touch yonder floor, any mast scrape yonder roof?—Aloft there! which way?”</p>
<p>“Dead to leeward, sir.”</p>
<p>“Up helm, then; pile on the sail again, ship keepers! down the rest of the spare boats and rig them—Mr. Starbuck away, and muster the boat’s crews.”</p>
<p>“Let me first help thee towards the bulwarks, sir.”</p>
<p>“Oh, oh, oh! how this splinter gores me now! Accursed fate! that the unconquerable captain in the soul should have such a craven mate!”</p>
<p>“Sir?”</p>
<p>“My body, man, not thee. Give me something for a cane—there, that shivered lance will do. Muster the men. Surely I have not seen him yet. By heaven it cannot be!—missing?—quick! call them all.”</p>
<p>The old man’s hinted thought was true. Upon mustering the company, the Parsee was not there.</p>
<p>“The Parsee!” cried Stubb—"he must have been caught in—”</p>
<p>“The black vomit wrench thee!—run all of ye above, alow, cabin, forecastle—find him—not gone—not gone!”</p>
<p>But quickly they returned to him with the tidings that the Parsee was nowhere to be found.</p>
<p>“Aye, sir,” said Stubb—"caught among the tangles of your line—I thought I saw him dragging under.”</p>
<p>“MY line! MY line? Gone?—gone? What means that little word?—What death-knell rings in it, that old Ahab shakes as if he were the belfry. The harpoon, too!—toss over the litter there,—d’ye see it?—the forged iron, men, the white whale’s—no, no, no,—blistered fool! this hand did dart it!—'tis in the fish!—Aloft there! Keep him nailed—Quick!—all hands to the rigging of the boats—collect the oars—harpooneers! the irons, the irons!—hoist the royals higher—a pull on all the sheets!—helm there! steady, steady for your life! I’ll ten times girdle the unmeasured globe; yea and dive straight through it, but I’ll slay him yet!</p>
<p>“Great God! but for one single instant show thyself,” cried Starbuck; “never, never wilt thou capture him, old man—In Jesus’ name no more of this, that’s worse than devil’s madness. Two days chased; twice stove to splinters; thy very leg once more snatched from under thee; thy evil shadow gone—all good angels mobbing thee with warnings:—</p>
<p>“What more wouldst thou have?—Shall we keep chasing this murderous fish till he swamps the last man? Shall we be dragged by him to the bottom of the sea? Shall we be towed by him to the infernal world? Oh, oh,—Impiety and blasphemy to hunt him more!”</p>
<p>“Starbuck, of late I’ve felt strangely moved to thee; ever since that hour we both saw—thou know’st what, in one another’s eyes. But in this matter of the whale, be the front of thy face to me as the palm of this hand—a lipless, unfeatured blank. Ahab is for ever Ahab, man. This whole act’s immutably decreed. ‘Twas rehearsed by thee and me a billion years before this ocean rolled. Fool! I am the Fates’ lieutenant; I act under orders. Look thou, underling! that thou obeyest mine.—Stand round me, men. Ye see an old man cut down to the stump; leaning on a shivered lance; propped up on a lonely foot. ‘Tis Ahab—his body’s part; but Ahab’s soul’s a centipede, that moves upon a hundred legs. I feel strained, half stranded, as ropes that tow dismasted frigates in a gale; and I may look so. But ere I break, yell hear me crack; and till ye hear THAT, know that Ahab’s hawser tows his purpose yet. Believe ye, men, in the things called omens? Then laugh aloud, and cry encore! For ere they drown, drowning things will twice rise to the surface; then rise again, to sink for evermore. So with Moby Dick—two days he’s floated—tomorrow will be the third. Aye, men, he’ll rise once more,—but only to spout his last! D’ye feel brave men, brave?”</p>
<p>“As fearless fire,” cried Stubb.</p>
<p>“And as mechanical,” muttered Ahab. Then as the men went forward, he muttered on: “The things called omens! And yesterday I talked the same to Starbuck there, concerning my broken boat. Oh! how valiantly I seek to drive out of others’ hearts what’s clinched so fast in mine!—The Parsee—the Parsee!—gone, gone? and he was to go before:—but still was to be seen again ere I could perish—How’s that?—There’s a riddle now might baffle all the lawyers backed by the ghosts of the whole line of judges:—like a hawk’s beak it pecks my brain. I’LL, I’LL solve it, though!”</p>
<p>When dusk descended, the whale was still in sight to leeward.</p>
<p>So once more the sail was shortened, and everything passed nearly as on the previous night; only, the sound of hammers, and the hum of the grindstone was heard till nearly daylight, as the men toiled by lanterns in the complete and careful rigging of the spare boats and sharpening their fresh weapons for the morrow. Meantime, of the broken keel of Ahab’s wrecked craft the carpenter made him another leg; while still as on the night before, slouched Ahab stood fixed within his scuttle; his hid, heliotrope glance anticipatingly gone backward on its dial; sat due eastward for the earliest sun.</p>
</section>
