


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 126. The Life-Buoy.</h1></header>
<p>Steering now south-eastward by Ahab’s levelled steel, and her progress solely determined by Ahab’s level log and line; the Pequod held on her path towards the Equator. Making so long a passage through such unfrequented waters, descrying no ships, and ere long, sideways impelled by unvarying trade winds, over waves monotonously mild; all these seemed the strange calm things preluding some riotous and desperate scene.</p>
<p>At last, when the ship drew near to the outskirts, as it were, of the Equatorial fishing-ground, and in the deep darkness that goes before the dawn, was sailing by a cluster of rocky islets; the watch—then headed by Flask—was startled by a cry so plaintively wild and unearthly—like half-articulated wailings of the ghosts of all Herod’s murdered Innocents—that one and all, they started from their reveries, and for the space of some moments stood, or sat, or leaned all transfixedly listening, like the carved Roman slave, while that wild cry remained within hearing. The Christian or civilized part of the crew said it was mermaids, and shuddered; but the pagan harpooneers remained unappalled. Yet the grey Manxman—the oldest mariner of all—declared that the wild thrilling sounds that were heard, were the voices of newly drowned men in the sea.</p>
<p>Below in his hammock, Ahab did not hear of this till grey dawn, when he came to the deck; it was then recounted to him by Flask, not unaccompanied with hinted dark meanings. He hollowly laughed, and thus explained the wonder.</p>
<p>Those rocky islands the ship had passed were the resort of great numbers of seals, and some young seals that had lost their dams, or some dams that had lost their cubs, must have risen nigh the ship and kept company with her, crying and sobbing with their human sort of wail. But this only the more affected some of them, because most mariners cherish a very superstitious feeling about seals, arising not only from their peculiar tones when in distress, but also from the human look of their round heads and semi-intelligent faces, seen peeringly uprising from the water alongside. In the sea, under certain circumstances, seals have more than once been mistaken for men.</p>
<p>But the bodings of the crew were destined to receive a most plausible confirmation in the fate of one of their number that morning. At sun-rise this man went from his hammock to his mast-head at the fore; and whether it was that he was not yet half waked from his sleep (for sailors sometimes go aloft in a transition state), whether it was thus with the man, there is now no telling; but, be that as it may, he had not been long at his perch, when a cry was heard—a cry and a rushing—and looking up, they saw a falling phantom in the air; and looking down, a little tossed heap of white bubbles in the blue of the sea.</p>
<p>The life-buoy—a long slender cask—was dropped from the stern, where it always hung obedient to a cunning spring; but no hand rose to seize it, and the sun having long beat upon this cask it had shrunken, so that it slowly filled, and that parched wood also filled at its every pore; and the studded iron-bound cask followed the sailor to the bottom, as if to yield him his pillow, though in sooth but a hard one.</p>
<p>And thus the first man of the Pequod that mounted the mast to look out for the White Whale, on the White Whale’s own peculiar ground; that man was swallowed up in the deep. But few, perhaps, thought of that at the time. Indeed, in some sort, they were not grieved at this event, at least as a portent; for they regarded it, not as a foreshadowing of evil in the future, but as the fulfilment of an evil already presaged. They declared that now they knew the reason of those wild shrieks they had heard the night before. But again the old Manxman said nay.</p>
<p>The lost life-buoy was now to be replaced; Starbuck was directed to see to it; but as no cask of sufficient lightness could be found, and as in the feverish eagerness of what seemed the approaching crisis of the voyage, all hands were impatient of any toil but what was directly connected with its final end, whatever that might prove to be; therefore, they were going to leave the ship’s stern unprovided with a buoy, when by certain strange signs and inuendoes Queequeg hinted a hint concerning his coffin.</p>
<p>“A life-buoy of a coffin!” cried Starbuck, starting.</p>
<p>“Rather queer, that, I should say,” said Stubb.</p>
<p>“It will make a good enough one,” said Flask, “the carpenter here can arrange it easily.”</p>
<p>“Bring it up; there’s nothing else for it,” said Starbuck, after a melancholy pause. “Rig it, carpenter; do not look at me so—the coffin, I mean. Dost thou hear me? Rig it.”</p>
<p>“And shall I nail down the lid, sir?” moving his hand as with a hammer.</p>
<p>“Aye.”</p>
<p>“And shall I caulk the seams, sir?” moving his hand as with a caulking-iron.</p>
<p>“Aye.”</p>
<p>“And shall I then pay over the same with pitch, sir?” moving his hand as with a pitch-pot.</p>
<p>“Away! what possesses thee to this? Make a life-buoy of the coffin, and no more.—Mr. Stubb, Mr. Flask, come forward with me.”</p>
<p>“He goes off in a huff. The whole he can endure; at the parts he baulks. Now I don’t like this. I make a leg for Captain Ahab, and he wears it like a gentleman; but I make a bandbox for Queequeg, and he won’t put his head into it. Are all my pains to go for nothing with that coffin? And now I’m ordered to make a life-buoy of it. It’s like turning an old coat; going to bring the flesh on the other side now. I don’t like this cobbling sort of business—I don’t like it at all; it’s undignified; it’s not my place. Let tinkers’ brats do tinkerings; we are their betters. I like to take in hand none but clean, virgin, fair-and-square mathematical jobs, something that regularly begins at the beginning, and is at the middle when midway, and comes to an end at the conclusion; not a cobbler’s job, that’s at an end in the middle, and at the beginning at the end. It’s the old woman’s tricks to be giving cobbling jobs. Lord! what an affection all old women have for tinkers. I know an old woman of sixty-five who ran away with a bald-headed young tinker once. And that’s the reason I never would work for lonely widow old women ashore, when I kept my job-shop in the Vineyard; they might have taken it into their lonely old heads to run off with me. But heigh-ho! there are no caps at sea but snow-caps. Let me see. Nail down the lid; caulk the seams; pay over the same with pitch; batten them down tight, and hang it with the snap-spring over the ship’s stern. Were ever such things done before with a coffin? Some superstitious old carpenters, now, would be tied up in the rigging, ere they would do the job. But I’m made of knotty Aroostook hemlock; I don’t budge. Cruppered with a coffin! Sailing about with a grave-yard tray! But never mind. We workers in woods make bridal-bedsteads and card-tables, as well as coffins and hearses. We work by the month, or by the job, or by the profit; not for us to ask the why and wherefore of our work, unless it be too confounded cobbling, and then we stash it if we can. Hem! I’ll do the job, now, tenderly. I’ll have me—let’s see—how many in the ship’s company, all told? But I’ve forgotten. Any way, I’ll have me thirty separate, Turk’s-headed life-lines, each three feet long hanging all round to the coffin. Then, if the hull go down, there’ll be thirty lively fellows all fighting for one coffin, a sight not seen very often beneath the sun! Come hammer, caulking-iron, pitch-pot, and marling-spike! Let’s to it.”</p>
</section>
