


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 121. Midnight.—The Forecastle Bulwarks.</h1></header>
<p>STUBB AND FLASK MOUNTED ON THEM, AND PASSING ADDITIONAL LASHINGS OVER THE ANCHORS THERE HANGING.</p>
<p>“No, Stubb; you may pound that knot there as much as you please, but you will never pound into me what you were just now saying. And how long ago is it since you said the very contrary? Didn’t you once say that whatever ship Ahab sails in, that ship should pay something extra on its insurance policy, just as though it were loaded with powder barrels aft and boxes of lucifers forward? Stop, now; didn’t you say so?”</p>
<p>“Well, suppose I did? What then? I’ve part changed my flesh since that time, why not my mind? Besides, supposing we ARE loaded with powder barrels aft and lucifers forward; how the devil could the lucifers get afire in this drenching spray here? Why, my little man, you have pretty red hair, but you couldn’t get afire now. Shake yourself; you’re Aquarius, or the water-bearer, Flask; might fill pitchers at your coat collar. Don’t you see, then, that for these extra risks the Marine Insurance companies have extra guarantees? Here are hydrants, Flask. But hark, again, and I’ll answer ye the other thing. First take your leg off from the crown of the anchor here, though, so I can pass the rope; now listen. What’s the mighty difference between holding a mast’s lightning-rod in the storm, and standing close by a mast that hasn’t got any lightning-rod at all in a storm? Don’t you see, you timber-head, that no harm can come to the holder of the rod, unless the mast is first struck? What are you talking about, then? Not one ship in a hundred carries rods, and Ahab,—aye, man, and all of us,—were in no more danger then, in my poor opinion, than all the crews in ten thousand ships now sailing the seas. Why, you King-Post, you, I suppose you would have every man in the world go about with a small lightning-rod running up the corner of his hat, like a militia officer’s skewered feather, and trailing behind like his sash. Why don’t ye be sensible, Flask? it’s easy to be sensible; why don’t ye, then? any man with half an eye can be sensible.”</p>
<p>“I don’t know that, Stubb. You sometimes find it rather hard.”</p>
<p>“Yes, when a fellow’s soaked through, it’s hard to be sensible, that’s a fact. And I am about drenched with this spray. Never mind; catch the turn there, and pass it. Seems to me we are lashing down these anchors now as if they were never going to be used again. Tying these two anchors here, Flask, seems like tying a man’s hands behind him. And what big generous hands they are, to be sure. These are your iron fists, hey? What a hold they have, too! I wonder, Flask, whether the world is anchored anywhere; if she is, she swings with an uncommon long cable, though. There, hammer that knot down, and we’ve done. So; next to touching land, lighting on deck is the most satisfactory. I say, just wring out my jacket skirts, will ye? Thank ye. They laugh at long-togs so, Flask; but seems to me, a Long tailed coat ought always to be worn in all storms afloat. The tails tapering down that way, serve to carry off the water, d’ye see. Same with cocked hats; the cocks form gable-end eave-troughs, Flask. No more monkey-jackets and tarpaulins for me; I must mount a swallow-tail, and drive down a beaver; so. Halloa! whew! there goes my tarpaulin overboard; Lord, Lord, that the winds that come from heaven should be so unmannerly! This is a nasty night, lad.”</p>
</section>
