


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 135. The Chase.—Third Day.</h1></header>
<p>The morning of the third day dawned fair and fresh, and once more the solitary night-man at the fore-mast-head was relieved by crowds of the daylight look-outs, who dotted every mast and almost every spar.</p>
<p>“D’ye see him?” cried Ahab; but the whale was not yet in sight.</p>
<p>“In his infallible wake, though; but follow that wake, that’s all. Helm there; steady, as thou goest, and hast been going. What a lovely day again! were it a new-made world, and made for a summer-house to the angels, and this morning the first of its throwing open to them, a fairer day could not dawn upon that world. Here’s food for thought, had Ahab time to think; but Ahab never thinks; he only feels, feels, feels; THAT’S tingling enough for mortal man! to think’s audacity. God only has that right and privilege. Thinking is, or ought to be, a coolness and a calmness; and our poor hearts throb, and our poor brains beat too much for that. And yet, I’ve sometimes thought my brain was very calm—frozen calm, this old skull cracks so, like a glass in which the contents turned to ice, and shiver it. And still this hair is growing now; this moment growing, and heat must breed it; but no, it’s like that sort of common grass that will grow anywhere, between the earthy clefts of Greenland ice or in Vesuvius lava. How the wild winds blow it; they whip it about me as the torn shreds of split sails lash the tossed ship they cling to. A vile wind that has no doubt blown ere this through prison corridors and cells, and wards of hospitals, and ventilated them, and now comes blowing hither as innocent as fleeces. Out upon it!—it’s tainted. Were I the wind, I’d blow no more on such a wicked, miserable world. I’d crawl somewhere to a cave, and slink there. And yet, ‘tis a noble and heroic thing, the wind! who ever conquered it? In every fight it has the last and bitterest blow. Run tilting at it, and you but run through it. Ha! a coward wind that strikes stark naked men, but will not stand to receive a single blow. Even Ahab is a braver thing—a nobler thing than THAT. Would now the wind but had a body; but all the things that most exasperate and outrage mortal man, all these things are bodiless, but only bodiless as objects, not as agents. There’s a most special, a most cunning, oh, a most malicious difference! And yet, I say again, and swear it now, that there’s something all glorious and gracious in the wind. These warm Trade Winds, at least, that in the clear heavens blow straight on, in strong and steadfast, vigorous mildness; and veer not from their mark, however the baser currents of the sea may turn and tack, and mightiest Mississippies of the land swift and swerve about, uncertain where to go at last. And by the eternal Poles! these same Trades that so directly blow my good ship on; these Trades, or something like them—something so unchangeable, and full as strong, blow my keeled soul along! To it! Aloft there! What d’ye see?”</p>
<p>“Nothing, sir.”</p>
<p>“Nothing! and noon at hand! The doubloon goes a-begging! See the sun! Aye, aye, it must be so. I’ve oversailed him. How, got the start? Aye, he’s chasing ME now; not I, HIM—that’s bad; I might have known it, too. Fool! the lines—the harpoons he’s towing. Aye, aye, I have run him by last night. About! about! Come down, all of ye, but the regular look outs! Man the braces!”</p>
<p>Steering as she had done, the wind had been somewhat on the Pequod’s quarter, so that now being pointed in the reverse direction, the braced ship sailed hard upon the breeze as she rechurned the cream in her own white wake.</p>
<p>“Against the wind he now steers for the open jaw,” murmured Starbuck to himself, as he coiled the new-hauled main-brace upon the rail. “God keep us, but already my bones feel damp within me, and from the inside wet my flesh. I misdoubt me that I disobey my God in obeying him!”</p>
<p>“Stand by to sway me up!” cried Ahab, advancing to the hempen basket. “We should meet him soon.”</p>
<p>“Aye, aye, sir,” and straightway Starbuck did Ahab’s bidding, and once more Ahab swung on high.</p>
<p>A whole hour now passed; gold-beaten out to ages. Time itself now held long breaths with keen suspense. But at last, some three points off the weather bow, Ahab descried the spout again, and instantly from the three mast-heads three shrieks went up as if the tongues of fire had voiced it.</p>
<p>“Forehead to forehead I meet thee, this third time, Moby Dick! On deck there!—brace sharper up; crowd her into the wind’s eye. He’s too far off to lower yet, Mr. Starbuck. The sails shake! Stand over that helmsman with a top-maul! So, so; he travels fast, and I must down. But let me have one more good round look aloft here at the sea; there’s time for that. An old, old sight, and yet somehow so young; aye, and not changed a wink since I first saw it, a boy, from the sand-hills of Nantucket! The same!—the same!—the same to Noah as to me. There’s a soft shower to leeward. Such lovely leewardings! They must lead somewhere—to something else than common land, more palmy than the palms. Leeward! the white whale goes that way; look to windward, then; the better if the bitterer quarter. But good bye, good bye, old mast-head! What’s this?—green? aye, tiny mosses in these warped cracks. No such green weather stains on Ahab’s head! There’s the difference now between man’s old age and matter’s. But aye, old mast, we both grow old together; sound in our hulls, though, are we not, my ship? Aye, minus a leg, that’s all. By heaven this dead wood has the better of my live flesh every way. I can’t compare with it; and I’ve known some ships made of dead trees outlast the lives of men made of the most vital stuff of vital fathers. What’s that he said? he should still go before me, my pilot; and yet to be seen again? But where? Will I have eyes at the bottom of the sea, supposing I descend those endless stairs? and all night I’ve been sailing from him, wherever he did sink to. Aye, aye, like many more thou told’st direful truth as touching thyself, O Parsee; but, Ahab, there thy shot fell short. Good-bye, mast-head—keep a good eye upon the whale, the while I’m gone. We’ll talk to-morrow, nay, to-night, when the white whale lies down there, tied by head and tail.”</p>
<p>He gave the word; and still gazing round him, was steadily lowered through the cloven blue air to the deck.</p>
<p>In due time the boats were lowered; but as standing in his shallop’s stern, Ahab just hovered upon the point of the descent, he waved to the mate,—who held one of the tackle-ropes on deck—and bade him pause.</p>
<p>“Starbuck!”</p>
<p>“Sir?”</p>
<p>“For the third time my soul’s ship starts upon this voyage, Starbuck.”</p>
<p>“Aye, sir, thou wilt have it so.”</p>
<p>“Some ships sail from their ports, and ever afterwards are missing, Starbuck!”</p>
<p>“Truth, sir: saddest truth.”</p>
<p>“Some men die at ebb tide; some at low water; some at the full of the flood;—and I feel now like a billow that’s all one crested comb, Starbuck. I am old;—shake hands with me, man.”</p>
<p>Their hands met; their eyes fastened; Starbuck’s tears the glue.</p>
<p>“Oh, my captain, my captain!—noble heart—go not—go not!—see, it’s a brave man that weeps; how great the agony of the persuasion then!”</p>
<p>“Lower away!”—cried Ahab, tossing the mate’s arm from him. “Stand by the crew!”</p>
<p>In an instant the boat was pulling round close under the stern.</p>
<p>“The sharks! the sharks!” cried a voice from the low cabin-window there; “O master, my master, come back!”</p>
<p>But Ahab heard nothing; for his own voice was high-lifted then; and the boat leaped on.</p>
<p>Yet the voice spake true; for scarce had he pushed from the ship, when numbers of sharks, seemingly rising from out the dark waters beneath the hull, maliciously snapped at the blades of the oars, every time they dipped in the water; and in this way accompanied the boat with their bites. It is a thing not uncommonly happening to the whale-boats in those swarming seas; the sharks at times apparently following them in the same prescient way that vultures hover over the banners of marching regiments in the east. But these were the first sharks that had been observed by the Pequod since the White Whale had been first descried; and whether it was that Ahab’s crew were all such tiger-yellow barbarians, and therefore their flesh more musky to the senses of the sharks—a matter sometimes well known to affect them,—however it was, they seemed to follow that one boat without molesting the others.</p>
<p>“Heart of wrought steel!” murmured Starbuck gazing over the side, and following with his eyes the receding boat—"canst thou yet ring boldly to that sight?—lowering thy keel among ravening sharks, and followed by them, open-mouthed to the chase; and this the critical third day?—For when three days flow together in one continuous intense pursuit; be sure the first is the morning, the second the noon, and the third the evening and the end of that thing—be that end what it may. Oh! my God! what is this that shoots through me, and leaves me so deadly calm, yet expectant,—fixed at the top of a shudder! Future things swim before me, as in empty outlines and skeletons; all the past is somehow grown dim. Mary, girl! thou fadest in pale glories behind me; boy! I seem to see but thy eyes grown wondrous blue. Strangest problems of life seem clearing; but clouds sweep between—Is my journey’s end coming? My legs feel faint; like his who has footed it all day. Feel thy heart,—beats it yet? Stir thyself, Starbuck!—stave it off—move, move! speak aloud!—Mast-head there! See ye my boy’s hand on the hill?—Crazed;—aloft there!—keep thy keenest eye upon the boats:—</p>
<p>“Mark well the whale!—Ho! again!—drive off that hawk! see! he pecks—he tears the vane"—pointing to the red flag flying at the main-truck—"Ha! he soars away with it!—Where’s the old man now? see’st thou that sight, oh Ahab!—shudder, shudder!”</p>
<p>The boats had not gone very far, when by a signal from the mast-heads—a downward pointed arm, Ahab knew that the whale had sounded; but intending to be near him at the next rising, he held on his way a little sideways from the vessel; the becharmed crew maintaining the profoundest silence, as the head-beat waves hammered and hammered against the opposing bow.</p>
<p>“Drive, drive in your nails, oh ye waves! to their uttermost heads drive them in! ye but strike a thing without a lid; and no coffin and no hearse can be mine:—and hemp only can kill me! Ha! ha!”</p>
<p>Suddenly the waters around them slowly swelled in broad circles; then quickly upheaved, as if sideways sliding from a submerged berg of ice, swiftly rising to the surface. A low rumbling sound was heard; a subterraneous hum; and then all held their breaths; as bedraggled with trailing ropes, and harpoons, and lances, a vast form shot lengthwise, but obliquely from the sea. Shrouded in a thin drooping veil of mist, it hovered for a moment in the rainbowed air; and then fell swamping back into the deep. Crushed thirty feet upwards, the waters flashed for an instant like heaps of fountains, then brokenly sank in a shower of flakes, leaving the circling surface creamed like new milk round the marble trunk of the whale.</p>
<p>“Give way!” cried Ahab to the oarsmen, and the boats darted forward to the attack; but maddened by yesterday’s fresh irons that corroded in him, Moby Dick seemed combinedly possessed by all the angels that fell from heaven. The wide tiers of welded tendons overspreading his broad white forehead, beneath the transparent skin, looked knitted together; as head on, he came churning his tail among the boats; and once more flailed them apart; spilling out the irons and lances from the two mates’ boats, and dashing in one side of the upper part of their bows, but leaving Ahab’s almost without a scar.</p>
<p>While Daggoo and Queequeg were stopping the strained planks; and as the whale swimming out from them, turned, and showed one entire flank as he shot by them again; at that moment a quick cry went up. Lashed round and round to the fish’s back; pinioned in the turns upon turns in which, during the past night, the whale had reeled the involutions of the lines around him, the half torn body of the Parsee was seen; his sable raiment frayed to shreds; his distended eyes turned full upon old Ahab.</p>
<p>The harpoon dropped from his hand.</p>
<p>“Befooled, befooled!”—drawing in a long lean breath—"Aye, Parsee! I see thee again.—Aye, and thou goest before; and this, THIS then is the hearse that thou didst promise. But I hold thee to the last letter of thy word. Where is the second hearse? Away, mates, to the ship! those boats are useless now; repair them if ye can in time, and return to me; if not, Ahab is enough to die—Down, men! the first thing that but offers to jump from this boat I stand in, that thing I harpoon. Ye are not other men, but my arms and my legs; and so obey me.—Where’s the whale? gone down again?”</p>
<p>But he looked too nigh the boat; for as if bent upon escaping with the corpse he bore, and as if the particular place of the last encounter had been but a stage in his leeward voyage, Moby Dick was now again steadily swimming forward; and had almost passed the ship,—which thus far had been sailing in the contrary direction to him, though for the present her headway had been stopped. He seemed swimming with his utmost velocity, and now only intent upon pursuing his own straight path in the sea.</p>
<p>“Oh! Ahab,” cried Starbuck, “not too late is it, even now, the third day, to desist. See! Moby Dick seeks thee not. It is thou, thou, that madly seekest him!”</p>
<p>Setting sail to the rising wind, the lonely boat was swiftly impelled to leeward, by both oars and canvas. And at last when Ahab was sliding by the vessel, so near as plainly to distinguish Starbuck’s face as he leaned over the rail, he hailed him to turn the vessel about, and follow him, not too swiftly, at a judicious interval. Glancing upwards, he saw Tashtego, Queequeg, and Daggoo, eagerly mounting to the three mast-heads; while the oarsmen were rocking in the two staved boats which had but just been hoisted to the side, and were busily at work in repairing them. One after the other, through the port-holes, as he sped, he also caught flying glimpses of Stubb and Flask, busying themselves on deck among bundles of new irons and lances. As he saw all this; as he heard the hammers in the broken boats; far other hammers seemed driving a nail into his heart. But he rallied. And now marking that the vane or flag was gone from the main-mast-head, he shouted to Tashtego, who had just gained that perch, to descend again for another flag, and a hammer and nails, and so nail it to the mast.</p>
<p>Whether fagged by the three days’ running chase, and the resistance to his swimming in the knotted hamper he bore; or whether it was some latent deceitfulness and malice in him: whichever was true, the White Whale’s way now began to abate, as it seemed, from the boat so rapidly nearing him once more; though indeed the whale’s last start had not been so long a one as before. And still as Ahab glided over the waves the unpitying sharks accompanied him; and so pertinaciously stuck to the boat; and so continually bit at the plying oars, that the blades became jagged and crunched, and left small splinters in the sea, at almost every dip.</p>
<p>“Heed them not! those teeth but give new rowlocks to your oars. Pull on! 'tis the better rest, the shark’s jaw than the yielding water.”</p>
<p>“But at every bite, sir, the thin blades grow smaller and smaller!”</p>
<p>“They will last long enough! pull on!—But who can tell"—he muttered—"whether these sharks swim to feast on the whale or on Ahab?—But pull on! Aye, all alive, now—we near him. The helm! take the helm! let me pass,”—and so saying two of the oarsmen helped him forward to the bows of the still flying boat.</p>
<p>At length as the craft was cast to one side, and ran ranging along with the White Whale’s flank, he seemed strangely oblivious of its advance—as the whale sometimes will—and Ahab was fairly within the smoky mountain mist, which, thrown off from the whale’s spout, curled round his great, Monadnock hump; he was even thus close to him; when, with body arched back, and both arms lengthwise high-lifted to the poise, he darted his fierce iron, and his far fiercer curse into the hated whale. As both steel and curse sank to the socket, as if sucked into a morass, Moby Dick sideways writhed; spasmodically rolled his nigh flank against the bow, and, without staving a hole in it, so suddenly canted the boat over, that had it not been for the elevated part of the gunwale to which he then clung, Ahab would once more have been tossed into the sea. As it was, three of the oarsmen—who foreknew not the precise instant of the dart, and were therefore unprepared for its effects—these were flung out; but so fell, that, in an instant two of them clutched the gunwale again, and rising to its level on a combing wave, hurled themselves bodily inboard again; the third man helplessly dropping astern, but still afloat and swimming.</p>
<p>Almost simultaneously, with a mighty volition of ungraduated, instantaneous swiftness, the White Whale darted through the weltering sea. But when Ahab cried out to the steersman to take new turns with the line, and hold it so; and commanded the crew to turn round on their seats, and tow the boat up to the mark; the moment the treacherous line felt that double strain and tug, it snapped in the empty air!</p>
<p>“What breaks in me? Some sinew cracks!—'tis whole again; oars! oars! Burst in upon him!”</p>
<p>Hearing the tremendous rush of the sea-crashing boat, the whale wheeled round to present his blank forehead at bay; but in that evolution, catching sight of the nearing black hull of the ship; seemingly seeing in it the source of all his persecutions; bethinking it—it may be—a larger and nobler foe; of a sudden, he bore down upon its advancing prow, smiting his jaws amid fiery showers of foam.</p>
<p>Ahab staggered; his hand smote his forehead. “I grow blind; hands! stretch out before me that I may yet grope my way. Is’t night?”</p>
<p>“The whale! The ship!” cried the cringing oarsmen.</p>
<p>“Oars! oars! Slope downwards to thy depths, O sea, that ere it be for ever too late, Ahab may slide this last, last time upon his mark! I see: the ship! the ship! Dash on, my men! Will ye not save my ship?”</p>
<p>But as the oarsmen violently forced their boat through the sledge-hammering seas, the before whale-smitten bow-ends of two planks burst through, and in an instant almost, the temporarily disabled boat lay nearly level with the waves; its half-wading, splashing crew, trying hard to stop the gap and bale out the pouring water.</p>
<p>Meantime, for that one beholding instant, Tashtego’s mast-head hammer remained suspended in his hand; and the red flag, half-wrapping him as with a plaid, then streamed itself straight out from him, as his own forward-flowing heart; while Starbuck and Stubb, standing upon the bowsprit beneath, caught sight of the down-coming monster just as soon as he.</p>
<p>“The whale, the whale! Up helm, up helm! Oh, all ye sweet powers of air, now hug me close! Let not Starbuck die, if die he must, in a woman’s fainting fit. Up helm, I say—ye fools, the jaw! the jaw! Is this the end of all my bursting prayers? all my life-long fidelities? Oh, Ahab, Ahab, lo, thy work. Steady! helmsman, steady. Nay, nay! Up helm again! He turns to meet us! Oh, his unappeasable brow drives on towards one, whose duty tells him he cannot depart. My God, stand by me now!”</p>
<p>“Stand not by me, but stand under me, whoever you are that will now help Stubb; for Stubb, too, sticks here. I grin at thee, thou grinning whale! Who ever helped Stubb, or kept Stubb awake, but Stubb’s own unwinking eye? And now poor Stubb goes to bed upon a mattrass that is all too soft; would it were stuffed with brushwood! I grin at thee, thou grinning whale! Look ye, sun, moon, and stars! I call ye assassins of as good a fellow as ever spouted up his ghost. For all that, I would yet ring glasses with ye, would ye but hand the cup! Oh, oh! oh, oh! thou grinning whale, but there’ll be plenty of gulping soon! Why fly ye not, O Ahab! For me, off shoes and jacket to it; let Stubb die in his drawers! A most mouldy and over salted death, though;—cherries! cherries! cherries! Oh, Flask, for one red cherry ere we die!”</p>
<p>“Cherries? I only wish that we were where they grow. Oh, Stubb, I hope my poor mother’s drawn my part-pay ere this; if not, few coppers will now come to her, for the voyage is up.”</p>
<p>From the ship’s bows, nearly all the seamen now hung inactive; hammers, bits of plank, lances, and harpoons, mechanically retained in their hands, just as they had darted from their various employments; all their enchanted eyes intent upon the whale, which from side to side strangely vibrating his predestinating head, sent a broad band of overspreading semicircular foam before him as he rushed. Retribution, swift vengeance, eternal malice were in his whole aspect, and spite of all that mortal man could do, the solid white buttress of his forehead smote the ship’s starboard bow, till men and timbers reeled. Some fell flat upon their faces. Like dislodged trucks, the heads of the harpooneers aloft shook on their bull-like necks. Through the breach, they heard the waters pour, as mountain torrents down a flume.</p>
<p>“The ship! The hearse!—the second hearse!” cried Ahab from the boat; “its wood could only be American!”</p>
<p>Diving beneath the settling ship, the whale ran quivering along its keel; but turning under water, swiftly shot to the surface again, far off the other bow, but within a few yards of Ahab’s boat, where, for a time, he lay quiescent.</p>
<p>“I turn my body from the sun. What ho, Tashtego! let me hear thy hammer. Oh! ye three unsurrendered spires of mine; thou uncracked keel; and only god-bullied hull; thou firm deck, and haughty helm, and Pole-pointed prow,—death-glorious ship! must ye then perish, and without me? Am I cut off from the last fond pride of meanest shipwrecked captains? Oh, lonely death on lonely life! Oh, now I feel my topmost greatness lies in my topmost grief. Ho, ho! from all your furthest bounds, pour ye now in, ye bold billows of my whole foregone life, and top this one piled comber of my death! Towards thee I roll, thou all-destroying but unconquering whale; to the last I grapple with thee; from hell’s heart I stab at thee; for hate’s sake I spit my last breath at thee. Sink all coffins and all hearses to one common pool! and since neither can be mine, let me then tow to pieces, while still chasing thee, though tied to thee, thou damned whale! THUS, I give up the spear!”</p>
<p>The harpoon was darted; the stricken whale flew forward; with igniting velocity the line ran through the grooves;—ran foul. Ahab stooped to clear it; he did clear it; but the flying turn caught him round the neck, and voicelessly as Turkish mutes bowstring their victim, he was shot out of the boat, ere the crew knew he was gone. Next instant, the heavy eye-splice in the rope’s final end flew out of the stark-empty tub, knocked down an oarsman, and smiting the sea, disappeared in its depths.</p>
<p>For an instant, the tranced boat’s crew stood still; then turned. “The ship? Great God, where is the ship?” Soon they through dim, bewildering mediums saw her sidelong fading phantom, as in the gaseous Fata Morgana; only the uppermost masts out of water; while fixed by infatuation, or fidelity, or fate, to their once lofty perches, the pagan harpooneers still maintained their sinking lookouts on the sea. And now, concentric circles seized the lone boat itself, and all its crew, and each floating oar, and every lance-pole, and spinning, animate and inanimate, all round and round in one vortex, carried the smallest chip of the Pequod out of sight.</p>
<p>But as the last whelmings intermixingly poured themselves over the sunken head of the Indian at the mainmast, leaving a few inches of the erect spar yet visible, together with long streaming yards of the flag, which calmly undulated, with ironical coincidings, over the destroying billows they almost touched;—at that instant, a red arm and a hammer hovered backwardly uplifted in the open air, in the act of nailing the flag faster and yet faster to the subsiding spar. A sky-hawk that tauntingly had followed the main-truck downwards from its natural home among the stars, pecking at the flag, and incommoding Tashtego there; this bird now chanced to intercept its broad fluttering wing between the hammer and the wood; and simultaneously feeling that etherial thrill, the submerged savage beneath, in his death-gasp, kept his hammer frozen there; and so the bird of heaven, with archangelic shrieks, and his imperial beak thrust upwards, and his whole captive form folded in the flag of Ahab, went down with his ship, which, like Satan, would not sink to hell till she had dragged a living part of heaven along with her, and helmeted herself with it.</p>
<p>Now small fowls flew screaming over the yet yawning gulf; a sullen white surf beat against its steep sides; then all collapsed, and the great shroud of the sea rolled on as it rolled five thousand years ago.</p>
</section>
