


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 17. The Ramadan.</h1></header>
<p>As Queequeg’s Ramadan, or Fasting and Humiliation, was to continue all day, I did not choose to disturb him till towards night-fall; for I cherish the greatest respect towards everybody’s religious obligations, never mind how comical, and could not find it in my heart to undervalue even a congregation of ants worshipping a toad-stool; or those other creatures in certain parts of our earth, who with a degree of footmanism quite unprecedented in other planets, bow down before the torso of a deceased landed proprietor merely on account of the inordinate possessions yet owned and rented in his name.</p>
<p>I say, we good Presbyterian Christians should be charitable in these things, and not fancy ourselves so vastly superior to other mortals, pagans and what not, because of their half-crazy conceits on these subjects. There was Queequeg, now, certainly entertaining the most absurd notions about Yojo and his Ramadan;—but what of that? Queequeg thought he knew what he was about, I suppose; he seemed to be content; and there let him rest. All our arguing with him would not avail; let him be, I say: and Heaven have mercy on us all—Presbyterians and Pagans alike—for we are all somehow dreadfully cracked about the head, and sadly need mending.</p>
<p>Towards evening, when I felt assured that all his performances and rituals must be over, I went up to his room and knocked at the door; but no answer. I tried to open it, but it was fastened inside. “Queequeg,” said I softly through the key-hole:—all silent. “I say, Queequeg! why don’t you speak? It’s I—Ishmael.” But all remained still as before. I began to grow alarmed. I had allowed him such abundant time; I thought he might have had an apoplectic fit. I looked through the key-hole; but the door opening into an odd corner of the room, the key-hole prospect was but a crooked and sinister one. I could only see part of the foot-board of the bed and a line of the wall, but nothing more. I was surprised to behold resting against the wall the wooden shaft of Queequeg’s harpoon, which the landlady the evening previous had taken from him, before our mounting to the chamber. That’s strange, thought I; but at any rate, since the harpoon stands yonder, and he seldom or never goes abroad without it, therefore he must be inside here, and no possible mistake.</p>
<p>“Queequeg!—Queequeg!”—all still. Something must have happened. Apoplexy! I tried to burst open the door; but it stubbornly resisted. Running down stairs, I quickly stated my suspicions to the first person I met—the chamber-maid. “La! la!” she cried, “I thought something must be the matter. I went to make the bed after breakfast, and the door was locked; and not a mouse to be heard; and it’s been just so silent ever since. But I thought, may be, you had both gone off and locked your baggage in for safe keeping. La! la, ma’am!—Mistress! murder! Mrs. Hussey! apoplexy!”—and with these cries, she ran towards the kitchen, I following.</p>
<p>Mrs. Hussey soon appeared, with a mustard-pot in one hand and a vinegar-cruet in the other, having just broken away from the occupation of attending to the castors, and scolding her little black boy meantime.</p>
<p>“Wood-house!” cried I, “which way to it? Run for God’s sake, and fetch something to pry open the door—the axe!—the axe! he’s had a stroke; depend upon it!”—and so saying I was unmethodically rushing up stairs again empty-handed, when Mrs. Hussey interposed the mustard-pot and vinegar-cruet, and the entire castor of her countenance.</p>
<p>“What’s the matter with you, young man?”</p>
<p>“Get the axe! For God’s sake, run for the doctor, some one, while I pry it open!”</p>
<p>“Look here,” said the landlady, quickly putting down the vinegar-cruet, so as to have one hand free; “look here; are you talking about prying open any of my doors?"—and with that she seized my arm. “What’s the matter with you? What’s the matter with you, shipmate?”</p>
<p>In as calm, but rapid a manner as possible, I gave her to understand the whole case. Unconsciously clapping the vinegar-cruet to one side of her nose, she ruminated for an instant; then exclaimed—“No! I haven’t seen it since I put it there.” Running to a little closet under the landing of the stairs, she glanced in, and returning, told me that Queequeg’s harpoon was missing. “He’s killed himself,” she cried. “It’s unfort’nate Stiggs done over again there goes another counterpane—God pity his poor mother!—it will be the ruin of my house. Has the poor lad a sister? Where’s that girl?—there, Betty, go to Snarles the Painter, and tell him to paint me a sign, with—“no suicides permitted here, and no smoking in the parlor;"—might as well kill both birds at once. Kill? The Lord be merciful to his ghost! What’s that noise there? You, young man, avast there!”</p>
<p>And running up after me, she caught me as I was again trying to force open the door.</p>
<p>“I don’t allow it; I won’t have my premises spoiled. Go for the locksmith, there’s one about a mile from here. But avast!” putting her hand in her side-pocket, “here’s a key that’ll fit, I guess; let’s see.” And with that, she turned it in the lock; but, alas! Queequeg’s supplemental bolt remained unwithdrawn within.</p>
<p>“Have to burst it open,” said I, and was running down the entry a little, for a good start, when the landlady caught at me, again vowing I should not break down her premises; but I tore from her, and with a sudden bodily rush dashed myself full against the mark.</p>
<p>With a prodigious noise the door flew open, and the knob slamming against the wall, sent the plaster to the ceiling; and there, good heavens! there sat Queequeg, altogether cool and self-collected; right in the middle of the room; squatting on his hams, and holding Yojo on top of his head. He looked neither one way nor the other way, but sat like a carved image with scarce a sign of active life.</p>
<p>“Queequeg,” said I, going up to him, “Queequeg, what’s the matter with you?”</p>
<p>“He hain’t been a sittin’ so all day, has he?” said the landlady.</p>
<p>But all we said, not a word could we drag out of him; I almost felt like pushing him over, so as to change his position, for it was almost intolerable, it seemed so painfully and unnaturally constrained; especially, as in all probability he had been sitting so for upwards of eight or ten hours, going too without his regular meals.</p>
<p>“Mrs. Hussey,” said I, “he’s ALIVE at all events; so leave us, if you please, and I will see to this strange affair myself.”</p>
<p>Closing the door upon the landlady, I endeavored to prevail upon Queequeg to take a chair; but in vain. There he sat; and all he could do—for all my polite arts and blandishments—he would not move a peg, nor say a single word, nor even look at me, nor notice my presence in the slightest way.</p>
<p>I wonder, thought I, if this can possibly be a part of his Ramadan; do they fast on their hams that way in his native island. It must be so; yes, it’s part of his creed, I suppose; well, then, let him rest; he’ll get up sooner or later, no doubt. It can’t last for ever, thank God, and his Ramadan only comes once a year; and I don’t believe it’s very punctual then.</p>
<p>I went down to supper. After sitting a long time listening to the long stories of some sailors who had just come from a plum-pudding voyage, as they called it (that is, a short whaling-voyage in a schooner or brig, confined to the north of the line, in the Atlantic Ocean only); after listening to these plum-puddingers till nearly eleven o’clock, I went up stairs to go to bed, feeling quite sure by this time Queequeg must certainly have brought his Ramadan to a termination. But no; there he was just where I had left him; he had not stirred an inch. I began to grow vexed with him; it seemed so downright senseless and insane to be sitting there all day and half the night on his hams in a cold room, holding a piece of wood on his head.</p>
<p>“For heaven’s sake, Queequeg, get up and shake yourself; get up and have some supper. You’ll starve; you’ll kill yourself, Queequeg.” But not a word did he reply.</p>
<p>Despairing of him, therefore, I determined to go to bed and to sleep; and no doubt, before a great while, he would follow me. But previous to turning in, I took my heavy bearskin jacket, and threw it over him, as it promised to be a very cold night; and he had nothing but his ordinary round jacket on. For some time, do all I would, I could not get into the faintest doze. I had blown out the candle; and the mere thought of Queequeg—not four feet off—sitting there in that uneasy position, stark alone in the cold and dark; this made me really wretched. Think of it; sleeping all night in the same room with a wide awake pagan on his hams in this dreary, unaccountable Ramadan!</p>
<p>But somehow I dropped off at last, and knew nothing more till break of day; when, looking over the bedside, there squatted Queequeg, as if he had been screwed down to the floor. But as soon as the first glimpse of sun entered the window, up he got, with stiff and grating joints, but with a cheerful look; limped towards me where I lay; pressed his forehead again against mine; and said his Ramadan was over.</p>
<p>Now, as I before hinted, I have no objection to any person’s religion, be it what it may, so long as that person does not kill or insult any other person, because that other person don’t believe it also. But when a man’s religion becomes really frantic; when it is a positive torment to him; and, in fine, makes this earth of ours an uncomfortable inn to lodge in; then I think it high time to take that individual aside and argue the point with him.</p>
<p>And just so I now did with Queequeg. “Queequeg,” said I, “get into bed now, and lie and listen to me.” I then went on, beginning with the rise and progress of the primitive religions, and coming down to the various religions of the present time, during which time I labored to show Queequeg that all these Lents, Ramadans, and prolonged ham-squattings in cold, cheerless rooms were stark nonsense; bad for the health; useless for the soul; opposed, in short, to the obvious laws of Hygiene and common sense. I told him, too, that he being in other things such an extremely sensible and sagacious savage, it pained me, very badly pained me, to see him now so deplorably foolish about this ridiculous Ramadan of his. Besides, argued I, fasting makes the body cave in; hence the spirit caves in; and all thoughts born of a fast must necessarily be half-starved. This is the reason why most dyspeptic religionists cherish such melancholy notions about their hereafters. In one word, Queequeg, said I, rather digressively; hell is an idea first born on an undigested apple-dumpling; and since then perpetuated through the hereditary dyspepsias nurtured by Ramadans.</p>
<p>I then asked Queequeg whether he himself was ever troubled with dyspepsia; expressing the idea very plainly, so that he could take it in. He said no; only upon one memorable occasion. It was after a great feast given by his father the king, on the gaining of a great battle wherein fifty of the enemy had been killed by about two o’clock in the afternoon, and all cooked and eaten that very evening.</p>
<p>“No more, Queequeg,” said I, shuddering; “that will do;" for I knew the inferences without his further hinting them. I had seen a sailor who had visited that very island, and he told me that it was the custom, when a great battle had been gained there, to barbecue all the slain in the yard or garden of the victor; and then, one by one, they were placed in great wooden trenchers, and garnished round like a pilau, with breadfruit and cocoanuts; and with some parsley in their mouths, were sent round with the victor’s compliments to all his friends, just as though these presents were so many Christmas turkeys.</p>
<p>After all, I do not think that my remarks about religion made much impression upon Queequeg. Because, in the first place, he somehow seemed dull of hearing on that important subject, unless considered from his own point of view; and, in the second place, he did not more than one third understand me, couch my ideas simply as I would; and, finally, he no doubt thought he knew a good deal more about the true religion than I did. He looked at me with a sort of condescending concern and compassion, as though he thought it a great pity that such a sensible young man should be so hopelessly lost to evangelical pagan piety.</p>
<p>At last we rose and dressed; and Queequeg, taking a prodigiously hearty breakfast of chowders of all sorts, so that the landlady should not make much profit by reason of his Ramadan, we sallied out to board the Pequod, sauntering along, and picking our teeth with halibut bones.</p>
</section>
