


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 73. Stubb and Flask Kill a Right Whale; and Then Have a Talk</h1></header>
<p>Over Him.</p>
<p>It must be borne in mind that all this time we have a Sperm Whale’s prodigious head hanging to the Pequod’s side. But we must let it continue hanging there a while till we can get a chance to attend to it. For the present other matters press, and the best we can do now for the head, is to pray heaven the tackles may hold.</p>
<p>Now, during the past night and forenoon, the Pequod had gradually drifted into a sea, which, by its occasional patches of yellow brit, gave unusual tokens of the vicinity of Right Whales, a species of the Leviathan that but few supposed to be at this particular time lurking anywhere near. And though all hands commonly disdained the capture of those inferior creatures; and though the Pequod was not commissioned to cruise for them at all, and though she had passed numbers of them near the Crozetts without lowering a boat; yet now that a Sperm Whale had been brought alongside and beheaded, to the surprise of all, the announcement was made that a Right Whale should be captured that day, if opportunity offered.</p>
<p>Nor was this long wanting. Tall spouts were seen to leeward; and two boats, Stubb’s and Flask’s, were detached in pursuit. Pulling further and further away, they at last became almost invisible to the men at the mast-head. But suddenly in the distance, they saw a great heap of tumultuous white water, and soon after news came from aloft that one or both the boats must be fast. An interval passed and the boats were in plain sight, in the act of being dragged right towards the ship by the towing whale. So close did the monster come to the hull, that at first it seemed as if he meant it malice; but suddenly going down in a maelstrom, within three rods of the planks, he wholly disappeared from view, as if diving under the keel. “Cut, cut!” was the cry from the ship to the boats, which, for one instant, seemed on the point of being brought with a deadly dash against the vessel’s side. But having plenty of line yet in the tubs, and the whale not sounding very rapidly, they paid out abundance of rope, and at the same time pulled with all their might so as to get ahead of the ship. For a few minutes the struggle was intensely critical; for while they still slacked out the tightened line in one direction, and still plied their oars in another, the contending strain threatened to take them under. But it was only a few feet advance they sought to gain. And they stuck to it till they did gain it; when instantly, a swift tremor was felt running like lightning along the keel, as the strained line, scraping beneath the ship, suddenly rose to view under her bows, snapping and quivering; and so flinging off its drippings, that the drops fell like bits of broken glass on the water, while the whale beyond also rose to sight, and once more the boats were free to fly. But the fagged whale abated his speed, and blindly altering his course, went round the stern of the ship towing the two boats after him, so that they performed a complete circuit.</p>
<p>Meantime, they hauled more and more upon their lines, till close flanking him on both sides, Stubb answered Flask with lance for lance; and thus round and round the Pequod the battle went, while the multitudes of sharks that had before swum round the Sperm Whale’s body, rushed to the fresh blood that was spilled, thirstily drinking at every new gash, as the eager Israelites did at the new bursting fountains that poured from the smitten rock.</p>
<p>At last his spout grew thick, and with a frightful roll and vomit, he turned upon his back a corpse.</p>
<p>While the two headsmen were engaged in making fast cords to his flukes, and in other ways getting the mass in readiness for towing, some conversation ensued between them.</p>
<p>“I wonder what the old man wants with this lump of foul lard,” said Stubb, not without some disgust at the thought of having to do with so ignoble a leviathan.</p>
<p>“Wants with it?” said Flask, coiling some spare line in the boat’s bow, “did you never hear that the ship which but once has a Sperm Whale’s head hoisted on her starboard side, and at the same time a Right Whale’s on the larboard; did you never hear, Stubb, that that ship can never afterwards capsize?”</p>
<p>“Why not?</p>
<p>“I don’t know, but I heard that gamboge ghost of a Fedallah saying so, and he seems to know all about ships’ charms. But I sometimes think he’ll charm the ship to no good at last. I don’t half like that chap, Stubb. Did you ever notice how that tusk of his is a sort of carved into a snake’s head, Stubb?”</p>
<p>“Sink him! I never look at him at all; but if ever I get a chance of a dark night, and he standing hard by the bulwarks, and no one by; look down there, Flask"—pointing into the sea with a peculiar motion of both hands—"Aye, will I! Flask, I take that Fedallah to be the devil in disguise. Do you believe that cock and bull story about his having been stowed away on board ship? He’s the devil, I say. The reason why you don’t see his tail, is because he tucks it up out of sight; he carries it coiled away in his pocket, I guess. Blast him! now that I think of it, he’s always wanting oakum to stuff into the toes of his boots.”</p>
<p>“He sleeps in his boots, don’t he? He hasn’t got any hammock; but I’ve seen him lay of nights in a coil of rigging.”</p>
<p>“No doubt, and it’s because of his cursed tail; he coils it down, do ye see, in the eye of the rigging.”</p>
<p>“What’s the old man have so much to do with him for?”</p>
<p>“Striking up a swap or a bargain, I suppose.”</p>
<p>“Bargain?—about what?”</p>
<p>“Why, do ye see, the old man is hard bent after that White Whale, and the devil there is trying to come round him, and get him to swap away his silver watch, or his soul, or something of that sort, and then he’ll surrender Moby Dick.”</p>
<p>“Pooh! Stubb, you are skylarking; how can Fedallah do that?”</p>
<p>“I don’t know, Flask, but the devil is a curious chap, and a wicked one, I tell ye. Why, they say as how he went a sauntering into the old flag-ship once, switching his tail about devilish easy and gentlemanlike, and inquiring if the old governor was at home. Well, he was at home, and asked the devil what he wanted. The devil, switching his hoofs, up and says, ‘I want John.’ ‘What for?’ says the old governor. ‘What business is that of yours,’ says the devil, getting mad,—‘I want to use him.’ ‘Take him,’ says the governor—and by the Lord, Flask, if the devil didn’t give John the Asiatic cholera before he got through with him, I’ll eat this whale in one mouthful. But look sharp—ain’t you all ready there? Well, then, pull ahead, and let’s get the whale alongside.”</p>
<p>“I think I remember some such story as you were telling,” said Flask, when at last the two boats were slowly advancing with their burden towards the ship, “but I can’t remember where.”</p>
<p>“Three Spaniards? Adventures of those three bloody-minded soladoes? Did ye read it there, Flask? I guess ye did?”</p>
<p>“No: never saw such a book; heard of it, though. But now, tell me, Stubb, do you suppose that that devil you was speaking of just now, was the same you say is now on board the Pequod?”</p>
<p>“Am I the same man that helped kill this whale? Doesn’t the devil live for ever; who ever heard that the devil was dead? Did you ever see any parson a wearing mourning for the devil? And if the devil has a latch-key to get into the admiral’s cabin, don’t you suppose he can crawl into a porthole? Tell me that, Mr. Flask?”</p>
<p>“How old do you suppose Fedallah is, Stubb?”</p>
<p>“Do you see that mainmast there?” pointing to the ship; “well, that’s the figure one; now take all the hoops in the Pequod’s hold, and string along in a row with that mast, for oughts, do you see; well, that wouldn’t begin to be Fedallah’s age. Nor all the coopers in creation couldn’t show hoops enough to make oughts enough.”</p>
<p>“But see here, Stubb, I thought you a little boasted just now, that you meant to give Fedallah a sea-toss, if you got a good chance. Now, if he’s so old as all those hoops of yours come to, and if he is going to live for ever, what good will it do to pitch him overboard—tell me that?</p>
<p>“Give him a good ducking, anyhow.”</p>
<p>“But he’d crawl back.”</p>
<p>“Duck him again; and keep ducking him.”</p>
<p>“Suppose he should take it into his head to duck you, though—yes, and drown you—what then?”</p>
<p>“I should like to see him try it; I’d give him such a pair of black eyes that he wouldn’t dare to show his face in the admiral’s cabin again for a long while, let alone down in the orlop there, where he lives, and hereabouts on the upper decks where he sneaks so much. Damn the devil, Flask; so you suppose I’m afraid of the devil? Who’s afraid of him, except the old governor who daresn’t catch him and put him in double-darbies, as he deserves, but lets him go about kidnapping people; aye, and signed a bond with him, that all the people the devil kidnapped, he’d roast for him? There’s a governor!”</p>
<p>“Do you suppose Fedallah wants to kidnap Captain Ahab?”</p>
<p>“Do I suppose it? You’ll know it before long, Flask. But I am going now to keep a sharp look-out on him; and if I see anything very suspicious going on, I’ll just take him by the nape of his neck, and say—Look here, Beelzebub, you don’t do it; and if he makes any fuss, by the Lord I’ll make a grab into his pocket for his tail, take it to the capstan, and give him such a wrenching and heaving, that his tail will come short off at the stump—do you see; and then, I rather guess when he finds himself docked in that queer fashion, he’ll sneak off without the poor satisfaction of feeling his tail between his legs.”</p>
<p>“And what will you do with the tail, Stubb?”</p>
<p>“Do with it? Sell it for an ox whip when we get home;—what else?”</p>
<p>“Now, do you mean what you say, and have been saying all along, Stubb?”</p>
<p>“Mean or not mean, here we are at the ship.”</p>
<p>The boats were here hailed, to tow the whale on the larboard side, where fluke chains and other necessaries were already prepared for securing him.</p>
<p>“Didn’t I tell you so?” said Flask; “yes, you’ll soon see this right whale’s head hoisted up opposite that parmacetti’s.”</p>
<p>In good time, Flask’s saying proved true. As before, the Pequod steeply leaned over towards the sperm whale’s head, now, by the counterpoise of both heads, she regained her even keel; though sorely strained, you may well believe. So, when on one side you hoist in Locke’s head, you go over that way; but now, on the other side, hoist in Kant’s and you come back again; but in very poor plight. Thus, some minds for ever keep trimming boat. Oh, ye foolish! throw all these thunder-heads overboard, and then you will float light and right.</p>
<p>In disposing of the body of a right whale, when brought alongside the ship, the same preliminary proceedings commonly take place as in the case of a sperm whale; only, in the latter instance, the head is cut off whole, but in the former the lips and tongue are separately removed and hoisted on deck, with all the well known black bone attached to what is called the crown-piece. But nothing like this, in the present case, had been done. The carcases of both whales had dropped astern; and the head-laden ship not a little resembled a mule carrying a pair of overburdening panniers.</p>
<p>Meantime, Fedallah was calmly eyeing the right whale’s head, and ever and anon glancing from the deep wrinkles there to the lines in his own hand. And Ahab chanced so to stand, that the Parsee occupied his shadow; while, if the Parsee’s shadow was there at all it seemed only to blend with, and lengthen Ahab’s. As the crew toiled on, Laplandish speculations were bandied among them, concerning all these passing things.</p>
</section>
