


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 48. The First Lowering.</h1></header>
<p>The phantoms, for so they then seemed, were flitting on the other side of the deck, and, with a noiseless celerity, were casting loose the tackles and bands of the boat which swung there. This boat had always been deemed one of the spare boats, though technically called the captain’s, on account of its hanging from the starboard quarter. The figure that now stood by its bows was tall and swart, with one white tooth evilly protruding from its steel-like lips. A rumpled Chinese jacket of black cotton funereally invested him, with wide black trowsers of the same dark stuff. But strangely crowning this ebonness was a glistening white plaited turban, the living hair braided and coiled round and round upon his head. Less swart in aspect, the companions of this figure were of that vivid, tiger-yellow complexion peculiar to some of the aboriginal natives of the Manillas;—a race notorious for a certain diabolism of subtilty, and by some honest white mariners supposed to be the paid spies and secret confidential agents on the water of the devil, their lord, whose counting-room they suppose to be elsewhere.</p>
<p>While yet the wondering ship’s company were gazing upon these strangers, Ahab cried out to the white-turbaned old man at their head, “All ready there, Fedallah?”</p>
<p>“Ready,” was the half-hissed reply.</p>
<p>“Lower away then; d’ye hear?” shouting across the deck. “Lower away there, I say.”</p>
<p>Such was the thunder of his voice, that spite of their amazement the men sprang over the rail; the sheaves whirled round in the blocks; with a wallow, the three boats dropped into the sea; while, with a dexterous, off-handed daring, unknown in any other vocation, the sailors, goat-like, leaped down the rolling ship’s side into the tossed boats below.</p>
<p>Hardly had they pulled out from under the ship’s lee, when a fourth keel, coming from the windward side, pulled round under the stern, and showed the five strangers rowing Ahab, who, standing erect in the stern, loudly hailed Starbuck, Stubb, and Flask, to spread themselves widely, so as to cover a large expanse of water. But with all their eyes again riveted upon the swart Fedallah and his crew, the inmates of the other boats obeyed not the command.</p>
<p>“Captain Ahab?—" said Starbuck.</p>
<p>“Spread yourselves,” cried Ahab; “give way, all four boats. Thou, Flask, pull out more to leeward!”</p>
<p>“Aye, aye, sir,” cheerily cried little King-Post, sweeping round his great steering oar. “Lay back!” addressing his crew. “There!—there!—there again! There she blows right ahead, boys!—lay back!”</p>
<p>“Never heed yonder yellow boys, Archy.”</p>
<p>“Oh, I don’t mind’em, sir,” said Archy; “I knew it all before now. Didn’t I hear ’em in the hold? And didn’t I tell Cabaco here of it? What say ye, Cabaco? They are stowaways, Mr. Flask.”</p>
<p>“Pull, pull, my fine hearts-alive; pull, my children; pull, my little ones,” drawlingly and soothingly sighed Stubb to his crew, some of whom still showed signs of uneasiness. “Why don’t you break your backbones, my boys? What is it you stare at? Those chaps in yonder boat? Tut! They are only five more hands come to help us—never mind from where—the more the merrier. Pull, then, do pull; never mind the brimstone—devils are good fellows enough. So, so; there you are now; that’s the stroke for a thousand pounds; that’s the stroke to sweep the stakes! Hurrah for the gold cup of sperm oil, my heroes! Three cheers, men—all hearts alive! Easy, easy; don’t be in a hurry—don’t be in a hurry. Why don’t you snap your oars, you rascals? Bite something, you dogs! So, so, so, then:—softly, softly! That’s it—that’s it! long and strong. Give way there, give way! The devil fetch ye, ye ragamuffin rapscallions; ye are all asleep. Stop snoring, ye sleepers, and pull. Pull, will ye? pull, can’t ye? pull, won’t ye? Why in the name of gudgeons and ginger-cakes don’t ye pull?—pull and break something! pull, and start your eyes out! Here!” whipping out the sharp knife from his girdle; “every mother’s son of ye draw his knife, and pull with the blade between his teeth. That’s it—that’s it. Now ye do something; that looks like it, my steel-bits. Start her—start her, my silver-spoons! Start her, marling-spikes!”</p>
<p>Stubb’s exordium to his crew is given here at large, because he had rather a peculiar way of talking to them in general, and especially in inculcating the religion of rowing. But you must not suppose from this specimen of his sermonizings that he ever flew into downright passions with his congregation. Not at all; and therein consisted his chief peculiarity. He would say the most terrific things to his crew, in a tone so strangely compounded of fun and fury, and the fury seemed so calculated merely as a spice to the fun, that no oarsman could hear such queer invocations without pulling for dear life, and yet pulling for the mere joke of the thing. Besides he all the time looked so easy and indolent himself, so loungingly managed his steering-oar, and so broadly gaped—open-mouthed at times—that the mere sight of such a yawning commander, by sheer force of contrast, acted like a charm upon the crew. Then again, Stubb was one of those odd sort of humorists, whose jollity is sometimes so curiously ambiguous, as to put all inferiors on their guard in the matter of obeying them.</p>
<p>In obedience to a sign from Ahab, Starbuck was now pulling obliquely across Stubb’s bow; and when for a minute or so the two boats were pretty near to each other, Stubb hailed the mate.</p>
<p>“Mr. Starbuck! larboard boat there, ahoy! a word with ye, sir, if ye please!”</p>
<p>“Halloa!” returned Starbuck, turning round not a single inch as he spoke; still earnestly but whisperingly urging his crew; his face set like a flint from Stubb’s.</p>
<p>“What think ye of those yellow boys, sir!</p>
<p>“Smuggled on board, somehow, before the ship sailed. (Strong, strong, boys!)" in a whisper to his crew, then speaking out loud again: “A sad business, Mr. Stubb! (seethe her, seethe her, my lads!) but never mind, Mr. Stubb, all for the best. Let all your crew pull strong, come what will. (Spring, my men, spring!) There’s hogsheads of sperm ahead, Mr. Stubb, and that’s what ye came for. (Pull, my boys!) Sperm, sperm’s the play! This at least is duty; duty and profit hand in hand.”</p>
<p>“Aye, aye, I thought as much,” soliloquized Stubb, when the boats diverged, “as soon as I clapt eye on 'em, I thought so. Aye, and that’s what he went into the after hold for, so often, as Dough-Boy long suspected. They were hidden down there. The White Whale’s at the bottom of it. Well, well, so be it! Can’t be helped! All right! Give way, men! It ain’t the White Whale to-day! Give way!”</p>
<p>Now the advent of these outlandish strangers at such a critical instant as the lowering of the boats from the deck, this had not unreasonably awakened a sort of superstitious amazement in some of the ship’s company; but Archy’s fancied discovery having some time previous got abroad among them, though indeed not credited then, this had in some small measure prepared them for the event. It took off the extreme edge of their wonder; and so what with all this and Stubb’s confident way of accounting for their appearance, they were for the time freed from superstitious surmisings; though the affair still left abundant room for all manner of wild conjectures as to dark Ahab’s precise agency in the matter from the beginning. For me, I silently recalled the mysterious shadows I had seen creeping on board the Pequod during the dim Nantucket dawn, as well as the enigmatical hintings of the unaccountable Elijah.</p>
<p>Meantime, Ahab, out of hearing of his officers, having sided the furthest to windward, was still ranging ahead of the other boats; a circumstance bespeaking how potent a crew was pulling him. Those tiger yellow creatures of his seemed all steel and whalebone; like five trip-hammers they rose and fell with regular strokes of strength, which periodically started the boat along the water like a horizontal burst boiler out of a Mississippi steamer. As for Fedallah, who was seen pulling the harpooneer oar, he had thrown aside his black jacket, and displayed his naked chest with the whole part of his body above the gunwale, clearly cut against the alternating depressions of the watery horizon; while at the other end of the boat Ahab, with one arm, like a fencer’s, thrown half backward into the air, as if to counterbalance any tendency to trip; Ahab was seen steadily managing his steering oar as in a thousand boat lowerings ere the White Whale had torn him. All at once the outstretched arm gave a peculiar motion and then remained fixed, while the boat’s five oars were seen simultaneously peaked. Boat and crew sat motionless on the sea. Instantly the three spread boats in the rear paused on their way. The whales had irregularly settled bodily down into the blue, thus giving no distantly discernible token of the movement, though from his closer vicinity Ahab had observed it.</p>
<p>“Every man look out along his oars!” cried Starbuck. “Thou, Queequeg, stand up!”</p>
<p>Nimbly springing up on the triangular raised box in the bow, the savage stood erect there, and with intensely eager eyes gazed off towards the spot where the chase had last been descried. Likewise upon the extreme stern of the boat where it was also triangularly platformed level with the gunwale, Starbuck himself was seen coolly and adroitly balancing himself to the jerking tossings of his chip of a craft, and silently eyeing the vast blue eye of the sea.</p>
<p>Not very far distant Flask’s boat was also lying breathlessly still; its commander recklessly standing upon the top of the loggerhead, a stout sort of post rooted in the keel, and rising some two feet above the level of the stern platform. It is used for catching turns with the whale line. Its top is not more spacious than the palm of a man’s hand, and standing upon such a base as that, Flask seemed perched at the mast-head of some ship which had sunk to all but her trucks. But little King-Post was small and short, and at the same time little King-Post was full of a large and tall ambition, so that this loggerhead stand-point of his did by no means satisfy King-Post.</p>
<p>“I can’t see three seas off; tip us up an oar there, and let me on to that.”</p>
<p>Upon this, Daggoo, with either hand upon the gunwale to steady his way, swiftly slid aft, and then erecting himself volunteered his lofty shoulders for a pedestal.</p>
<p>“Good a mast-head as any, sir. Will you mount?”</p>
<p>“That I will, and thank ye very much, my fine fellow; only I wish you fifty feet taller.”</p>
<p>Whereupon planting his feet firmly against two opposite planks of the boat, the gigantic negro, stooping a little, presented his flat palm to Flask’s foot, and then putting Flask’s hand on his hearse-plumed head and bidding him spring as he himself should toss, with one dexterous fling landed the little man high and dry on his shoulders. And here was Flask now standing, Daggoo with one lifted arm furnishing him with a breastband to lean against and steady himself by.</p>
<p>At any time it is a strange sight to the tyro to see with what wondrous habitude of unconscious skill the whaleman will maintain an erect posture in his boat, even when pitched about by the most riotously perverse and cross-running seas. Still more strange to see him giddily perched upon the loggerhead itself, under such circumstances. But the sight of little Flask mounted upon gigantic Daggoo was yet more curious; for sustaining himself with a cool, indifferent, easy, unthought of, barbaric majesty, the noble negro to every roll of the sea harmoniously rolled his fine form. On his broad back, flaxen-haired Flask seemed a snow-flake. The bearer looked nobler than the rider. Though truly vivacious, tumultuous, ostentatious little Flask would now and then stamp with impatience; but not one added heave did he thereby give to the negro’s lordly chest. So have I seen Passion and Vanity stamping the living magnanimous earth, but the earth did not alter her tides and her seasons for that.</p>
<p>Meanwhile Stubb, the third mate, betrayed no such far-gazing solicitudes. The whales might have made one of their regular soundings, not a temporary dive from mere fright; and if that were the case, Stubb, as his wont in such cases, it seems, was resolved to solace the languishing interval with his pipe. He withdrew it from his hatband, where he always wore it aslant like a feather. He loaded it, and rammed home the loading with his thumb-end; but hardly had he ignited his match across the rough sandpaper of his hand, when Tashtego, his harpooneer, whose eyes had been setting to windward like two fixed stars, suddenly dropped like light from his erect attitude to his seat, crying out in a quick phrensy of hurry, “Down, down all, and give way!—there they are!”</p>
<p>To a landsman, no whale, nor any sign of a herring, would have been visible at that moment; nothing but a troubled bit of greenish white water, and thin scattered puffs of vapour hovering over it, and suffusingly blowing off to leeward, like the confused scud from white rolling billows. The air around suddenly vibrated and tingled, as it were, like the air over intensely heated plates of iron. Beneath this atmospheric waving and curling, and partially beneath a thin layer of water, also, the whales were swimming. Seen in advance of all the other indications, the puffs of vapour they spouted, seemed their forerunning couriers and detached flying outriders.</p>
<p>All four boats were now in keen pursuit of that one spot of troubled water and air. But it bade fair to outstrip them; it flew on and on, as a mass of interblending bubbles borne down a rapid stream from the hills.</p>
<p>“Pull, pull, my good boys,” said Starbuck, in the lowest possible but intensest concentrated whisper to his men; while the sharp fixed glance from his eyes darted straight ahead of the bow, almost seemed as two visible needles in two unerring binnacle compasses. He did not say much to his crew, though, nor did his crew say anything to him. Only the silence of the boat was at intervals startlingly pierced by one of his peculiar whispers, now harsh with command, now soft with entreaty.</p>
<p>How different the loud little King-Post. “Sing out and say something, my hearties. Roar and pull, my thunderbolts! Beach me, beach me on their black backs, boys; only do that for me, and I’ll sign over to you my Martha’s Vineyard plantation, boys; including wife and children, boys. Lay me on—lay me on! O Lord, Lord! but I shall go stark, staring mad! See! see that white water!” And so shouting, he pulled his hat from his head, and stamped up and down on it; then picking it up, flirted it far off upon the sea; and finally fell to rearing and plunging in the boat’s stern like a crazed colt from the prairie.</p>
<p>“Look at that chap now,” philosophically drawled Stubb, who, with his unlighted short pipe, mechanically retained between his teeth, at a short distance, followed after—"He’s got fits, that Flask has. Fits? yes, give him fits—that’s the very word—pitch fits into 'em. Merrily, merrily, hearts-alive. Pudding for supper, you know;—merry’s the word. Pull, babes—pull, sucklings—pull, all. But what the devil are you hurrying about? Softly, softly, and steadily, my men. Only pull, and keep pulling; nothing more. Crack all your backbones, and bite your knives in two—that’s all. Take it easy—why don’t ye take it easy, I say, and burst all your livers and lungs!”</p>
<p>But what it was that inscrutable Ahab said to that tiger-yellow crew of his—these were words best omitted here; for you live under the blessed light of the evangelical land. Only the infidel sharks in the audacious seas may give ear to such words, when, with tornado brow, and eyes of red murder, and foam-glued lips, Ahab leaped after his prey.</p>
<p>Meanwhile, all the boats tore on. The repeated specific allusions of Flask to “that whale,” as he called the fictitious monster which he declared to be incessantly tantalizing his boat’s bow with its tail—these allusions of his were at times so vivid and life-like, that they would cause some one or two of his men to snatch a fearful look over the shoulder. But this was against all rule; for the oarsmen must put out their eyes, and ram a skewer through their necks; usage pronouncing that they must have no organs but ears, and no limbs but arms, in these critical moments.</p>
<p>It was a sight full of quick wonder and awe! The vast swells of the omnipotent sea; the surging, hollow roar they made, as they rolled along the eight gunwales, like gigantic bowls in a boundless bowling-green; the brief suspended agony of the boat, as it would tip for an instant on the knife-like edge of the sharper waves, that almost seemed threatening to cut it in two; the sudden profound dip into the watery glens and hollows; the keen spurrings and goadings to gain the top of the opposite hill; the headlong, sled-like slide down its other side;—all these, with the cries of the headsmen and harpooneers, and the shuddering gasps of the oarsmen, with the wondrous sight of the ivory Pequod bearing down upon her boats with outstretched sails, like a wild hen after her screaming brood;—all this was thrilling.</p>
<p>Not the raw recruit, marching from the bosom of his wife into the fever heat of his first battle; not the dead man’s ghost encountering the first unknown phantom in the other world;—neither of these can feel stranger and stronger emotions than that man does, who for the first time finds himself pulling into the charmed, churned circle of the hunted sperm whale.</p>
<p>The dancing white water made by the chase was now becoming more and more visible, owing to the increasing darkness of the dun cloud-shadows flung upon the sea. The jets of vapour no longer blended, but tilted everywhere to right and left; the whales seemed separating their wakes. The boats were pulled more apart; Starbuck giving chase to three whales running dead to leeward. Our sail was now set, and, with the still rising wind, we rushed along; the boat going with such madness through the water, that the lee oars could scarcely be worked rapidly enough to escape being torn from the row-locks.</p>
<p>Soon we were running through a suffusing wide veil of mist; neither ship nor boat to be seen.</p>
<p>“Give way, men,” whispered Starbuck, drawing still further aft the sheet of his sail; “there is time to kill a fish yet before the squall comes. There’s white water again!—close to! Spring!”</p>
<p>Soon after, two cries in quick succession on each side of us denoted that the other boats had got fast; but hardly were they overheard, when with a lightning-like hurtling whisper Starbuck said: “Stand up!” and Queequeg, harpoon in hand, sprang to his feet.</p>
<p>Though not one of the oarsmen was then facing the life and death peril so close to them ahead, yet with their eyes on the intense countenance of the mate in the stern of the boat, they knew that the imminent instant had come; they heard, too, an enormous wallowing sound as of fifty elephants stirring in their litter. Meanwhile the boat was still booming through the mist, the waves curling and hissing around us like the erected crests of enraged serpents.</p>
<p>“That’s his hump. THERE, THERE, give it to him!” whispered Starbuck.</p>
<p>A short rushing sound leaped out of the boat; it was the darted iron of Queequeg. Then all in one welded commotion came an invisible push from astern, while forward the boat seemed striking on a ledge; the sail collapsed and exploded; a gush of scalding vapour shot up near by; something rolled and tumbled like an earthquake beneath us. The whole crew were half suffocated as they were tossed helter-skelter into the white curdling cream of the squall. Squall, whale, and harpoon had all blended together; and the whale, merely grazed by the iron, escaped.</p>
<p>Though completely swamped, the boat was nearly unharmed. Swimming round it we picked up the floating oars, and lashing them across the gunwale, tumbled back to our places. There we sat up to our knees in the sea, the water covering every rib and plank, so that to our downward gazing eyes the suspended craft seemed a coral boat grown up to us from the bottom of the ocean.</p>
<p>The wind increased to a howl; the waves dashed their bucklers together; the whole squall roared, forked, and crackled around us like a white fire upon the prairie, in which, unconsumed, we were burning; immortal in these jaws of death! In vain we hailed the other boats; as well roar to the live coals down the chimney of a flaming furnace as hail those boats in that storm. Meanwhile the driving scud, rack, and mist, grew darker with the shadows of night; no sign of the ship could be seen. The rising sea forbade all attempts to bale out the boat. The oars were useless as propellers, performing now the office of life-preservers. So, cutting the lashing of the waterproof match keg, after many failures Starbuck contrived to ignite the lamp in the lantern; then stretching it on a waif pole, handed it to Queequeg as the standard-bearer of this forlorn hope. There, then, he sat, holding up that imbecile candle in the heart of that almighty forlornness. There, then, he sat, the sign and symbol of a man without faith, hopelessly holding up hope in the midst of despair.</p>
<p>Wet, drenched through, and shivering cold, despairing of ship or boat, we lifted up our eyes as the dawn came on. The mist still spread over the sea, the empty lantern lay crushed in the bottom of the boat. Suddenly Queequeg started to his feet, hollowing his hand to his ear. We all heard a faint creaking, as of ropes and yards hitherto muffled by the storm. The sound came nearer and nearer; the thick mists were dimly parted by a huge, vague form. Affrighted, we all sprang into the sea as the ship at last loomed into view, bearing right down upon us within a distance of not much more than its length.</p>
<p>Floating on the waves we saw the abandoned boat, as for one instant it tossed and gaped beneath the ship’s bows like a chip at the base of a cataract; and then the vast hull rolled over it, and it was seen no more till it came up weltering astern. Again we swam for it, were dashed against it by the seas, and were at last taken up and safely landed on board. Ere the squall came close to, the other boats had cut loose from their fish and returned to the ship in good time. The ship had given us up, but was still cruising, if haply it might light upon some token of our perishing,—an oar or a lance pole.</p>
</section>
