


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 132. The Symphony.</h1></header>
<p>It was a clear steel-blue day. The firmaments of air and sea were hardly separable in that all-pervading azure; only, the pensive air was transparently pure and soft, with a woman’s look, and the robust and man-like sea heaved with long, strong, lingering swells, as Samson’s chest in his sleep.</p>
<p>Hither, and thither, on high, glided the snow-white wings of small, unspeckled birds; these were the gentle thoughts of the feminine air; but to and fro in the deeps, far down in the bottomless blue, rushed mighty leviathans, sword-fish, and sharks; and these were the strong, troubled, murderous thinkings of the masculine sea.</p>
<p>But though thus contrasting within, the contrast was only in shades and shadows without; those two seemed one; it was only the sex, as it were, that distinguished them.</p>
<p>Aloft, like a royal czar and king, the sun seemed giving this gentle air to this bold and rolling sea; even as bride to groom. And at the girdling line of the horizon, a soft and tremulous motion—most seen here at the Equator—denoted the fond, throbbing trust, the loving alarms, with which the poor bride gave her bosom away.</p>
<p>Tied up and twisted; gnarled and knotted with wrinkles; haggardly firm and unyielding; his eyes glowing like coals, that still glow in the ashes of ruin; untottering Ahab stood forth in the clearness of the morn; lifting his splintered helmet of a brow to the fair girl’s forehead of heaven.</p>
<p>Oh, immortal infancy, and innocency of the azure! Invisible winged creatures that frolic all round us! Sweet childhood of air and sky! how oblivious were ye of old Ahab’s close-coiled woe! But so have I seen little Miriam and Martha, laughing-eyed elves, heedlessly gambol around their old sire; sporting with the circle of singed locks which grew on the marge of that burnt-out crater of his brain.</p>
<p>Slowly crossing the deck from the scuttle, Ahab leaned over the side and watched how his shadow in the water sank and sank to his gaze, the more and the more that he strove to pierce the profundity. But the lovely aromas in that enchanted air did at last seem to dispel, for a moment, the cankerous thing in his soul. That glad, happy air, that winsome sky, did at last stroke and caress him; the step-mother world, so long cruel—forbidding—now threw affectionate arms round his stubborn neck, and did seem to joyously sob over him, as if over one, that however wilful and erring, she could yet find it in her heart to save and to bless. From beneath his slouched hat Ahab dropped a tear into the sea; nor did all the Pacific contain such wealth as that one wee drop.</p>
<p>Starbuck saw the old man; saw him, how he heavily leaned over the side; and he seemed to hear in his own true heart the measureless sobbing that stole out of the centre of the serenity around. Careful not to touch him, or be noticed by him, he yet drew near to him, and stood there.</p>
<p>Ahab turned.</p>
<p>“Starbuck!”</p>
<p>“Sir.”</p>
<p>“Oh, Starbuck! it is a mild, mild wind, and a mild looking sky. On such a day—very much such a sweetness as this—I struck my first whale—a boy-harpooneer of eighteen! Forty—forty—forty years ago!—ago! Forty years of continual whaling! forty years of privation, and peril, and storm-time! forty years on the pitiless sea! for forty years has Ahab forsaken the peaceful land, for forty years to make war on the horrors of the deep! Aye and yes, Starbuck, out of those forty years I have not spent three ashore. When I think of this life I have led; the desolation of solitude it has been; the masoned, walled-town of a Captain’s exclusiveness, which admits but small entrance to any sympathy from the green country without—oh, weariness! heaviness! Guinea-coast slavery of solitary command!—when I think of all this; only half-suspected, not so keenly known to me before—and how for forty years I have fed upon dry salted fare—fit emblem of the dry nourishment of my soil!—when the poorest landsman has had fresh fruit to his daily hand, and broken the world’s fresh bread to my mouldy crusts—away, whole oceans away, from that young girl-wife I wedded past fifty, and sailed for Cape Horn the next day, leaving but one dent in my marriage pillow—wife? wife?—rather a widow with her husband alive! Aye, I widowed that poor girl when I married her, Starbuck; and then, the madness, the frenzy, the boiling blood and the smoking brow, with which, for a thousand lowerings old Ahab has furiously, foamingly chased his prey—more a demon than a man!—aye, aye! what a forty years’ fool—fool—old fool, has old Ahab been! Why this strife of the chase? why weary, and palsy the arm at the oar, and the iron, and the lance? how the richer or better is Ahab now? Behold. Oh, Starbuck! is it not hard, that with this weary load I bear, one poor leg should have been snatched from under me? Here, brush this old hair aside; it blinds me, that I seem to weep. Locks so grey did never grow but from out some ashes! But do I look very old, so very, very old, Starbuck? I feel deadly faint, bowed, and humped, as though I were Adam, staggering beneath the piled centuries since Paradise. God! God! God!—crack my heart!—stave my brain!—mockery! mockery! bitter, biting mockery of grey hairs, have I lived enough joy to wear ye; and seem and feel thus intolerably old? Close! stand close to me, Starbuck; let me look into a human eye; it is better than to gaze into sea or sky; better than to gaze upon God. By the green land; by the bright hearth-stone! this is the magic glass, man; I see my wife and my child in thine eye. No, no; stay on board, on board!—lower not when I do; when branded Ahab gives chase to Moby Dick. That hazard shall not be thine. No, no! not with the far away home I see in that eye!”</p>
<p>“Oh, my Captain! my Captain! noble soul! grand old heart, after all! why should any one give chase to that hated fish! Away with me! let us fly these deadly waters! let us home! Wife and child, too, are Starbuck’s—wife and child of his brotherly, sisterly, play-fellow youth; even as thine, sir, are the wife and child of thy loving, longing, paternal old age! Away! let us away!—this instant let me alter the course! How cheerily, how hilariously, O my Captain, would we bowl on our way to see old Nantucket again! I think, sir, they have some such mild blue days, even as this, in Nantucket.”</p>
<p>“They have, they have. I have seen them—some summer days in the morning. About this time—yes, it is his noon nap now—the boy vivaciously wakes; sits up in bed; and his mother tells him of me, of cannibal old me; how I am abroad upon the deep, but will yet come back to dance him again.”</p>
<p>“‘Tis my Mary, my Mary herself! She promised that my boy, every morning, should be carried to the hill to catch the first glimpse of his father’s sail! Yes, yes! no more! it is done! we head for Nantucket! Come, my Captain, study out the course, and let us away! See, see! the boy’s face from the window! the boy’s hand on the hill!”</p>
<p>But Ahab’s glance was averted; like a blighted fruit tree he shook, and cast his last, cindered apple to the soil.</p>
<p>“What is it, what nameless, inscrutable, unearthly thing is it; what cozening, hidden lord and master, and cruel, remorseless emperor commands me; that against all natural lovings and longings, I so keep pushing, and crowding, and jamming myself on all the time; recklessly making me ready to do what in my own proper, natural heart, I durst not so much as dare? Is Ahab, Ahab? Is it I, God, or who, that lifts this arm? But if the great sun move not of himself; but is as an errand-boy in heaven; nor one single star can revolve, but by some invisible power; how then can this one small heart beat; this one small brain think thoughts; unless God does that beating, does that thinking, does that living, and not I. By heaven, man, we are turned round and round in this world, like yonder windlass, and Fate is the handspike. And all the time, lo! that smiling sky, and this unsounded sea! Look! see yon Albicore! who put it into him to chase and fang that flying-fish? Where do murderers go, man! Who’s to doom, when the judge himself is dragged to the bar? But it is a mild, mild wind, and a mild looking sky; and the air smells now, as if it blew from a far-away meadow; they have been making hay somewhere under the slopes of the Andes, Starbuck, and the mowers are sleeping among the new-mown hay. Sleeping? Aye, toil we how we may, we all sleep at last on the field. Sleep? Aye, and rust amid greenness; as last year’s scythes flung down, and left in the half-cut swaths—Starbuck!”</p>
<p>But blanched to a corpse’s hue with despair, the Mate had stolen away.</p>
<p>Ahab crossed the deck to gaze over on the other side; but started at two reflected, fixed eyes in the water there. Fedallah was motionlessly leaning over the same rail.</p>
</section>
