


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 133. The Chase—First Day.</h1></header>
<p>That night, in the mid-watch, when the old man—as his wont at intervals—stepped forth from the scuttle in which he leaned, and went to his pivot-hole, he suddenly thrust out his face fiercely, snuffing up the sea air as a sagacious ship’s dog will, in drawing nigh to some barbarous isle. He declared that a whale must be near. Soon that peculiar odor, sometimes to a great distance given forth by the living sperm whale, was palpable to all the watch; nor was any mariner surprised when, after inspecting the compass, and then the dog-vane, and then ascertaining the precise bearing of the odor as nearly as possible, Ahab rapidly ordered the ship’s course to be slightly altered, and the sail to be shortened.</p>
<p>The acute policy dictating these movements was sufficiently vindicated at daybreak, by the sight of a long sleek on the sea directly and lengthwise ahead, smooth as oil, and resembling in the pleated watery wrinkles bordering it, the polished metallic-like marks of some swift tide-rip, at the mouth of a deep, rapid stream.</p>
<p>“Man the mast-heads! Call all hands!”</p>
<p>Thundering with the butts of three clubbed handspikes on the forecastle deck, Daggoo roused the sleepers with such judgment claps that they seemed to exhale from the scuttle, so instantaneously did they appear with their clothes in their hands.</p>
<p>“What d’ye see?” cried Ahab, flattening his face to the sky.</p>
<p>“Nothing, nothing sir!” was the sound hailing down in reply.</p>
<p>“T’gallant sails!—stunsails! alow and aloft, and on both sides!”</p>
<p>All sail being set, he now cast loose the life-line, reserved for swaying him to the main royal-mast head; and in a few moments they were hoisting him thither, when, while but two thirds of the way aloft, and while peering ahead through the horizontal vacancy between the main-top-sail and top-gallant-sail, he raised a gull-like cry in the air. “There she blows!—there she blows! A hump like a snow-hill! It is Moby Dick!”</p>
<p>Fired by the cry which seemed simultaneously taken up by the three look-outs, the men on deck rushed to the rigging to behold the famous whale they had so long been pursuing. Ahab had now gained his final perch, some feet above the other look-outs, Tashtego standing just beneath him on the cap of the top-gallant-mast, so that the Indian’s head was almost on a level with Ahab’s heel. From this height the whale was now seen some mile or so ahead, at every roll of the sea revealing his high sparkling hump, and regularly jetting his silent spout into the air. To the credulous mariners it seemed the same silent spout they had so long ago beheld in the moonlit Atlantic and Indian Oceans.</p>
<p>“And did none of ye see it before?” cried Ahab, hailing the perched men all around him.</p>
<p>“I saw him almost that same instant, sir, that Captain Ahab did, and I cried out,” said Tashtego.</p>
<p>“Not the same instant; not the same—no, the doubloon is mine, Fate reserved the doubloon for me. I only; none of ye could have raised the White Whale first. There she blows!—there she blows!—there she blows! There again!—there again!” he cried, in long-drawn, lingering, methodic tones, attuned to the gradual prolongings of the whale’s visible jets. “He’s going to sound! In stunsails! Down top-gallant-sails! Stand by three boats. Mr. Starbuck, remember, stay on board, and keep the ship. Helm there! Luff, luff a point! So; steady, man, steady! There go flukes! No, no; only black water! All ready the boats there? Stand by, stand by! Lower me, Mr. Starbuck; lower, lower,—quick, quicker!” and he slid through the air to the deck.</p>
<p>“He is heading straight to leeward, sir,” cried Stubb, “right away from us; cannot have seen the ship yet.”</p>
<p>“Be dumb, man! Stand by the braces! Hard down the helm!—brace up! Shiver her!—shiver her!—So; well that! Boats, boats!”</p>
<p>Soon all the boats but Starbuck’s were dropped; all the boat-sails set—all the paddles plying; with rippling swiftness, shooting to leeward; and Ahab heading the onset. A pale, death-glimmer lit up Fedallah’s sunken eyes; a hideous motion gnawed his mouth.</p>
<p>Like noiseless nautilus shells, their light prows sped through the sea; but only slowly they neared the foe. As they neared him, the ocean grew still more smooth; seemed drawing a carpet over its waves; seemed a noon-meadow, so serenely it spread. At length the breathless hunter came so nigh his seemingly unsuspecting prey, that his entire dazzling hump was distinctly visible, sliding along the sea as if an isolated thing, and continually set in a revolving ring of finest, fleecy, greenish foam. He saw the vast, involved wrinkles of the slightly projecting head beyond. Before it, far out on the soft Turkish-rugged waters, went the glistening white shadow from his broad, milky forehead, a musical rippling playfully accompanying the shade; and behind, the blue waters interchangeably flowed over into the moving valley of his steady wake; and on either hand bright bubbles arose and danced by his side. But these were broken again by the light toes of hundreds of gay fowl softly feathering the sea, alternate with their fitful flight; and like to some flag-staff rising from the painted hull of an argosy, the tall but shattered pole of a recent lance projected from the white whale’s back; and at intervals one of the cloud of soft-toed fowls hovering, and to and fro skimming like a canopy over the fish, silently perched and rocked on this pole, the long tail feathers streaming like pennons.</p>
<p>A gentle joyousness—a mighty mildness of repose in swiftness, invested the gliding whale. Not the white bull Jupiter swimming away with ravished Europa clinging to his graceful horns; his lovely, leering eyes sideways intent upon the maid; with smooth bewitching fleetness, rippling straight for the nuptial bower in Crete; not Jove, not that great majesty Supreme! did surpass the glorified White Whale as he so divinely swam.</p>
<p>On each soft side—coincident with the parted swell, that but once leaving him, then flowed so wide away—on each bright side, the whale shed off enticings. No wonder there had been some among the hunters who namelessly transported and allured by all this serenity, had ventured to assail it; but had fatally found that quietude but the vesture of tornadoes. Yet calm, enticing calm, oh, whale! thou glidest on, to all who for the first time eye thee, no matter how many in that same way thou may’st have bejuggled and destroyed before.</p>
<p>And thus, through the serene tranquillities of the tropical sea, among waves whose hand-clappings were suspended by exceeding rapture, Moby Dick moved on, still withholding from sight the full terrors of his submerged trunk, entirely hiding the wrenched hideousness of his jaw. But soon the fore part of him slowly rose from the water; for an instant his whole marbleized body formed a high arch, like Virginia’s Natural Bridge, and warningly waving his bannered flukes in the air, the grand god revealed himself, sounded, and went out of sight. Hoveringly halting, and dipping on the wing, the white sea-fowls longingly lingered over the agitated pool that he left.</p>
<p>With oars apeak, and paddles down, the sheets of their sails adrift, the three boats now stilly floated, awaiting Moby Dick’s reappearance.</p>
<p>“An hour,” said Ahab, standing rooted in his boat’s stern; and he gazed beyond the whale’s place, towards the dim blue spaces and wide wooing vacancies to leeward. It was only an instant; for again his eyes seemed whirling round in his head as he swept the watery circle. The breeze now freshened; the sea began to swell.</p>
<p>“The birds!—the birds!” cried Tashtego.</p>
<p>In long Indian file, as when herons take wing, the white birds were now all flying towards Ahab’s boat; and when within a few yards began fluttering over the water there, wheeling round and round, with joyous, expectant cries. Their vision was keener than man’s; Ahab could discover no sign in the sea. But suddenly as he peered down and down into its depths, he profoundly saw a white living spot no bigger than a white weasel, with wonderful celerity uprising, and magnifying as it rose, till it turned, and then there were plainly revealed two long crooked rows of white, glistening teeth, floating up from the undiscoverable bottom. It was Moby Dick’s open mouth and scrolled jaw; his vast, shadowed bulk still half blending with the blue of the sea. The glittering mouth yawned beneath the boat like an open-doored marble tomb; and giving one sidelong sweep with his steering oar, Ahab whirled the craft aside from this tremendous apparition. Then, calling upon Fedallah to change places with him, went forward to the bows, and seizing Perth’s harpoon, commanded his crew to grasp their oars and stand by to stern.</p>
<p>Now, by reason of this timely spinning round the boat upon its axis, its bow, by anticipation, was made to face the whale’s head while yet under water. But as if perceiving this stratagem, Moby Dick, with that malicious intelligence ascribed to him, sidelingly transplanted himself, as it were, in an instant, shooting his pleated head lengthwise beneath the boat.</p>
<p>Through and through; through every plank and each rib, it thrilled for an instant, the whale obliquely lying on his back, in the manner of a biting shark, slowly and feelingly taking its bows full within his mouth, so that the long, narrow, scrolled lower jaw curled high up into the open air, and one of the teeth caught in a row-lock. The bluish pearl-white of the inside of the jaw was within six inches of Ahab’s head, and reached higher than that. In this attitude the White Whale now shook the slight cedar as a mildly cruel cat her mouse. With unastonished eyes Fedallah gazed, and crossed his arms; but the tiger-yellow crew were tumbling over each other’s heads to gain the uttermost stern.</p>
<p>And now, while both elastic gunwales were springing in and out, as the whale dallied with the doomed craft in this devilish way; and from his body being submerged beneath the boat, he could not be darted at from the bows, for the bows were almost inside of him, as it were; and while the other boats involuntarily paused, as before a quick crisis impossible to withstand, then it was that monomaniac Ahab, furious with this tantalizing vicinity of his foe, which placed him all alive and helpless in the very jaws he hated; frenzied with all this, he seized the long bone with his naked hands, and wildly strove to wrench it from its gripe. As now he thus vainly strove, the jaw slipped from him; the frail gunwales bent in, collapsed, and snapped, as both jaws, like an enormous shears, sliding further aft, bit the craft completely in twain, and locked themselves fast again in the sea, midway between the two floating wrecks. These floated aside, the broken ends drooping, the crew at the stern-wreck clinging to the gunwales, and striving to hold fast to the oars to lash them across.</p>
<p>At that preluding moment, ere the boat was yet snapped, Ahab, the first to perceive the whale’s intent, by the crafty upraising of his head, a movement that loosed his hold for the time; at that moment his hand had made one final effort to push the boat out of the bite. But only slipping further into the whale’s mouth, and tilting over sideways as it slipped, the boat had shaken off his hold on the jaw; spilled him out of it, as he leaned to the push; and so he fell flat-faced upon the sea.</p>
<p>Ripplingly withdrawing from his prey, Moby Dick now lay at a little distance, vertically thrusting his oblong white head up and down in the billows; and at the same time slowly revolving his whole spindled body; so that when his vast wrinkled forehead rose—some twenty or more feet out of the water—the now rising swells, with all their confluent waves, dazzlingly broke against it; vindictively tossing their shivered spray still higher into the air.* So, in a gale, the but half baffled Channel billows only recoil from the base of the Eddystone, triumphantly to overleap its summit with their scud.</p>
<p>*This motion is peculiar to the sperm whale. It receives its designation (pitchpoling) from its being likened to that preliminary up-and-down poise of the whale-lance, in the exercise called pitchpoling, previously described. By this motion the whale must best and most comprehensively view whatever objects may be encircling him.</p>
<p>But soon resuming his horizontal attitude, Moby Dick swam swiftly round and round the wrecked crew; sideways churning the water in his vengeful wake, as if lashing himself up to still another and more deadly assault. The sight of the splintered boat seemed to madden him, as the blood of grapes and mulberries cast before Antiochus’s elephants in the book of Maccabees. Meanwhile Ahab half smothered in the foam of the whale’s insolent tail, and too much of a cripple to swim,—though he could still keep afloat, even in the heart of such a whirlpool as that; helpless Ahab’s head was seen, like a tossed bubble which the least chance shock might burst. From the boat’s fragmentary stern, Fedallah incuriously and mildly eyed him; the clinging crew, at the other drifting end, could not succor him; more than enough was it for them to look to themselves. For so revolvingly appalling was the White Whale’s aspect, and so planetarily swift the ever-contracting circles he made, that he seemed horizontally swooping upon them. And though the other boats, unharmed, still hovered hard by; still they dared not pull into the eddy to strike, lest that should be the signal for the instant destruction of the jeopardized castaways, Ahab and all; nor in that case could they themselves hope to escape. With straining eyes, then, they remained on the outer edge of the direful zone, whose centre had now become the old man’s head.</p>
<p>Meantime, from the beginning all this had been descried from the ship’s mast heads; and squaring her yards, she had borne down upon the scene; and was now so nigh, that Ahab in the water hailed her!—"Sail on the"—but that moment a breaking sea dashed on him from Moby Dick, and whelmed him for the time. But struggling out of it again, and chancing to rise on a towering crest, he shouted,—"Sail on the whale!—Drive him off!”</p>
<p>The Pequod’s prows were pointed; and breaking up the charmed circle, she effectually parted the white whale from his victim. As he sullenly swam off, the boats flew to the rescue.</p>
<p>Dragged into Stubb’s boat with blood-shot, blinded eyes, the white brine caking in his wrinkles; the long tension of Ahab’s bodily strength did crack, and helplessly he yielded to his body’s doom: for a time, lying all crushed in the bottom of Stubb’s boat, like one trodden under foot of herds of elephants. Far inland, nameless wails came from him, as desolate sounds from out ravines.</p>
<p>But this intensity of his physical prostration did but so much the more abbreviate it. In an instant’s compass, great hearts sometimes condense to one deep pang, the sum total of those shallow pains kindly diffused through feebler men’s whole lives. And so, such hearts, though summary in each one suffering; still, if the gods decree it, in their life-time aggregate a whole age of woe, wholly made up of instantaneous intensities; for even in their pointless centres, those noble natures contain the entire circumferences of inferior souls.</p>
<p>“The harpoon,” said Ahab, half way rising, and draggingly leaning on one bended arm—"is it safe?”</p>
<p>“Aye, sir, for it was not darted; this is it,” said Stubb, showing it.</p>
<p>“Lay it before me;—any missing men?”</p>
<p>“One, two, three, four, five;—there were five oars, sir, and here are five men.”</p>
<p>“That’s good.—Help me, man; I wish to stand. So, so, I see him! there! there! going to leeward still; what a leaping spout!—Hands off from me! The eternal sap runs up in Ahab’s bones again! Set the sail; out oars; the helm!”</p>
<p>It is often the case that when a boat is stove, its crew, being picked up by another boat, help to work that second boat; and the chase is thus continued with what is called double-banked oars. It was thus now. But the added power of the boat did not equal the added power of the whale, for he seemed to have treble-banked his every fin; swimming with a velocity which plainly showed, that if now, under these circumstances, pushed on, the chase would prove an indefinitely prolonged, if not a hopeless one; nor could any crew endure for so long a period, such an unintermitted, intense straining at the oar; a thing barely tolerable only in some one brief vicissitude. The ship itself, then, as it sometimes happens, offered the most promising intermediate means of overtaking the chase. Accordingly, the boats now made for her, and were soon swayed up to their cranes—the two parts of the wrecked boat having been previously secured by her—and then hoisting everything to her side, and stacking her canvas high up, and sideways outstretching it with stun-sails, like the double-jointed wings of an albatross; the Pequod bore down in the leeward wake of Moby-Dick. At the well known, methodic intervals, the whale’s glittering spout was regularly announced from the manned mast-heads; and when he would be reported as just gone down, Ahab would take the time, and then pacing the deck, binnacle-watch in hand, so soon as the last second of the allotted hour expired, his voice was heard.—"Whose is the doubloon now? D’ye see him?” and if the reply was, No, sir! straightway he commanded them to lift him to his perch. In this way the day wore on; Ahab, now aloft and motionless; anon, unrestingly pacing the planks.</p>
<p>As he was thus walking, uttering no sound, except to hail the men aloft, or to bid them hoist a sail still higher, or to spread one to a still greater breadth—thus to and fro pacing, beneath his slouched hat, at every turn he passed his own wrecked boat, which had been dropped upon the quarter-deck, and lay there reversed; broken bow to shattered stern. At last he paused before it; and as in an already over-clouded sky fresh troops of clouds will sometimes sail across, so over the old man’s face there now stole some such added gloom as this.</p>
<p>Stubb saw him pause; and perhaps intending, not vainly, though, to evince his own unabated fortitude, and thus keep up a valiant place in his Captain’s mind, he advanced, and eyeing the wreck exclaimed—"The thistle the ass refused; it pricked his mouth too keenly, sir; ha! ha!”</p>
<p>“What soulless thing is this that laughs before a wreck? Man, man! did I not know thee brave as fearless fire (and as mechanical) I could swear thou wert a poltroon. Groan nor laugh should be heard before a wreck.”</p>
<p>“Aye, sir,” said Starbuck drawing near, “'tis a solemn sight; an omen, and an ill one.”</p>
<p>“Omen? omen?—the dictionary! If the gods think to speak outright to man, they will honourably speak outright; not shake their heads, and give an old wives’ darkling hint.—Begone! Ye two are the opposite poles of one thing; Starbuck is Stubb reversed, and Stubb is Starbuck; and ye two are all mankind; and Ahab stands alone among the millions of the peopled earth, nor gods nor men his neighbors! Cold, cold—I shiver!—How now? Aloft there! D’ye see him? Sing out for every spout, though he spout ten times a second!”</p>
<p>The day was nearly done; only the hem of his golden robe was rustling. Soon, it was almost dark, but the look-out men still remained unset.</p>
<p>“Can’t see the spout now, sir;—too dark"—cried a voice from the air.</p>
<p>“How heading when last seen?”</p>
<p>“As before, sir,—straight to leeward.”</p>
<p>“Good! he will travel slower now 'tis night. Down royals and top-gallant stun-sails, Mr. Starbuck. We must not run over him before morning; he’s making a passage now, and may heave-to a while. Helm there! keep her full before the wind!—Aloft! come down!—Mr. Stubb, send a fresh hand to the fore-mast head, and see it manned till morning."—Then advancing towards the doubloon in the main-mast—"Men, this gold is mine, for I earned it; but I shall let it abide here till the White Whale is dead; and then, whosoever of ye first raises him, upon the day he shall be killed, this gold is that man’s; and if on that day I shall again raise him, then, ten times its sum shall be divided among all of ye! Away now!—the deck is thine, sir!”</p>
<p>And so saying, he placed himself half way within the scuttle, and slouching his hat, stood there till dawn, except when at intervals rousing himself to see how the night wore on.</p>
</section>
