


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 61. Stubb Kills a Whale.</h1></header>
<p>If to Starbuck the apparition of the Squid was a thing of portents, to Queequeg it was quite a different object.</p>
<p>“When you see him 'quid,” said the savage, honing his harpoon in the bow of his hoisted boat, “then you quick see him 'parm whale.”</p>
<p>The next day was exceedingly still and sultry, and with nothing special to engage them, the Pequod’s crew could hardly resist the spell of sleep induced by such a vacant sea. For this part of the Indian Ocean through which we then were voyaging is not what whalemen call a lively ground; that is, it affords fewer glimpses of porpoises, dolphins, flying-fish, and other vivacious denizens of more stirring waters, than those off the Rio de la Plata, or the in-shore ground off Peru.</p>
<p>It was my turn to stand at the foremast-head; and with my shoulders leaning against the slackened royal shrouds, to and fro I idly swayed in what seemed an enchanted air. No resolution could withstand it; in that dreamy mood losing all consciousness, at last my soul went out of my body; though my body still continued to sway as a pendulum will, long after the power which first moved it is withdrawn.</p>
<p>Ere forgetfulness altogether came over me, I had noticed that the seamen at the main and mizzen-mast-heads were already drowsy. So that at last all three of us lifelessly swung from the spars, and for every swing that we made there was a nod from below from the slumbering helmsman. The waves, too, nodded their indolent crests; and across the wide trance of the sea, east nodded to west, and the sun over all.</p>
<p>Suddenly bubbles seemed bursting beneath my closed eyes; like vices my hands grasped the shrouds; some invisible, gracious agency preserved me; with a shock I came back to life. And lo! close under our lee, not forty fathoms off, a gigantic Sperm Whale lay rolling in the water like the capsized hull of a frigate, his broad, glossy back, of an Ethiopian hue, glistening in the sun’s rays like a mirror. But lazily undulating in the trough of the sea, and ever and anon tranquilly spouting his vapoury jet, the whale looked like a portly burgher smoking his pipe of a warm afternoon. But that pipe, poor whale, was thy last. As if struck by some enchanter’s wand, the sleepy ship and every sleeper in it all at once started into wakefulness; and more than a score of voices from all parts of the vessel, simultaneously with the three notes from aloft, shouted forth the accustomed cry, as the great fish slowly and regularly spouted the sparkling brine into the air.</p>
<p>“Clear away the boats! Luff!” cried Ahab. And obeying his own order, he dashed the helm down before the helmsman could handle the spokes.</p>
<p>The sudden exclamations of the crew must have alarmed the whale; and ere the boats were down, majestically turning, he swam away to the leeward, but with such a steady tranquillity, and making so few ripples as he swam, that thinking after all he might not as yet be alarmed, Ahab gave orders that not an oar should be used, and no man must speak but in whispers. So seated like Ontario Indians on the gunwales of the boats, we swiftly but silently paddled along; the calm not admitting of the noiseless sails being set. Presently, as we thus glided in chase, the monster perpendicularly flitted his tail forty feet into the air, and then sank out of sight like a tower swallowed up.</p>
<p>“There go flukes!” was the cry, an announcement immediately followed by Stubb’s producing his match and igniting his pipe, for now a respite was granted. After the full interval of his sounding had elapsed, the whale rose again, and being now in advance of the smoker’s boat, and much nearer to it than to any of the others, Stubb counted upon the honour of the capture. It was obvious, now, that the whale had at length become aware of his pursuers. All silence of cautiousness was therefore no longer of use. Paddles were dropped, and oars came loudly into play. And still puffing at his pipe, Stubb cheered on his crew to the assault.</p>
<p>Yes, a mighty change had come over the fish. All alive to his jeopardy, he was going “head out"; that part obliquely projecting from the mad yeast which he brewed.*</p>
<p>*It will be seen in some other place of what a very light substance the entire interior of the sperm whale’s enormous head consists. Though apparently the most massive, it is by far the most buoyant part about him. So that with ease he elevates it in the air, and invariably does so when going at his utmost speed. Besides, such is the breadth of the upper part of the front of his head, and such the tapering cut-water formation of the lower part, that by obliquely elevating his head, he thereby may be said to transform himself from a bluff-bowed sluggish galliot into a sharppointed New York pilot-boat.</p>
<p>“Start her, start her, my men! Don’t hurry yourselves; take plenty of time—but start her; start her like thunder-claps, that’s all,” cried Stubb, spluttering out the smoke as he spoke. “Start her, now; give ’em the long and strong stroke, Tashtego. Start her, Tash, my boy—start her, all; but keep cool, keep cool—cucumbers is the word—easy, easy—only start her like grim death and grinning devils, and raise the buried dead perpendicular out of their graves, boys—that’s all. Start her!”</p>
<p>“Woo-hoo! Wa-hee!” screamed the Gay-Header in reply, raising some old war-whoop to the skies; as every oarsman in the strained boat involuntarily bounced forward with the one tremendous leading stroke which the eager Indian gave.</p>
<p>But his wild screams were answered by others quite as wild. “Kee-hee! Kee-hee!” yelled Daggoo, straining forwards and backwards on his seat, like a pacing tiger in his cage.</p>
<p>“Ka-la! Koo-loo!” howled Queequeg, as if smacking his lips over a mouthful of Grenadier’s steak. And thus with oars and yells the keels cut the sea. Meanwhile, Stubb retaining his place in the van, still encouraged his men to the onset, all the while puffing the smoke from his mouth. Like desperadoes they tugged and they strained, till the welcome cry was heard—"Stand up, Tashtego!—give it to him!” The harpoon was hurled. “Stern all!” The oarsmen backed water; the same moment something went hot and hissing along every one of their wrists. It was the magical line. An instant before, Stubb had swiftly caught two additional turns with it round the loggerhead, whence, by reason of its increased rapid circlings, a hempen blue smoke now jetted up and mingled with the steady fumes from his pipe. As the line passed round and round the loggerhead; so also, just before reaching that point, it blisteringly passed through and through both of Stubb’s hands, from which the hand-cloths, or squares of quilted canvas sometimes worn at these times, had accidentally dropped. It was like holding an enemy’s sharp two-edged sword by the blade, and that enemy all the time striving to wrest it out of your clutch.</p>
<p>“Wet the line! wet the line!” cried Stubb to the tub oarsman (him seated by the tub) who, snatching off his hat, dashed sea-water into it.* More turns were taken, so that the line began holding its place. The boat now flew through the boiling water like a shark all fins. Stubb and Tashtego here changed places—stem for stern—a staggering business truly in that rocking commotion.</p>
<p>*Partly to show the indispensableness of this act, it may here be stated, that, in the old Dutch fishery, a mop was used to dash the running line with water; in many other ships, a wooden piggin, or bailer, is set apart for that purpose. Your hat, however, is the most convenient.</p>
<p>From the vibrating line extending the entire length of the upper part of the boat, and from its now being more tight than a harpstring, you would have thought the craft had two keels—one cleaving the water, the other the air—as the boat churned on through both opposing elements at once. A continual cascade played at the bows; a ceaseless whirling eddy in her wake; and, at the slightest motion from within, even but of a little finger, the vibrating, cracking craft canted over her spasmodic gunwale into the sea. Thus they rushed; each man with might and main clinging to his seat, to prevent being tossed to the foam; and the tall form of Tashtego at the steering oar crouching almost double, in order to bring down his centre of gravity. Whole Atlantics and Pacifics seemed passed as they shot on their way, till at length the whale somewhat slackened his flight.</p>
<p>“Haul in—haul in!” cried Stubb to the bowsman! and, facing round towards the whale, all hands began pulling the boat up to him, while yet the boat was being towed on. Soon ranging up by his flank, Stubb, firmly planting his knee in the clumsy cleat, darted dart after dart into the flying fish; at the word of command, the boat alternately sterning out of the way of the whale’s horrible wallow, and then ranging up for another fling.</p>
<p>The red tide now poured from all sides of the monster like brooks down a hill. His tormented body rolled not in brine but in blood, which bubbled and seethed for furlongs behind in their wake. The slanting sun playing upon this crimson pond in the sea, sent back its reflection into every face, so that they all glowed to each other like red men. And all the while, jet after jet of white smoke was agonizingly shot from the spiracle of the whale, and vehement puff after puff from the mouth of the excited headsman; as at every dart, hauling in upon his crooked lance (by the line attached to it), Stubb straightened it again and again, by a few rapid blows against the gunwale, then again and again sent it into the whale.</p>
<p>“Pull up—pull up!” he now cried to the bowsman, as the waning whale relaxed in his wrath. “Pull up!—close to!” and the boat ranged along the fish’s flank. When reaching far over the bow, Stubb slowly churned his long sharp lance into the fish, and kept it there, carefully churning and churning, as if cautiously seeking to feel after some gold watch that the whale might have swallowed, and which he was fearful of breaking ere he could hook it out. But that gold watch he sought was the innermost life of the fish. And now it is struck; for, starting from his trance into that unspeakable thing called his “flurry,” the monster horribly wallowed in his blood, overwrapped himself in impenetrable, mad, boiling spray, so that the imperilled craft, instantly dropping astern, had much ado blindly to struggle out from that phrensied twilight into the clear air of the day.</p>
<p>And now abating in his flurry, the whale once more rolled out into view; surging from side to side; spasmodically dilating and contracting his spout-hole, with sharp, cracking, agonized respirations. At last, gush after gush of clotted red gore, as if it had been the purple lees of red wine, shot into the frighted air; and falling back again, ran dripping down his motionless flanks into the sea. His heart had burst!</p>
<p>“He’s dead, Mr. Stubb,” said Daggoo.</p>
<p>“Yes; both pipes smoked out!” and withdrawing his own from his mouth, Stubb scattered the dead ashes over the water; and, for a moment, stood thoughtfully eyeing the vast corpse he had made.</p>
</section>
