


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 119. The Candles.</h1></header>
<p>Warmest climes but nurse the cruellest fangs: the tiger of Bengal crouches in spiced groves of ceaseless verdure. Skies the most effulgent but basket the deadliest thunders: gorgeous Cuba knows tornadoes that never swept tame northern lands. So, too, it is, that in these resplendent Japanese seas the mariner encounters the direst of all storms, the Typhoon. It will sometimes burst from out that cloudless sky, like an exploding bomb upon a dazed and sleepy town.</p>
<p>Towards evening of that day, the Pequod was torn of her canvas, and bare-poled was left to fight a Typhoon which had struck her directly ahead. When darkness came on, sky and sea roared and split with the thunder, and blazed with the lightning, that showed the disabled masts fluttering here and there with the rags which the first fury of the tempest had left for its after sport.</p>
<p>Holding by a shroud, Starbuck was standing on the quarter-deck; at every flash of the lightning glancing aloft, to see what additional disaster might have befallen the intricate hamper there; while Stubb and Flask were directing the men in the higher hoisting and firmer lashing of the boats. But all their pains seemed naught. Though lifted to the very top of the cranes, the windward quarter boat (Ahab’s) did not escape. A great rolling sea, dashing high up against the reeling ship’s high teetering side, stove in the boat’s bottom at the stern, and left it again, all dripping through like a sieve.</p>
<p>“Bad work, bad work! Mr. Starbuck,” said Stubb, regarding the wreck, “but the sea will have its way. Stubb, for one, can’t fight it. You see, Mr. Starbuck, a wave has such a great long start before it leaps, all round the world it runs, and then comes the spring! But as for me, all the start I have to meet it, is just across the deck here. But never mind; it’s all in fun: so the old song says;"—(SINGS.)</p>
<div class="block-rw extract-verse-rw">
  Oh! jolly is the gale,
  And a joker is the whale,
  A’ flourishin’ his tail,—
  Such a funny, sporty, gamy, jesty, joky, hoky-poky lad, is the Ocean, oh!
  The scud all a flyin',
  That’s his flip only foamin';
  When he stirs in the spicin',—
  Such a funny, sporty, gamy, jesty, joky, hoky-poky lad, is the Ocean, oh!
  Thunder splits the ships,
  But he only smacks his lips,
  A tastin’ of this flip,—
  Such a funny, sporty, gamy, jesty, joky, hoky-poky lad, is the Ocean, oh!</div>
<p>“Avast Stubb,” cried Starbuck, “let the Typhoon sing, and strike his harp here in our rigging; but if thou art a brave man thou wilt hold thy peace.”</p>
<p>“But I am not a brave man; never said I was a brave man; I am a coward; and I sing to keep up my spirits. And I tell you what it is, Mr. Starbuck, there’s no way to stop my singing in this world but to cut my throat. And when that’s done, ten to one I sing ye the doxology for a wind-up.”</p>
<p>“Madman! look through my eyes if thou hast none of thine own.”</p>
<p>“What! how can you see better of a dark night than anybody else, never mind how foolish?”</p>
<p>“Here!” cried Starbuck, seizing Stubb by the shoulder, and pointing his hand towards the weather bow, “markest thou not that the gale comes from the eastward, the very course Ahab is to run for Moby Dick? the very course he swung to this day noon? now mark his boat there; where is that stove? In the stern-sheets, man; where he is wont to stand—his stand-point is stove, man! Now jump overboard, and sing away, if thou must!</p>
<p>“I don’t half understand ye: what’s in the wind?”</p>
<p>“Yes, yes, round the Cape of Good Hope is the shortest way to Nantucket,” soliloquized Starbuck suddenly, heedless of Stubb’s question. “The gale that now hammers at us to stave us, we can turn it into a fair wind that will drive us towards home. Yonder, to windward, all is blackness of doom; but to leeward, homeward—I see it lightens up there; but not with the lightning.”</p>
<p>At that moment in one of the intervals of profound darkness, following the flashes, a voice was heard at his side; and almost at the same instant a volley of thunder peals rolled overhead.</p>
<p>“Who’s there?”</p>
<p>“Old Thunder!” said Ahab, groping his way along the bulwarks to his pivot-hole; but suddenly finding his path made plain to him by elbowed lances of fire.</p>
<p>Now, as the lightning rod to a spire on shore is intended to carry off the perilous fluid into the soil; so the kindred rod which at sea some ships carry to each mast, is intended to conduct it into the water. But as this conductor must descend to considerable depth, that its end may avoid all contact with the hull; and as moreover, if kept constantly towing there, it would be liable to many mishaps, besides interfering not a little with some of the rigging, and more or less impeding the vessel’s way in the water; because of all this, the lower parts of a ship’s lightning-rods are not always overboard; but are generally made in long slender links, so as to be the more readily hauled up into the chains outside, or thrown down into the sea, as occasion may require.</p>
<p>“The rods! the rods!” cried Starbuck to the crew, suddenly admonished to vigilance by the vivid lightning that had just been darting flambeaux, to light Ahab to his post. “Are they overboard? drop them over, fore and aft. Quick!”</p>
<p>“Avast!” cried Ahab; “let’s have fair play here, though we be the weaker side. Yet I’ll contribute to raise rods on the Himmalehs and Andes, that all the world may be secured; but out on privileges! Let them be, sir.”</p>
<p>“Look aloft!” cried Starbuck. “The corpusants! the corpusants!”</p>
<p>All the yard-arms were tipped with a pallid fire; and touched at each tri-pointed lightning-rod-end with three tapering white flames, each of the three tall masts was silently burning in that sulphurous air, like three gigantic wax tapers before an altar.</p>
<p>“Blast the boat! let it go!” cried Stubb at this instant, as a swashing sea heaved up under his own little craft, so that its gunwale violently jammed his hand, as he was passing a lashing. “Blast it!”—but slipping backward on the deck, his uplifted eyes caught the flames; and immediately shifting his tone he cried—"The corpusants have mercy on us all!”</p>
<p>To sailors, oaths are household words; they will swear in the trance of the calm, and in the teeth of the tempest; they will imprecate curses from the topsail-yard-arms, when most they teeter over to a seething sea; but in all my voyagings, seldom have I heard a common oath when God’s burning finger has been laid on the ship; when His “Mene, Mene, Tekel Upharsin" has been woven into the shrouds and the cordage.</p>
<p>While this pallidness was burning aloft, few words were heard from the enchanted crew; who in one thick cluster stood on the forecastle, all their eyes gleaming in that pale phosphorescence, like a far away constellation of stars. Relieved against the ghostly light, the gigantic jet negro, Daggoo, loomed up to thrice his real stature, and seemed the black cloud from which the thunder had come. The parted mouth of Tashtego revealed his shark-white teeth, which strangely gleamed as if they too had been tipped by corpusants; while lit up by the preternatural light, Queequeg’s tattooing burned like Satanic blue flames on his body.</p>
<p>The tableau all waned at last with the pallidness aloft; and once more the Pequod and every soul on her decks were wrapped in a pall. A moment or two passed, when Starbuck, going forward, pushed against some one. It was Stubb. “What thinkest thou now, man; I heard thy cry; it was not the same in the song.”</p>
<p>“No, no, it wasn’t; I said the corpusants have mercy on us all; and I hope they will, still. But do they only have mercy on long faces?—have they no bowels for a laugh? And look ye, Mr. Starbuck—but it’s too dark to look. Hear me, then: I take that mast-head flame we saw for a sign of good luck; for those masts are rooted in a hold that is going to be chock a’ block with sperm-oil, d’ye see; and so, all that sperm will work up into the masts, like sap in a tree. Yes, our three masts will yet be as three spermaceti candles—that’s the good promise we saw.”</p>
<p>At that moment Starbuck caught sight of Stubb’s face slowly beginning to glimmer into sight. Glancing upwards, he cried: “See! see!” and once more the high tapering flames were beheld with what seemed redoubled supernaturalness in their pallor.</p>
<p>“The corpusants have mercy on us all,” cried Stubb, again.</p>
<p>At the base of the mainmast, full beneath the doubloon and the flame, the Parsee was kneeling in Ahab’s front, but with his head bowed away from him; while near by, from the arched and overhanging rigging, where they had just been engaged securing a spar, a number of the seamen, arrested by the glare, now cohered together, and hung pendulous, like a knot of numbed wasps from a drooping, orchard twig. In various enchanted attitudes, like the standing, or stepping, or running skeletons in Herculaneum, others remained rooted to the deck; but all their eyes upcast.</p>
<p>“Aye, aye, men!” cried Ahab. “Look up at it; mark it well; the white flame but lights the way to the White Whale! Hand me those mainmast links there; I would fain feel this pulse, and let mine beat against it; blood against fire! So.”</p>
<p>Then turning—the last link held fast in his left hand, he put his foot upon the Parsee; and with fixed upward eye, and high-flung right arm, he stood erect before the lofty tri-pointed trinity of flames.</p>
<p>“Oh! thou clear spirit of clear fire, whom on these seas I as Persian once did worship, till in the sacramental act so burned by thee, that to this hour I bear the scar; I now know thee, thou clear spirit, and I now know that thy right worship is defiance. To neither love nor reverence wilt thou be kind; and e’en for hate thou canst but kill; and all are killed. No fearless fool now fronts thee. I own thy speechless, placeless power; but to the last gasp of my earthquake life will dispute its unconditional, unintegral mastery in me. In the midst of the personified impersonal, a personality stands here. Though but a point at best; whencesoe’er I came; wheresoe’er I go; yet while I earthly live, the queenly personality lives in me, and feels her royal rights. But war is pain, and hate is woe. Come in thy lowest form of love, and I will kneel and kiss thee; but at thy highest, come as mere supernal power; and though thou launchest navies of full-freighted worlds, there’s that in here that still remains indifferent. Oh, thou clear spirit, of thy fire thou madest me, and like a true child of fire, I breathe it back to thee.”</p>
<p>[SUDDEN, REPEATED FLASHES OF LIGHTNING; THE NINE FLAMES LEAP LENGTHWISE TO THRICE THEIR PREVIOUS HEIGHT; AHAB, WITH THE REST, CLOSES HIS EYES, HIS RIGHT HAND PRESSED HARD UPON THEM.]</p>
<p>“I own thy speechless, placeless power; said I not so? Nor was it wrung from me; nor do I now drop these links. Thou canst blind; but I can then grope. Thou canst consume; but I can then be ashes. Take the homage of these poor eyes, and shutter-hands. I would not take it. The lightning flashes through my skull; mine eye-balls ache and ache; my whole beaten brain seems as beheaded, and rolling on some stunning ground. Oh, oh! Yet blindfold, yet will I talk to thee. Light though thou be, thou leapest out of darkness; but I am darkness leaping out of light, leaping out of thee! The javelins cease; open eyes; see, or not? There burn the flames! Oh, thou magnanimous! now I do glory in my genealogy. But thou art but my fiery father; my sweet mother, I know not. Oh, cruel! what hast thou done with her? There lies my puzzle; but thine is greater. Thou knowest not how came ye, hence callest thyself unbegotten; certainly knowest not thy beginning, hence callest thyself unbegun. I know that of me, which thou knowest not of thyself, oh, thou omnipotent. There is some unsuffusing thing beyond thee, thou clear spirit, to whom all thy eternity is but time, all thy creativeness mechanical. Through thee, thy flaming self, my scorched eyes do dimly see it. Oh, thou foundling fire, thou hermit immemorial, thou too hast thy incommunicable riddle, thy unparticipated grief. Here again with haughty agony, I read my sire. Leap! leap up, and lick the sky! I leap with thee; I burn with thee; would fain be welded with thee; defyingly I worship thee!”</p>
<p>“The boat! the boat!” cried Starbuck, “look at thy boat, old man!”</p>
<p>Ahab’s harpoon, the one forged at Perth’s fire, remained firmly lashed in its conspicuous crotch, so that it projected beyond his whale-boat’s bow; but the sea that had stove its bottom had caused the loose leather sheath to drop off; and from the keen steel barb there now came a levelled flame of pale, forked fire. As the silent harpoon burned there like a serpent’s tongue, Starbuck grasped Ahab by the arm—"God, God is against thee, old man; forbear! 'tis an ill voyage! ill begun, ill continued; let me square the yards, while we may, old man, and make a fair wind of it homewards, to go on a better voyage than this.”</p>
<p>Overhearing Starbuck, the panic-stricken crew instantly ran to the braces—though not a sail was left aloft. For the moment all the aghast mate’s thoughts seemed theirs; they raised a half mutinous cry. But dashing the rattling lightning links to the deck, and snatching the burning harpoon, Ahab waved it like a torch among them; swearing to transfix with it the first sailor that but cast loose a rope’s end. Petrified by his aspect, and still more shrinking from the fiery dart that he held, the men fell back in dismay, and Ahab again spoke:—</p>
<p>“All your oaths to hunt the White Whale are as binding as mine; and heart, soul, and body, lungs and life, old Ahab is bound. And that ye may know to what tune this heart beats; look ye here; thus I blow out the last fear!” And with one blast of his breath he extinguished the flame.</p>
<p>As in the hurricane that sweeps the plain, men fly the neighborhood of some lone, gigantic elm, whose very height and strength but render it so much the more unsafe, because so much the more a mark for thunderbolts; so at those last words of Ahab’s many of the mariners did run from him in a terror of dismay.</p>
</section>
