


<section class="body-rw Chapter-rw" epub:type="bodymatter chapter">
<header>
<h1>Chapter 128. The Pequod Meets The Rachel.</h1></header>
<p>Next day, a large ship, the Rachel, was descried, bearing directly down upon the Pequod, all her spars thickly clustering with men. At the time the Pequod was making good speed through the water; but as the broad-winged windward stranger shot nigh to her, the boastful sails all fell together as blank bladders that are burst, and all life fled from the smitten hull.</p>
<p>“Bad news; she brings bad news,” muttered the old Manxman. But ere her commander, who, with trumpet to mouth, stood up in his boat; ere he could hopefully hail, Ahab’s voice was heard.</p>
<p>“Hast seen the White Whale?”</p>
<p>“Aye, yesterday. Have ye seen a whale-boat adrift?”</p>
<p>Throttling his joy, Ahab negatively answered this unexpected question; and would then have fain boarded the stranger, when the stranger captain himself, having stopped his vessel’s way, was seen descending her side. A few keen pulls, and his boat-hook soon clinched the Pequod’s main-chains, and he sprang to the deck. Immediately he was recognised by Ahab for a Nantucketer he knew. But no formal salutation was exchanged.</p>
<p>“Where was he?—not killed!—not killed!” cried Ahab, closely advancing. “How was it?”</p>
<p>It seemed that somewhat late on the afternoon of the day previous, while three of the stranger’s boats were engaged with a shoal of whales, which had led them some four or five miles from the ship; and while they were yet in swift chase to windward, the white hump and head of Moby Dick had suddenly loomed up out of the water, not very far to leeward; whereupon, the fourth rigged boat—a reserved one—had been instantly lowered in chase. After a keen sail before the wind, this fourth boat—the swiftest keeled of all—seemed to have succeeded in fastening—at least, as well as the man at the mast-head could tell anything about it. In the distance he saw the diminished dotted boat; and then a swift gleam of bubbling white water; and after that nothing more; whence it was concluded that the stricken whale must have indefinitely run away with his pursuers, as often happens. There was some apprehension, but no positive alarm, as yet. The recall signals were placed in the rigging; darkness came on; and forced to pick up her three far to windward boats—ere going in quest of the fourth one in the precisely opposite direction—the ship had not only been necessitated to leave that boat to its fate till near midnight, but, for the time, to increase her distance from it. But the rest of her crew being at last safe aboard, she crowded all sail—stunsail on stunsail—after the missing boat; kindling a fire in her try-pots for a beacon; and every other man aloft on the look-out. But though when she had thus sailed a sufficient distance to gain the presumed place of the absent ones when last seen; though she then paused to lower her spare boats to pull all around her; and not finding anything, had again dashed on; again paused, and lowered her boats; and though she had thus continued doing till daylight; yet not the least glimpse of the missing keel had been seen.</p>
<p>The story told, the stranger Captain immediately went on to reveal his object in boarding the Pequod. He desired that ship to unite with his own in the search; by sailing over the sea some four or five miles apart, on parallel lines, and so sweeping a double horizon, as it were.</p>
<p>“I will wager something now,” whispered Stubb to Flask, “that some one in that missing boat wore off that Captain’s best coat; mayhap, his watch—he’s so cursed anxious to get it back. Who ever heard of two pious whale-ships cruising after one missing whale-boat in the height of the whaling season? See, Flask, only see how pale he looks—pale in the very buttons of his eyes—look—it wasn’t the coat—it must have been the—”</p>
<p>“My boy, my own boy is among them. For God’s sake—I beg, I conjure"—here exclaimed the stranger Captain to Ahab, who thus far had but icily received his petition. “For eight-and-forty hours let me charter your ship—I will gladly pay for it, and roundly pay for it—if there be no other way—for eight-and-forty hours only—only that—you must, oh, you must, and you SHALL do this thing.”</p>
<p>“His son!” cried Stubb, “oh, it’s his son he’s lost! I take back the coat and watch—what says Ahab? We must save that boy.”</p>
<p>“He’s drowned with the rest on 'em, last night,” said the old Manx sailor standing behind them; “I heard; all of ye heard their spirits.”</p>
<p>Now, as it shortly turned out, what made this incident of the Rachel’s the more melancholy, was the circumstance, that not only was one of the Captain’s sons among the number of the missing boat’s crew; but among the number of the other boat’s crews, at the same time, but on the other hand, separated from the ship during the dark vicissitudes of the chase, there had been still another son; as that for a time, the wretched father was plunged to the bottom of the cruellest perplexity; which was only solved for him by his chief mate’s instinctively adopting the ordinary procedure of a whale-ship in such emergencies, that is, when placed between jeopardized but divided boats, always to pick up the majority first. But the captain, for some unknown constitutional reason, had refrained from mentioning all this, and not till forced to it by Ahab’s iciness did he allude to his one yet missing boy; a little lad, but twelve years old, whose father with the earnest but unmisgiving hardihood of a Nantucketer’s paternal love, had thus early sought to initiate him in the perils and wonders of a vocation almost immemorially the destiny of all his race. Nor does it unfrequently occur, that Nantucket captains will send a son of such tender age away from them, for a protracted three or four years’ voyage in some other ship than their own; so that their first knowledge of a whaleman’s career shall be unenervated by any chance display of a father’s natural but untimely partiality, or undue apprehensiveness and concern.</p>
<p>Meantime, now the stranger was still beseeching his poor boon of Ahab; and Ahab still stood like an anvil, receiving every shock, but without the least quivering of his own.</p>
<p>“I will not go,” said the stranger, “till you say aye to me. Do to me as you would have me do to you in the like case. For YOU too have a boy, Captain Ahab—though but a child, and nestling safely at home now—a child of your old age too—Yes, yes, you relent; I see it—run, run, men, now, and stand by to square in the yards.”</p>
<p>“Avast,” cried Ahab—"touch not a rope-yarn"; then in a voice that prolongingly moulded every word—"Captain Gardiner, I will not do it. Even now I lose time. Good-bye, good-bye. God bless ye, man, and may I forgive myself, but I must go. Mr. Starbuck, look at the binnacle watch, and in three minutes from this present instant warn off all strangers: then brace forward again, and let the ship sail as before.”</p>
<p>Hurriedly turning, with averted face, he descended into his cabin, leaving the strange captain transfixed at this unconditional and utter rejection of his so earnest suit. But starting from his enchantment, Gardiner silently hurried to the side; more fell than stepped into his boat, and returned to his ship.</p>
<p>Soon the two ships diverged their wakes; and long as the strange vessel was in view, she was seen to yaw hither and thither at every dark spot, however small, on the sea. This way and that her yards were swung round; starboard and larboard, she continued to tack; now she beat against a head sea; and again it pushed her before it; while all the while, her masts and yards were thickly clustered with men, as three tall cherry trees, when the boys are cherrying among the boughs.</p>
<p>But by her still halting course and winding, woeful way, you plainly saw that this ship that so wept with spray, still remained without comfort. She was Rachel, weeping for her children, because they were not.</p>
</section>
