


<section class="frontmatter-rw Copyright-rw" epub:type="frontmatter copyright-page">
<div class="copyright-rw">
<p>
The Project Gutenberg EBook of Moby-Dick; or The Whale, by Herman Melville
</p>

<p>
This eBook is for the use of anyone anywhere at no cost and with
almost no restrictions whatsoever.  You may copy it, give it away or
re-use it under the terms of the Project Gutenberg License included
with this eBook or online at <a href="http://www.gutenberg.org">www.gutenberg.org</a>
</p>


<p>
Title: Moby-Dick; or The Whale
</p>

<p>
Author: Herman Melville
</p>

<p>
Last Updated: January 3, 2009
</p>
<p>
Posting Date: December 25, 2008 [EBook #2701]
</p>
<p>
Release Date: June, 2001
</p>

<p>
Language: English
</p>

<p>
Produced by Daniel Lazarus and Jonesey
</p>
</div>

</section>
