


<section class="frontmatter-rw Introduction-rw" epub:type="frontmatter">
<header>
<h1>ETYMOLOGY.</h1>
<p class="title-other-rw">(Supplied by a Late Consumptive Usher to a Grammar School)</p></header>
<p>The pale Usher—threadbare in coat, heart, body, and brain; I see him now. He was ever dusting his old lexicons and grammars, with a queer handkerchief, mockingly embellished with all the gay flags of all the known nations of the world. He loved to dust his old grammars; it somehow mildly reminded him of his mortality.</p>
<div class="block-rw extract-rw">

<p>“While you take in hand to school others, and to teach them by what name a whale-fish is to be called in our tongue leaving out, through ignorance, the letter H, which almost alone maketh the signification of the word, you deliver that which is not true.”</p>
<p class="source-rw">—HACKLUYT</p>
</div>
<div class="block-rw extract-rw">
<p>“WHALE.... Sw. and Dan. HVAL. This animal is named from roundness or rolling; for in Dan. HVALT is arched or vaulted.”</p>
<p class="source-rw">—WEBSTER’S DICTIONARY</p>
</div>
<div class="block-rw extract-rw">
<p>“WHALE.... It is more immediately from the Dut. and Ger. WALLEN; A.S. WALW-IAN, to roll, to wallow.”</p>
<p class="source-rw">—RICHARDSON’S DICTIONARY</p>
</div>
<div class="block-rw list-simple-rw">
<p>KETOS, GREEK.</p>
<p>CETUS, LATIN.</p>
<p>WHOEL, ANGLO-SAXON.</p>
<p>HVALT, DANISH.</p>
<p>WAL, DUTCH.</p>
<p>HWAL, SWEDISH.</p>
<p>WHALE, ICELANDIC.</p>
<p>WHALE, ENGLISH.</p>
<p>BALEINE, FRENCH.</p>
<p>BALLENA, SPANISH.</p>
<p>PEKEE-NUEE-NUEE, FEGEE.</p>
<p>PEKEE-NUEE-NUEE, ERROMANGOAN.</p>
     </div>
     
     
     </section>
