


<section class="frontmatter-rw Preface-rw" epub:type="frontmatter colophon">

<header>
<h1>Original Transcriber’s Notes:</h1>
</header>
<p>This text is a combination of etexts, one from the now-defunct ERIS project at Virginia Tech and one from Project Gutenberg’s archives. The proofreaders of this version are indebted to The University of Adelaide Library for preserving the Virginia Tech version. The resulting etext was compared with a public domain hard copy version of the text.</p>
<p>In chapters 24, 89, and 90, we substituted a capital L for the symbol for the British pound, a unit of currency.<a epub:type="noteref" href="#n1">1</a></p>

<aside epub:type="footnote" id="n1">
	<p>These have been corrected in this EPUB3 edition.</p>
</aside>


</section>
